{% extends "layout.html" %}

{% block pageTitle %}
  Add T Levels page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="confirmation-tlevels-added-additional" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
                            Add T Levels
                        </h1>
                    </legend>

                    <h2 class="govuk-heading-l">
                      {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerName'] }}   <span class="govuk-hint"><abbr>UKPRN</abbr>: {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerUKPRN'] }}</span>
                    </h2>

                    <span id="tlevel-choice">
                          <p class="govuk-body govuk-!-margin-bottom-5">Select and submit the T Levels you have approved this provider to offer.</p>
                    </span>
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="tlevelchoice" name="tlevelchoice" type="checkbox" value="tl5">
                        <label class="govuk-label govuk-checkboxes__label" for="tlevelchoice">
                          {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerTlevel3'] }} 
                        </label>
                      </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Submit
            </button>

        </form>
    </div>
</div>


{% endblock %}

<!-- Select at least one T Level -->