{% extends "layout.html" %}

{% block pageTitle %}
  Registrations - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../tlevels-dashboard.html">Home</a>
    </li>
    
  </ol>
</div>
{% endblock %}

{% block content %}


<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">Registrations</h1>
            <p class="govuk-body">Tell us about your learners and the T Levels they are studying</p>
        </div>
    </div>
</div>

<!-- MAIN ROW -->
<section class="homepage-section homepage-section--services-and-info">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">In this section</h2>
                <ul class="two-column-services-and-info__list">  
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="upload-registrations-file.html">Upload registrations
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Add or change registration details for learners using a CSV file.</p>
                        </div>
                    </li>        
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="../registrations/add/add-registration-q1.html">Add a registration</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Add details one at a time for registered learners.</p>
                        </div>
                    </li>      
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="../registrations/manage/search-registration.html">Manage registrations</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">View and change registration details, including reinstating and withdrawing learners.</p>
                        </div>
                    </li>   
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="../registrations/download-data/current/registrations-generating-download.html">Download registrations data</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Download your data as a CSV file.</p>
                        </div>
                    </li>  
            </ul>
        </div>
    </div>
    </section>

{% endblock %}
