
{% extends "layout.html" %}

{% block pageTitle %}
A to Z Glossary
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">A to Z Glossary</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">A to Z Glossary</h1>
    <p class="govuk-body-l">A collection of terms commonly used across the T Levels service lines</p>
    <p>From: R&C Team</p>
    <p>Published: 31st January 2022</p>
    <p>Last updated: 25th March 2022</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">A</h2>
    <h3 class="govuk-heading-m">Allocation</h3>
    <p>Permission to run limited courses.</p>

    <h3 class="govuk-heading-m">Appeal</h3>
    <p>Content.</p>

    <h3 class="govuk-heading-m">Assessment</h3>
    <p>Content.</p>

    <h3 class="govuk-heading-m">Awarding organisation (AO)</h3>
    <p>content.</p>

    <h2 class="govuk-heading-l">B</h2>

    <h2 class="govuk-heading-l">C</h2>

    <h3 class="govuk-heading-m">Centre</h3>
    <p>content.</p>

    <h3 class="govuk-heading-m">Centre review</h3>
    <p>content.</p>

    <h3 class="govuk-heading-m">Core</h3>
    <p>content.</p>

    <h2 class="govuk-heading-l">D</h2>

    <h2 class="govuk-heading-l">E</h2>

    <h3 class="govuk-heading-m">Education skills funding agency (ESFA)</h3>
    <p>Education and Skills Funding Agency (ESFA), is an executive agency of the Department for Education (DfE).</p>

    <h3 class="govuk-heading-m">Exam period</h3>
    <p>Content.</p>

    <h2 class="govuk-heading-l">F</h2>

    <h3 class="govuk-heading-m">Further Education (FE)</h3>
    <p>This is an educational level between secondary and higher education. It tends to be vocational. Most people studying FE courses will be over 16, but some courses are available to people aged 14 and over. FE courses are usually taught in FE colleges, sixth form colleges, and adult education centres (ie not schools).</p>
    
    <h3 class="govuk-heading-m">Funding Information Service (FIS)</h3>
    <p>FIS is an offline tool you can use to check your data against the validation rules.</p>

    <h2 class="govuk-heading-l">G</h2>

    <h2 class="govuk-heading-l">H</h2>

    <h2 class="govuk-heading-l">I</h2>
    <h3 class="govuk-heading-m">Individualised Learner Record (ILR)</h3>
    <p>Information to help further education (FE) providers collect, return and check the quality of Individualised Learner Record (ILR) and other learner data.</p>

    <h2 class="govuk-heading-l">J</h2>
    <h2 class="govuk-heading-l">K</h2>
    <h2 class="govuk-heading-l">L</h2>
    <h2 class="govuk-heading-l">M</h2>
    <h2 class="govuk-heading-l">N</h2>
    <h2 class="govuk-heading-l">O</h2>
    <h3 class="govuk-heading-m">Occupational specialism</h3>
    <p>content.</p>

    <h3 class="govuk-heading-m">Overall result</h3>
    <p>content.</p>

    <h2 class="govuk-heading-l">P</h2>
    
    <h3 class="govuk-heading-m">Personal learning record (PLR)</h3>
    <p>Your personal learning record (PLR) is a permanent online record of your qualifications and achievements. It’s held by the Education and Skills Funding Agency (ESFA).</p>
    <p>Your PLR records general and vocational qualifications such as QCF, A levels, GCSEs, BTEC, Diplomas and Functional Skills.</p>

    <h3 class="govuk-heading-m">Provider</h3>
    <p>content</p>
    
    <h2 class="govuk-heading-l">Q</h2>
    <h2 class="govuk-heading-l">R</h2>
    <h3 class="govuk-heading-m">Results and Certification (R&C)</h3>
    <p>Internal term to used for shorthand reference of the Manage T Level results service.</p>

    <h3 class="govuk-heading-m">Review of marking and moderation (ROMM)</h3>
    <p>content.</p>

    <h2 class="govuk-heading-l">S</h2>
    <h3 class="govuk-heading-m">Statement of Achievement (SOA)</h3>
    <p>Certificate generated for learners who have either withdrawn or did not pass all components of their T Level.</p>

    <h3 class="govuk-heading-m">Support with delivering T Levels (SWDTL)</h3>
    <p>content.</p>
    
    <h2 class="govuk-heading-l">T</h2>

    <h2 class="govuk-heading-l">U</h2>
    <h3 class="govuk-heading-m">UCAS</h3>
    <p>The Universities and Colleges Admissions Service whose main role is to operate the application process for British universities.</p>

    <h3 class="govuk-heading-m">UK ENIC</h3>
    <p>A service which provides impartial judgement on international qualifications, and how they compare to UK qualifications. Previously known as UK NARIC prior to the UK leaving the European Union. ENIC stands for European Network of Information Centres, but the term does not need to be spelled out.</p>

    <h3 class="govuk-heading-m">UK NARIC</h3>
    <p>Previous name for UK ENIC, whilst the UK was part of the EU.</p>

    <h3 class="govuk-heading-m">UK Provider Reference Number (UKPRN)</h3>
    <p>This is the unique identifier given to higher education providers.</p>

    <h3 class="govuk-heading-m">Unique Learner Number (ULN)</h3>
    <p>This is the unique reference number given to all learners.</p>

    <h2 class="govuk-heading-l">V</h2>
    <h2 class="govuk-heading-l">W</h2>
    <h2 class="govuk-heading-l">X</h2>
    <h2 class="govuk-heading-l">Y</h2>
    <h2 class="govuk-heading-l">Z</h2>
  </div>
</div>


{% endblock %}
