
{% extends "layout.html" %}

{% block pageTitle %}
A to Z Glossary
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">A to Z Glossary</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">A to Z Glossary</h1>
    <p class="govuk-body-l">Information about the T Levels and the Results and Certification (R&C) service</p>
    <p>From: R&C Team</p>
    <p>Published: 31st January 2022</p>
    <p>Last updated: 31st January 2022</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

<p>Content to be added</p>

{% endblock %}
