
{% extends "layout.html" %}

{% block pageTitle %}
Business Needs
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Business Needs
      </h1>

      <p>Content for BA to Add</p>

      <h2 class="govuk-heading-m">Business Needs MN001</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN002</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>
      
      <h2 class="govuk-heading-m">Business Needs MN003</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN004</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN005</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN006</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN007</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN008</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN009</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN010</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN011</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN012</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN013</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      <h2 class="govuk-heading-m">Business Needs MN014</h2>
      <p class="govuk-body">BA TO ADD CONTENT.</p>

      
    </div>
  </div>

{% endblock %}
