
{% extends "layout.html" %}

{% block pageTitle %}
Business Needs
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Business Needs
      </h1>

      <p>Content for BA to add and maintain</p>

      <h2 class="govuk-heading-l">Appeals</h2>
      <p class="govuk-body-l">Appeals description needed.</p>
  
      <h3 class="govuk-heading-m">Appeals BN001</h3>
      <p class="govuk-body">As the ESFA, we need to know when a grade is final, so that there is no uncertainty about the grade being changed and that it is ready for overall calculation.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
      <h3 class="govuk-heading-m">Appeals BN002</h3>
      <p class="govuk-body">As the ESFA, we need to know when a grade is not final, so that we do not start overall calculations for the learner.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
      <h3 class="govuk-heading-m">Appeals BN003</h3>
      <p class="govuk-body">As the ESFA, we need grades to be finalised as soon as they can be so that we are in the best position to calculate overall results on time.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
      <h3 class="govuk-heading-m">Appeals BN004</h3>
      <p class="govuk-body">As the ESFA, we need to know when a grade has been changed, so that we know which grade to use for overall calculations.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Appeals BN005</h3>
      <p class="govuk-body">As the ESFA, we need to stop registrations being withdrawn if there is an outcome outstanding for a ROMM/appeal for a grade so that we have accurate information should a learner request an SOA.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



      <h2 class="govuk-heading-l">Data Export</h2>
      <p class="govuk-body-l">Data export description needed.</p>
  
      <h3 class="govuk-heading-m">Data Export BN006</h3>
      <p class="govuk-body">As the ESFA, we need ability to export all core and specialism - registrations, assessments and results so that we can cross referencing data with provider data.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-l">Overall Results</h2>
      <p class="govuk-body-l">Overall Results description needed.</p>
  
      <h3 class="govuk-heading-m">Overall Results BN007</h3>
      <p class="govuk-body">As the ESFA, we need to inform Providers what the overall results are, along with the breakdown (info going on the certificate - to allow providers to check what will be on the certificate) and to then generate certificates where appropriate. Applies to both Overall T Level certificate and Statement of Achievement (SOA).</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
      <h3 class="govuk-heading-m">Overall Results BN008</h3>
      <p class="govuk-body">As the ESFA, we need to restrict Providers and AOs ability to amend data once overall results has been calculated and certificate generated.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Overall Results BN009</h3>
      <p class="govuk-body">As the ESFA, we need automate generation of SOA for learners who did not receive an overall T Level but completed some of the components for a SOA to be available.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Overall Results BN010</h3>
      <p class="govuk-body">As the ESFA, we need to inform Providers when a learner is not going to receive a certificate so that they can investigate whether this is what the learner expects or meets what the Provider already knows.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Overall Results BN011</h3>
      <p class="govuk-body">As the ESFA, we need to inform Providers why a learner’s overall result has not been calculated so that they can investigate whether this is what the learner expects or meets what the Provider already knows.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Overall Results BN012</h3>
      <p class="govuk-body">As the ESFA, we need Industry Placement outcome to be up to date so that we know which learner’s results can be calculated.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Overall Results BN013</h3>
      <p class="govuk-body">As the ESFA, we need the ability to freeze all records for 2 weeks from COP 10 October to allow time between first and second batch of certificates being generated, relieving pressure of printing.</p>
      <p class="govuk-body-s">11 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 
    </div>
  </div>

{% endblock %}
