
{% extends "layout.html" %}

{% block pageTitle %}
Component Library
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Component Library</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Component Library
      </h1>

      <p>Components are reusable parts of the user interface that have been used in the design of the R&C service.
      </p>
      <p>All of the listed components are made up from the GOV.UK Design System styles, patterns and components.</p>

      <h2 class="govuk-heading-m">Related GOV.UK resources</h2>
      <ul class="list">
        <li><a href="https://design-system.service.gov.uk" rel="external" target="external" title="This will open in a new tab or window">GOV.UK Design System</a></li>
        <li><a href="https://govuk-elements.herokuapp.com" rel="external" target="external" title="This will open in a new tab or window">GOV.UK elements</a></li>
        <li><a href="https://www.gov.uk/guidance/government-design-principles" rel="external" target="external" title="This will open in a new tab or window">Government Design Principles</a></li>
        <li><a href="https://www.gov.uk/service-manual" rel="external" target="external" title="This will open in a new tab or window">Service Design Manual</a></li>
        <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" rel="external" target="external" title="This will open in a new tab or window">Style guide</a></li>
      </ul>


    </div>
  </div>

{% endblock %}
