
{% extends "layout.html" %}

{% block pageTitle %}
  Design History
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design History</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Design History
      </h1>

      <h2 class="govuk-heading-l">Posts</h2>

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/v5-v6-1">Version 5 - 6-1</a></h3>
      <p class="govuk-body">A list of changes made from version 5 to version 6-1 and why we made them</p>
      <p class="govuk-body-s">29 November 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/Post-Results.html">Updating the ‘appeals’ section</a></h3>
      <p class="govuk-body">Why we have updated and renamed this section to post results</p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/OverallResults.html">Overall results</a></h3>
      <p class="govuk-body">Why we have updated and renamed this section.
      </p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/Industry-Placements.html">Updating the 'industry placements' section</a></h3>
      <p class="govuk-body">Why we have updated and renamed this section.
      </p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/Results.html">Updating the 'Results' section</a></h3>
      <p class="govuk-body">Why we have updated and renamed this section.
      </p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/Data-Export.html">New feature - Data export</a></h3>
      <p class="govuk-body">What we did to solve a user need
      </p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/posts/Data-Export.html">New assessment entries flow</a></h3>
      <p class="govuk-body">An updated journey for Awarding Organisations to provide learner assessments.
      </p>
      <p class="govuk-body-s">28 February 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
