
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Prototype</li>
  </ol>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype
      </h1>

      <p class="govuk-body-l">
        A collection of the prototype versions through August 2021 to now
      </p>

      <div class="govuk-card govuk-card--contained">
        <a href="#"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="../design-history/prototypes/version1.html">Version 1</a></h3>

          <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
          </p>

        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="../V1-0/providers/tlevels-dashboard.html">Providers dashboard</a></li>
            <li><a href="../V1-0/AO/tlevels-dashboard.html">AO dashboard</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-card govuk-card--contained">
        <a href="#"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="../design-history/prototypes/version2.html">Version 2</a></h3>

          <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
          </p>

        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="../V2-0/providers/tlevels-dashboard.html">Providers dashboard</a></li>
            <li><a href="../V2-0/AO/tlevels-dashboard.html">AO dashboard</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-card govuk-card--contained">
        <a href="#"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="../design-history/prototypes/version3.html">Version 3</a></h3>

          <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
          </p>

        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="../V3-0/providers/tlevels-dashboard.html">Providers dashboard</a></li>
            <li><a href="../V3-0/AO/tlevels-dashboard.html">AO dashboard</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-card govuk-card--contained">
        <a href="#"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="../design-history/prototypes/version4.html">Version 4 - Latest</a></h3>

          <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
          </p>

        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="../V4-0/providers/tlevels-dashboard.html">Providers dashboard</a></li>
            <li><a href="../V4-0/AO/tlevels-dashboard.html">AO dashboard</a></li>
          </ul>
        </div>
      </div>



{% endblock %}
