
{% extends "layout.html" %}

{% block pageTitle %}
  T Levels Overview
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">T Levels Overview</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">T Levels Overview</h1>
    <p class="govuk-body-l">Information about the T Levels and the Results and Certification (R&C) service</p>
    <p>From: R&C Team</p>
    <p>Published: 31st January 2022</p>
    <p>Last updated: 31st January 2022</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Contents</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="#what_are_t_levels">What are T Levels</a></li>
      <li><a href="#t_level_services">T Level Services</a></li>
      <li><a href="#what_is_rc">What is R&C</a></li>
      <li><a href="#goals_of_rc">Goals of R&C</a></li>
      <li><a href="#rc_mvp">R&C MVP</a></li>
      <li><a href="#where_are_we_currently">Where we are currently</a></li>
      <li><a href="#roadmap">Roadmap</a></li>

    </ol>

    <!-- What are T Levels section -->
    <h2 class="govuk-heading-l" id="what_are_t_levels">What are T Levels</h2>
    <p>T Levels are new courses which follow GCSEs and are equivalent to 3 A levels. These 2-year courses, which launched September 2020, have been developed in collaboration with employers and businesses so that the content meets the needs of industry and prepares students for work, further training or study. </p>
    
    <p>T Levels offer students a mixture of classroom learning and ‘on-the-job’ experience during an industry placement of at least 315 hours (approximately 45 days).</p>

    <h3 class="govuk-heading-m"> Structure of a T Level</h3>
    <p>T Level courses include the following compulsory elements:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a technical qualification, which includes:
        <ul class="govuk-list govuk-list--bullet">
          <li>core theory, concepts and skills for an industry area</li>
          <li>specialist skills and knowledge for an occupation or career</li>
        </ul>
      </li>
      <li>an industry placement with an employer</li>
    </ul>
    <p>Students will also be required to work towards the attainment of maths and English if they have not already achieved grade 4 at GCSE, as they do on other 16 to 19 programmes.</p>


     <!-- T Levels Services section -->
    <h2 class="govuk-heading-l" id="t_level_services">T Level Services</h2>
    <p>Visit our <a rel="external" href="https://www.tlevels.gov.uk" class="govuk-link">T Levels website</a> where you can find colleges, schools or other providers who’ll be offering the first 3 T Levels in 2020.</p>
    <p>Watch our <a rel="external" href="https://www.youtube.com/playlist?list=PL6gGtLyXoeq-rt4HRUDy_MY77BEH7r9Rc" class="govuk-link">industry placement videos</a> to hear from students and employers who have benefited from industry placements. 
      Employers interested in finding out more about industry placements, can contact 0800 0150 600, email <a href="mailto:tlevel.placement@education.gov.uk" class="govuk-link">tlevel.placement@education.gov.uk</a> or visit the <a rel="external" href="https://www.tlevels.gov.uk/employers" class="govuk-link">employer section of the T Level website</a>.</p>
    <p>Read the <a href="https://www.gov.uk/government/publications/t-level-action-plan" class="govuk-link">T Level action plan</a> for detailed information about how we’re developing the T Level qualifications for post-16 students.</p>
   

    <!-- What is R&C -->
    <h2 class="govuk-heading-l" id="what_is_rc">What is R&C</h2>

    <p>Results and certification also known internally as R&C, is the data collection arm of the T Levels services. R&C is made up of two services for each of our end users: Providers and Awarding organisations (AO).</p>
    <p>Data collected via the service include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>T Levels and course details that AO's will be providing</li>
      <li>List of providers offering T Levels</li>
      <li>Learner registration details: Name, ULN, date of birth, provider, T Level and specialism</li>
      <li>Assessment entries for each individual learner i.e. </li>
      <li>Grades for each above assessment entry</li>
      <li>Learners level 2 attainment level for maths and English</li>
      <li>Learners industry placement status</li>
      <li>Providers organisational address (where statement of achivements and certificates will be sent to).</li>
    </ul>
    <p>Using these details ESFA will calculate each individual learners T Level grade and issues a certificate.</p>


    <!-- Goals of R&C -->
    <h2 class="govuk-heading-l" id="goals_of_rc">Goals of R&C</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Registration - To ensure AO's and providers have the ability to register both T Levels and students respectively</li>
      <li>Results - To ensure T Levels students will receive accurate and timely results, including overall T Level grade. </li>
      <li>Certification - To ensure students are issued with statements of achievement and certification correctly describing their attainment </li>
      <li>Presentation - To ensure the way in which results, statement of achievements and certification are presented is clear to students, providers and end-users of the service </li>
    </ol>

    <!-- R&C MVP-->
    <h2 class="govuk-heading-l" id="rc_mvp">R&C MVP</h2>


    <!-- Where we are currently-->
    <h2 class="govuk-heading-l" id="where_are_we_currently">Where we are currently</h2>
    <p></p>
    
    <p>DM to add information.</p>
  
    <!-- Roadmap-->
    <h2 class="govuk-heading-l" id="roadmap">Roadmap</h2>
    <p>DM to add information.</p>
    

  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Related content</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/introduction-of-t-levels/introduction-of-t-levels">Introduction of T Levels</a>
      </li>
      <li>
        <a class="govuk-link" href="https://dfedigital.atlassian.net/wiki/spaces/TLRC/pages/3372154889/Team+workflow">Team workflow</a>
      </li>
      <li>
        <a class="govuk-link" href="https://dfedigital.atlassian.net/wiki/spaces/TLRC/overview?homepageId=3312615563">Confluence</a>
      </li>
      <li>
        <a class="govuk-link" href="https://skillsfundingagency.atlassian.net/jira/software/c/projects/TLRC/boards/545/backlog">JIRA</a>
      </li>
      <li>
        <a class="govuk-link" href="https://miro.com/app/dashboard/">Miro Boards</a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
