{% extends "layout.html" %}

{% block pageTitle %}
User needs - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="userbusinessneeds.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User needs
    </h1>

    <p>When designing a government service, always start by learning about the people who will use it. If you do not
      understand who they are or what they need from your service, you cannot build the right thing.</p>

    <p>From: R&C Team </p>
    <p>Published: 28 February 2022</p>
    <p>Last updated: 28 February 2022</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Contents</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="#AO-understanding">AO - Understanding</a></li>
      <li><a href="#AO-data-security-handling">AO - Data security/ handling</a></li>
      <li><a href="#AO-visibility-maintenance">AO - Visibility and maintenance of data</a></li>
      <li><a href="#AO-comms">AO - Communication/Alerts/Notifications</a></li>
      <li><a href="#AO-registration">AO - Efficient Registration</a></li>
      <li><a href="#AO-results">AO - Creating Results & Certificates</a></li>
      <li><a href="#AO-appeals">AO - Visibility, reminders and maintenance of appeals</a></li>
      <li><a href="#AO-ux">AO - User Experience</a></li>
      <li><a href="#provider-time-to-plan">Provider- Time to plan</a></li>
      <li><a href="#provider-compliance">Provider - Compliance with my reality</a></li>
      <li><a href="#provider-recover">Provider - Recover from error</a></li>
      <li><a href="#provider-job-satisfaction">Provider - Job satisfaction</a></li>
      <li><a href="#provider-ways-of-working">Provider - Ways of working</a></li>
      <li><a href="#provider-confidence">Provider - Confidence</a></li>
      <li><a href="#provider-visibility">Provider - Visibility</a></li>
      <li><a href="#provider-communication">Provider - Communication</a></li>
      <li><a href="#provider-to-be-informed">Provider - To be informed</a></li>

    </ol>

    <h2 class="govuk-heading-l" id="AO-understanding">Understanding</h2>
    <p class="govuk-body-l">As an Awarding Organisation (AO), I need to understand what my tasks are and when they must
      be finished, so that I can complete them on time.</p>

    <h3 class="govuk-heading-m">Understanding RC001</h3>
    <p class="govuk-body">As an Awarding Organisation I need the guidance and instructions fo TLevels to be clear so
      that I can be confident I have done everything that is required.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC002</h3>
    <p class="govuk-body">As an Awarding Organisation I need to understand the account and general purpose so that I
      know how to access and use the service.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC003</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have defined functions within the system so that I
      complete only those elements relating to my role.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC004</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have awareness of appeals timescales and reminders so
      they know when to process them.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l" id="AO-data-security-handling">Data security/ handling</h2>
    <p class="govuk-body-l">As an AO, I must be able to receive, handle and provide data securely so that any data
      transaction is completed safely and accurately</p>

    <h3 class="govuk-heading-m">Data security/ handling RC005</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be issued with an account so that I can access the
      system securely.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Data security/ handling RC006</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to upload appeals in bulk rather than case by
      case so that it takes as little time as possible</p>
    <span>
      <p class="govuk-body-s">28 February 2022</p>
      <strong class="govuk-tag govuk-tag--blue">
        Future need
      </strong>
    </span>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l" id="AO-visibility-maintenance">Visibility and maintenance of data</h2>
    <p class="govuk-body-l">As an AO, I need to be able to find, see and make changes to the data I have provided to
      ESFA so that I can ensure data is up to date and accurate.</p>

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC007</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to change the status of a learner from withdrawn
      to active and vice versa so that the information we hold is accurate and represents the learners current status.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC008</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to make updates to any registration or student
      details so that I can be sure the information is up to date and accurate.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC009</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to review the information I have sent so that I
      can deal with any queries.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC010</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to review the information I have sent so that I
      can confirm with ESFA that they are correct.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC011</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make changes in the system so that I may correct errors.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC012</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to search for a learner record using centre name
      and learner name or learner enrolment number Because AOs do not always use the ULN number when processing appeals.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC013</h3>
    <p class="govuk-body">As an Awarding Organisation data admin/manager, I need to check what data has been uploaded in
      the system so I am reassured what has been uploaded and identify issues upfront.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l" id="AO-comms">Communication/Alerts/Notifications</h2>
    <p class="govuk-body-l">As an AO, I need to know when tasks that are my responsibility have been completed so that I
      know I do not have to spend any more time on these cases.</p>

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC014</h3>
    <p class="govuk-body">I need confirmation that I have completed a task so that I can feel confident to move on.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC015</h3>
    <p class="govuk-body">I need to know what deadlines are coming up that impact students receiving overall grades and
      cert.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC016</h3>
    <p class="govuk-body">I need to be assured that the data I have submitted to the ESFA has been received based on
      their requirements so that I can feel confident I have completed the task.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC017</h3>
    <p class="govuk-body">Need to know that the uploaded data have been submitted to the ESFA portal To be confident
      that everything is in order.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC018</h3>
    <p class="govuk-body">I need to know if a learner has received or been issued a certificate so that I can update my
      records and close if required.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="AO-registration">Efficient Registration</h2>
    <p class="govuk-body-l">As an AO, I need to be able to register each learner in as efficient a way as possible so
      that I
      can be sure that each learner will be tracked and matched with the correct information.</p>

    <h3 class="govuk-heading-m">Efficient Registration RC019</h3>
    <p class="govuk-body">As an Awarding Organisation I need to register students with the ESFA so that I meet my
      contractual obligations and get paid.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC020</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to register learners in bulk so that it is easy
      and
      I can save time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC021</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make corrections to registrations in bulk so that it is
      easy
      to change multiple records in one go.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC022</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to register learners 1 at a time so that I don't
      have o upload a file for a small change.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC023</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to distinguish between each student so that all
      of
      the information can be matched and tracked to them and suppy the correct grade for their certificate.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC024</h3>
    <p class="govuk-body">As an Awarding Organisation I need to know that we are submitting the registrations on time So
      we
      can fulfill our contractual obligations.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC025</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible
      steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="AO-results">Creating Results & Certificates</h2>
    <p class="govuk-body-l">As an AO, I need to be able to provide assessment results for each learner so that their
      overall result can be calculated and they receive the appropriate certificate.</p>

    <h3 class="govuk-heading-m">Creating Results & Certificates RC026</h3>
    <p class="govuk-body">As an Awarding Organisation I need to register students with the ESFA so that I meet my
      contractual obligations and get paid.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Creating Results & Certificates RC027</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to distinguish between each student so that all
      of the information can be matched and tracked to them and suppy the correct grade for their certificate.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Creating Results & Certificates RC028</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l" id="AO-appeals">Visibility, reminders and maintenance of appeals</h2>
    <p class="govuk-body-l">As an AO, I need to know when an appeal has been submitted or changed and see the status of
      all appeals and any relevant information pertaining to them, so that I understand the timescale, what work needs
      to be done when and what steps to take next.</p>

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC029</h3>
    <p class="govuk-body">As an Awarding Organisation I need to know how a query has been progressed so that they know
      when a response will arrive or that they are able to chase for requested information.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC030</h3>
    <p class="govuk-body">As an Awarding Organisation I need an overview of learners that are in appeal so that I can
      chase any data I need and provide the overall results calculation.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC031</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to let you know when a grade is still under
      ROMM/appeal so that you do not incorrectly calculate the overall T level result for a learner when a grade could
      change.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC032</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make the service less laborious - rather than having to
      go through this process on an individual case by case It would take a long time to manage appeals on an
      case-by-case basis.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC033</h3>
    <p class="govuk-body">As an Awarding Organisation I need visibility of which appeals are entered/submitted into the
      ESFA portal, e.g. a dashboard with appeals along with their status To have an overview of which appeals are in
      progress and which not so everyone is aware of the work being completed.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC034</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC035</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have awareness of appeals timescales and reminders so
      they know when to process them.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="AO-ux">User Experience</h2>
    <p class="govuk-body-l">As an AO, I need the system to be simple and easy to understand with the least possible
      steps so that I do not waste time learning and navigating it under pressure.</p>

    <h3 class="govuk-heading-m">User Experience RC036</h3>
    <p class="govuk-body">As an Awarding Organisation I need the language to be consistent so that I do not make
      mistakes.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC037</h3>
    <p class="govuk-body">As an Awarding Organisation I need to understand the account and general purpose so that I
      know how to access and use the service.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC038</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC039</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make the ESFA portal as simple as possible.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC040</h3>
    <p class="govuk-body">As an Awarding Organisation I need the simplest way to enter data so that I can provide the
      required data in an efficient manor.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC041</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- PROVIDER NEEDS -->
    <!-- time to plan -->
    <h2 class="govuk-heading-l" id="provider-time-to-plan">Time to plan</h2>
    <p class="govuk-body-l">As a provider I need all the information required and enough time to plan so that I will
      provide the information on time and ensure my learners are in the best possible situation for receiving results
    </p>

    <h3 class="govuk-heading-m">Time to plan RC042</h3>
    <p class="govuk-body">As a provider I need time to plan and prepare for what is to come so that I can have robust
      processes in place to provide the data requested.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Time to plan RC043</h3>
    <p class="govuk-body">As a Provider I need to be informed of the time constraints around the system early on in the
      process so that I have chance to plan for the additional work you are asking of me.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Time to plan RC044</h3>
    <p class="govuk-body">As a provider I need the time frames the requirements and how to use the system to be
      communicated to me in a timely manner so that I meet my obligations.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Compliance with my reality -->
    <h2 class="govuk-heading-l" id="provider-compliance">Compliance with my reality</h2>
    <p class="govuk-body-l">As a provider I need to know what to do with the edge cases and how this is being captured
      within the system so that the data meets with reality.</p>

    <h3 class="govuk-heading-m">Compliance with my reality RC045</h3>
    <p class="govuk-body">As a provider I need to be made aware of the commitments I am making and information that
      clearly tells me what I need to do so that I can fulfil my my responsibilities and protect my organisation.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Compliance with my reality RC046</h3>
    <p class="govuk-body">As a provider I need a way to state that a learner will be continuing their industry placement
      after the deadline so that as many as possible are able to complete their T Level.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Compliance with my reality RC047</h3>
    <p class="govuk-body">As a Provider I need to clearly see in the system how to indicate mixed/combined models so
      that I know how I should report them.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Recover from error -->
    <h2 class="govuk-heading-l" id="provider-recover">Recover from error</h2>
    <p class="govuk-body-l">As a Provider I need to be able to make amends in the system up to the deadline so that the
      information I provide is as accurate as possible.</p>

    <h3 class="govuk-heading-m">Recover from error RC048</h3>
    <p class="govuk-body">As a provider I need to be able to deal with any admin errors so that the consequences and
      timeliness of doing so does not adversely effect the learner.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Recover from error RC049</h3>
    <p class="govuk-body">As a provider I need to be able to change details in the system if I realise a mistake has
      been made so that I can fix it.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Recover from error RC050</h3>
    <p class="govuk-body">As a provider I need to trust that the systems are robust enough to deal with queries and
      errors so that I am not delayed in providing information.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- Job satisfaction -->
    <h2 class="govuk-heading-l" id="provider-job-satisfaction">Job satisfaction</h2>
    <p class="govuk-body-l">As a provider I need to see that my work is impactful so that I feel valued.</p>

    <h3 class="govuk-heading-m">Job satisfaction RC051</h3>
    <p class="govuk-body">As a provider I need ESFA to find as much information from other sources as possible so that I
      do not have to duplicate work for the same organisation.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Job satisfaction RC052</h3>
    <p class="govuk-body">As a provider I need to see the benefit of providing the responses requested so that I
      understand why I must provide them.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Job satisfaction RC053</h3>
    <p class="govuk-body">As a provider I need the work I do to be meaningful so that I do not feel like I am wasting my
      time.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Ways of working -->
    <h2 class="govuk-heading-l" id="provider-ways-of-working">Ways of working</h2>
    <p class="govuk-body-l">As a provider I need the system to make sense to me so that I know what is being asked and
      can provide the requested information in an easy way that works for me.</p>

    <h3 class="govuk-heading-m">Ways of working RC054</h3>
    <p class="govuk-body">As a provider I need a clear way to complete my journey and begin a new one so that I can edit
      and finalise multiple entries with confidence and ease.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC055</h3>
    <p class="govuk-body">As a provider I need to be able to provide the information in a way that fits my own way of
      working so that I can apply efficiencies that I am able to to save time.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC056</h3>
    <p class="govuk-body">As a provider I need the work I do to be meaningful so that I do not feel like I am wasting my
      time.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC057</h3>
    <p class="govuk-body">As a provider I need to be able to filter the learners in a way that suits my way of working
      so that I can enter the data in the order I have it.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC058</h3>
    <p class="govuk-body">As a provider I need clarity as to what you are asking of me so that it is obvious and easy
      for me to fulfil the request for information.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC059</h3>
    <p class="govuk-body">As a Provider I need to see which records have missing information and what that is so that I
      know if I need to complete an action for that learner.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC060</h3>
    <p class="govuk-body">As a provider I need to be able to insert this information in bulk and for all learners at one
      go rather than manually for each learner so I am more efficient at my work - Need for automated processes and less
      manual work.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Ways of working RC061</h3>
    <p class="govuk-body">As a provider, I need the questions to flow logically so I do not have to go back and forth.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- Confidence -->
    <h2 class="govuk-heading-l" id="provider-confidence">Confidence</h2>
    <p class="govuk-body-l">As a provider I need to be confident that the answers I give are correct so that I can
      ensure I am providing valid and accurate data.</p>

    <h3 class="govuk-heading-m">Confidence RC062</h3>
    <p class="govuk-body">As a provider I need to be given information on exceptions so that I can make the right
      decisions and avoid any problems in later auditing.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Confidence RC063</h3>
    <p class="govuk-body">As a provider I need the questions that you ask of me to make sense to me so that I can
      confidently provide the information that has been requested.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Confidence RC064</h3>
    <p class="govuk-body">As a provider, I need to be given clear instructions in the rules surrounding SC so that I can
      be confident they are entering the correct information.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Confidence RC065</h3>
    <p class="govuk-body">As a provider I need the service to be clear and easy to use so that I understand what I need
      to do and how.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Visibility -->
    <h2 class="govuk-heading-l" id="provider-visibility">Visibility</h2>
    <p class="govuk-body-l">As a provider I need to be able to revisit, record and check my work so that I am confident
      I have entered the correct information.</p>

    <h3 class="govuk-heading-m">Visibility RC066</h3>
    <p class="govuk-body">As a provider I need to be able to view all the information I have submitted into the system
      so that I can check the information and the information and be prepared should an audit occurs.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility RC067</h3>
    <p class="govuk-body">As a provider I need to be able to filter the learners in a way that suits my way of working
      so that I can compare with the data I have.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility RC068</h3>
    <p class="govuk-body">SOME USERS: As a provider I need to be able to refer back to the responses I have given so
      that I can include these in my records.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Communication -->
    <h2 class="govuk-heading-l" id="provider-communication">Communication</h2>
    <p class="govuk-body-l">As a provider I need DfE to tell me all of the things I am required to do, in a way that I
      find accessible, manageable and timely, so that I can do what is expected of me.</p>

    <h3 class="govuk-heading-m">Communication RC069</h3>
    <p class="govuk-body">I need ESFA to tell me, in a way that I find accessible, all of the things I am required to do
      so that I can do what is expected of me.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication RC070</h3>
    <p class="govuk-body">As a Provider I need to be offered all the information I am expected to use in a manageable
      way so that I can know how to fulfil the expectations for my organisation.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- To be informed -->
    <h2 class="govuk-heading-l" id="provider-to-be-informed">To be informed</h2>
    <p class="govuk-body-l">As a provider I need to be kept informed of any information that may effect the responses I give.</p>

    <h3 class="govuk-heading-m">To be informed RC071</h3>
    <p class="govuk-body">As a provider I need clear instructions surrounding rules for SC so that I am able to provide the correct evidence and be sure to cover my organisation if I get audited.
    </p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">To be informed RC072</h3>
    <p class="govuk-body">As a provider I need to be able to find guidance quickly and easily if I do not know how to answer a question so that I do not waste time.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">To be informed RC073</h3>
    <p class="govuk-body">As a provider I need clarity within the service so that I do not waste time looking through the guidance.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">To be informed RC074</h3>
    <p class="govuk-body">As a provider I need to work in a way that makes sense to me so that I can complete the tasks required.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">To be informed RC075</h3>
    <p class="govuk-body">I need to understand the terminology used so I can act accordingly.</p>
    <p class="govuk-body-s">24 March 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>



{% endblock %}