
{% extends "layout.html" %}

{% block pageTitle %}
User and Business Needs - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User and Business Needs
      </h1>

      <p>When designing a government service, always start by learning about the people who will use it. If you do not understand who they are or what they need from your service, you cannot build the right thing.</p>

      <p> Content to be added by User Researchers and Business Analyst/Product Owner</p>

      <h2 class="govuk-heading-m"><a href="userneeds.html">User Needs</a></h2>
      <p class="govuk-body">A collection of the user needs across the T Levels results and certification service.</p>


      <h2 class="govuk-heading-m"><a href="businessneeds.html">Business Needs</a></h2>
      <p class="govuk-body">A collection of terms commonly used across the T Levels service lines.</p>


    </div>
  </div>

{% endblock %}
