
{% extends "layout.html" %}

{% block pageTitle %}
  User Journeys and Services Map
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">User Journeys and Services Map</li>
  </ol>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User Journeys and Services Map
      </h1>


      <h2 class="govuk-heading-m">User journeys</h2>
      <p class="govuk-body">A collection of terms commonly used across the T Levels service lines.</p>
      

      <h2 class="govuk-heading-m"><a href="#">Service Map</a></h2>
      <p class="govuk-body">A collection of terms commonly used across the T Levels service lines.</p>


    </div>
  </div>

{% endblock %}
