
{% extends "layout.html" %}

{% block pageTitle %}
  User Journeys and Service Design - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">User Journeys and Service Design</li>
  </ol>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User Journeys and Service Design
      </h1>


      <h2 class="govuk-heading-l">User journeys</h2>
      <p class="govuk-body">A collection of the user journeys for each area of the service including both Awarding Organisation and Provider sides.</p>

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/review-t-levels-user-journey.html"> Awarding Organisation - Review T Levels</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA which T levels they deliver</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/review-providers-user-journey.html"> Awarding Organisation - Review providers</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA which providers are offering the T Levels that the AO delivers</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/registrations-user-journey.html"> Awarding Organisation - Registrations</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA of the details of each of the T Level learners</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/assessments-user-journey.html"> Awarding Organisation - Assessments</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA which learners are taking an assessment (exam) in the current assessment window (Autumn/Summer).</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/results-user-journey.html"> Awarding Organisation - Results</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA of each individual learners result for each registered component.</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/post-results-user-journey.html"> Awarding Organisation - Post-results</a></h2>
      <p class="govuk-body">User journey for AO's to inform ESFA which learners have requested a ROMM or Appeal and the outcome</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/overall-results-user-journey.html"> Providers - Manage learner records</a></h2>
      <p class="govuk-body">User journey for Providers to inform ESFA of industry placement status, maths and english attainment level and view overall T Level grades for learners</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/statement-of-achievement-user-journey.html"> Providers - Request Statement of Achievement</a></h2>
      <p class="govuk-body">User journey for Providers to request a statement of achievement for learners who have not completed their T Level</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m"><a href="/design-history/user-journeys/manage-postal-user-journey.html"> Providers - Manage your organisations postal address</a></h2>
      <p class="govuk-body">User journey for Providers to inform ESFA the address of their school or college where certificates and statement of achievements will be sent to.</p>
      <p class="govuk-body-s">25 January 2022</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-l">Service Design</h2>
      <p class="govuk-body">A collection of the service maps and related service design documentation</p>

      <h2 class="govuk-heading-m"><a href="/design-history/service-design/service-map-sep-21.html"> Service Map</a></h2>
      <p class="govuk-body">Service map of the R&C service created with the limited knowledge and understanding at the time.</p>
      <p class="govuk-body-s">22 September 2021</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-m"><a href="/design-history/service-design/stakeholder-map-sep-21.html"> Stakeholder Map</a></h2>
      <p class="govuk-body">Stakeholder map of the R&C service created with the limited knowledge and understanding at the time.</p>
      <p class="govuk-body-s">22 September 2021</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    </div>
  </div>

{% endblock %}
