
{% extends "layout.html" %}

{% block pageTitle %}
  User Journeys and Services Map
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Unique Learner Numbers (ULN)
      </h1>

      <p>List of ULN's to use in prototype to be added</p>

      <h2>Version 1</h2>


      <h2>Version 2</h2>
      <p class="govuk-body">Assessments:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Learner withdrawn: 1231231231</li>
        <li>Learner not found: 1122334455</li>
        <li>Learner with previous assessment entry: 5647382910</li>
        <li>Learner multiple specialisms resits: 8642135790</li>
        <li>Learner newly registered: 1234567891</li>
        <li>Learner 2nd year onwards: 1234567890</li>
        <li>Learner not registered for specialism: 9876543210</li>
      </ul>

      <p class="govuk-body">Results:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Learner withdrawn: 1231231231</li>
        <li>Learner not found: 1029384756</li>
        <li>Learner no grades: 5647382910</li>
        <li>Learner appealing grade: 1987654321</li>
        <li>Learner final grade: 1122334455</li>
        <li>Learner no assessments: 8642135790</li>

      </ul>

    </div>
  </div>

{% endblock %}
