{% extends "layout.html" %}

{% block pageTitle %}
User needs - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User needs
    </h1>

    <p>When designing a government service, always start by learning about the people who will use it. If you do not
      understand who they are or what they need from your service, you cannot build the right thing.</p>

      <p>From: R&C Team </p>
      <p>Published: 28 February 2022</p>
      <p>Last updated: 28 February 2022</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





    <h2 class="govuk-heading-l">Understanding</h2>
    <p class="govuk-body-l">As an Awarding Organisation (AO), I need to understand what my tasks are and when they must
      be finished, so that I can complete them on time.</p>

    <h3 class="govuk-heading-m">Understanding RC001</h3>
    <p class="govuk-body">As an Awarding Organisation I need the guidance and instructions fo TLevels to be clear so
      that I can be confident I have done everything that is required.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC002</h3>
    <p class="govuk-body">As an Awarding Organisation I need to understand the account and general purpose so that I
      know how to access and use the service.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC003</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have defined functions within the system so that I
      complete only those elements relating to my role.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Understanding RC004</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have awareness of appeals timescales and reminders so
      they know when to process them.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">Data security/ handling</h2>
    <p class="govuk-body-l">As an AO, I must be able to receive, handle and provide data securely so that any data
      transaction is completed safely and accurately</p>

    <h3 class="govuk-heading-m">Data security/ handling RC005</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be issued with an account so that I can access the
      system securely.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Data security/ handling RC006</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to upload appeals in bulk rather than case by
      case so that it takes as little time as possible</p>
    <span>
      <p class="govuk-body-s">28 February 2022</p>
      <strong class="govuk-tag govuk-tag--blue">
        Future need
      </strong>
    </span>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">Visibility and maintenance of data</h2>
    <p class="govuk-body-l">As an AO, I need to be able to find, see and make changes to the data I have provided to
      ESFA so that I can ensure data is up to date and accurate.</p>

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC007</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to change the status of a learner from withdrawn
      to active and vice versa so that the information we hold is accurate and represents the learners current status.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC008</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to make updates to any registration or student
      details so that I can be sure the information is up to date and accurate.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC009</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to review the information I have sent so that I
      can deal with any queries.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC010</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to review the information I have sent so that I
      can confirm with ESFA that they are correct.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC011</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make changes in the system so that I may correct errors.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC012</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to search for a learner record using centre name
      and learner name or learner enrolment number Because AOs do not always use the ULN number when processing appeals.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility and maintenance of data RC013</h3>
    <p class="govuk-body">As an Awarding Organisation data admin/manager, I need to check what data has been uploaded in
      the system so I am reassured what has been uploaded and identify issues upfront.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">Communication/Alerts/Notifications</h2>
    <p class="govuk-body-l">As an AO, I need to know when tasks that are my responsibility have been completed so that I
      know I do not have to spend any more time on these cases.</p>

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC014</h3>
    <p class="govuk-body">I need confirmation that I have completed a task so that I can feel confident to move on.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC015</h3>
    <p class="govuk-body">I need to know what deadlines are coming up that impact students receiving overall grades and
      cert.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC016</h3>
    <p class="govuk-body">I need to be assured that the data I have submitted to the ESFA has been received based on
      their requirements so that I can feel confident I have completed the task.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC017</h3>
    <p class="govuk-body">Need to know that the uploaded data have been submitted to the ESFA portal To be confident
      that everything is in order.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Communication/Alerts/Notifications RC018</h3>
    <p class="govuk-body">I need to know if a learner has received or been issued a certificate so that I can update my
      records and close if required.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Efficient Registration</h2>
    <p class="govuk-body-l">As an AO, I need to be able to register each learner in as efficient a way as possible so
      that I
      can be sure that each learner will be tracked and matched with the correct information.</p>

    <h3 class="govuk-heading-m">Efficient Registration RC019</h3>
    <p class="govuk-body">As an Awarding Organisation I need to register students with the ESFA so that I meet my
      contractual obligations and get paid.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC020</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to register learners in bulk so that it is easy
      and
      I can save time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC021</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make corrections to registrations in bulk so that it is
      easy
      to change multiple records in one go.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC022</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to register learners 1 at a time so that I don't
      have o upload a file for a small change.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC023</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to distinguish between each student so that all
      of
      the information can be matched and tracked to them and suppy the correct grade for their certificate.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC024</h3>
    <p class="govuk-body">As an Awarding Organisation I need to know that we are submitting the registrations on time So
      we
      can fulfill our contractual obligations.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Efficient Registration RC025</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible
      steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Creating Results & Certificates</h2>
    <p class="govuk-body-l">As an AO, I need to be able to provide assessment results for each learner so that their
      overall result can be calculated and they receive the appropriate certificate.</p>

    <h3 class="govuk-heading-m">Creating Results & Certificates RC026</h3>
    <p class="govuk-body">As an Awarding Organisation I need to register students with the ESFA so that I meet my
      contractual obligations and get paid.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Creating Results & Certificates RC027</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to distinguish between each student so that all
      of the information can be matched and tracked to them and suppy the correct grade for their certificate.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Creating Results & Certificates RC028</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">Visibility, reminders and maintenance of appeals</h2>
    <p class="govuk-body-l">As an AO, I need to know when an appeal has been submitted or changed and see the status of
      all appeals and any relevant information pertaining to them, so that I understand the timescale, what work needs
      to be done when and what steps to take next.</p>

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC029</h3>
    <p class="govuk-body">As an Awarding Organisation I need to know how a query has been progressed so that they know
      when a response will arrive or that they are able to chase for requested information.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC030</h3>
    <p class="govuk-body">As an Awarding Organisation I need an overview of learners that are in appeal so that I can
      chase any data I need and provide the overall results calculation.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC031</h3>
    <p class="govuk-body">As an Awarding Organisation I need to be able to let you know when a grade is still under
      ROMM/appeal so that you do not incorrectly calculate the overall T level result for a learner when a grade could
      change.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC032</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make the service less laborious - rather than having to
      go through this process on an individual case by case It would take a long time to manage appeals on an
      case-by-case basis.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC033</h3>
    <p class="govuk-body">As an Awarding Organisation I need visibility of which appeals are entered/submitted into the
      ESFA portal, e.g. a dashboard with appeals along with their status To have an overview of which appeals are in
      progress and which not so everyone is aware of the work being completed.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC034</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least
      possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Visibility, reminders and maintenance of appeals RC035</h3>
    <p class="govuk-body">As an Awarding Organisation I need to have awareness of appeals timescales and reminders so
      they know when to process them.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">User Experience</h2>
    <p class="govuk-body-l">As an AO, I need the system to be simple and easy to understand with the least possible steps so that I do not waste time learning and navigating it under pressure.</p>

    <h3 class="govuk-heading-m">User Experience RC036</h3>
    <p class="govuk-body">As an Awarding Organisation I need the language to be consistent so that I do not make mistakes.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC037</h3>
    <p class="govuk-body">As an Awarding Organisation I need to understand the account and general purpose so that I know how to access and use the service.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC038</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC039</h3>
    <p class="govuk-body">As an Awarding Organisation I need to make the ESFA portal as simple as possible.
    </p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC040</h3>
    <p class="govuk-body">As an Awarding Organisation I need the simplest way to enter data so that I can provide the required data in an efficient manor.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">User Experience RC041</h3>
    <p class="govuk-body">As an Awarding Organisation I need the system to be as simple as possible with the least possible steps so that I do not waste time.</p>
    <p class="govuk-body-s">28 February 2022</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>



{% endblock %}