{% extends "layout.html" %}

{% block pageTitle %}
ROMM grade change - Post-results - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change the grade after a ROMM</h1> 
        
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uln'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Core
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelCore'] }}<br aria-hidden="true">{{ data['tLevelsStudentData'][data.uln]['learnerTLevelCoreCode'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exam Period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerCoreAssessmentEntry'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">

            {{ data['tLevelsStudentDataV2'][data.uln]['learnerCoreResult'] }}

          </dd>
        </div>
      </dl>

      <form action="ROMM-select-grade" method="post" novalidate data-validate='ROMM-grade-validation'>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is the new grade?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade" name="ROMM-grade" type="radio" value="A*">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade">
                  A*
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-2" name="ROMM-grade" type="radio" value="A">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-2">
                  A
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-3" name="ROMM-grade" type="radio" value="B">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-3">
                  B
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-4" name="ROMM-grade" type="radio" value="C">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-4">
                  C
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-5" name="ROMM-grade" type="radio" value="D">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-5">
                  D
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-6" name="ROMM-grade" type="radio" value="E">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-6">
                  E
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ROMM-grade-7" name="ROMM-grade" type="radio" value="Unclassified">
                <label class="govuk-label govuk-radios__label" for="ROMM-grade-7">
                  Unclassified
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="ROMM-grade-validation">
    {

        "ROMM-grade": {

            "presence": {

                "message": "^Select the new grade"

            }

        }

    }
</script>


{% endblock %}




