{% extends "layout.html" %}

{% block pageTitle %}
Appeal grade change - Post-results - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change the grade after an appeal</h1> 
        
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uln'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Core
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelCore'] }}<br aria-hidden="true">{{ data['tLevelsStudentData'][data.uln]['learnerTLevelCoreCode'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exam period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerCoreAssessmentEntry'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['core-selected-grade'] == 'yes'%}
            {{data['ROMM-grade']}}
            {% else %}
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerCoreResult'] }}
            {% endif %}
          </dd>
        </div>
      </dl>

      <form action="appeal-select-grade" method="post" novalidate data-validate='appeal-grade-validation'>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is the new grade?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade" name="appeal-grade" type="radio" value="A*">
                <label class="govuk-label govuk-radios__label" for="appeal-grade">
                  A*
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-2" name="appeal-grade" type="radio" value="A">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-2">
                  A
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-3" name="appeal-grade" type="radio" value="B">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-3">
                  B
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-4" name="appeal-grade" type="radio" value="C">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-4">
                  C
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-5" name="appeal-grade" type="radio" value="D">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-5">
                  D
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-6" name="appeal-grade" type="radio" value="E">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-6">
                  E
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-grade-7" name="appeal-grade" type="radio" value="Unclassified">
                <label class="govuk-label govuk-radios__label" for="appeal-grade-7">
                  Unclassified
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="appeal-grade-validation">
    {

        "appeal-grade": {

            "presence": {

                "message": "^Select the new grade"

            }

        }

    }
</script>


{% endblock %}




