{% extends "layout.html" %}

{% block pageTitle %}
{% if data['uln'] === '9876543210' or data['uln'] === '1987654321'%}
Learner’s grades - Post-results - Manage T Levels results - GOV.UK
{% elif data['uln'] === '1231231231'%}
Learner withdrawn - Post-results - Manage T Levels results - GOV.UK
<!-- {% elif data['uln'] === '8642135790'%}
Learner has no assessment entries - Manage T Level results - GOV.UK -->
{% elif data['uln'] === '5647382910'%}
No results - Post-results - Manage T Levels results - GOV.UK
{% else %}
ULN not found - Post-results - Manage T Levels results - GOV.UK
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if data['uln'] === '9876543210' or data['uln'] === '1987654321' or data['uln'] === '1162334257'%}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="post-results-reviews-appeals-and-grade-changes">Post-results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="post-results-search-uln">Search for a learner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Learner’s component grade status</li>
  </ol>
</div>
{% else %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endif %}
{% endblock %}

{% block content %}
{% if data['uln'] === '9876543210' or data['uln'] === '1987654321' or data['uln'] === '1162334257' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data['showBannerAppeals'] == 'raiseROMM-core' 
    or data['showBannerAppeals'] == 'raiseROMM-specialism' 
    or data['showBannerAppeals'] == 'ROMMwithdrew-core' 
    or data['showBannerAppeals'] == 'ROMMwithdrew-specialism' 
    or data['showBannerAppeals'] == 'ROMMoutcome-core' 
    or data['showBannerAppeals'] == 'ROMMoutcome-specialism' 
    or data['showBannerAppeals'] == 'raiseAppeal-core' 
    or data['showBannerAppeals'] == 'raiseAppeal-specialism' 
    or data['showBannerAppeals'] == 'appealwithdrew-core' 
    or data['showBannerAppeals'] == 'appealwithdrew-specialism' 
    or data['showBannerAppeals'] == 'appealoutcome-core' 
    or data['showBannerAppeals'] == 'appealoutcome-specialism'%}
    {% include "../../includes/appeals/record-entries-success-messages.html" %}
    {% else %}
    
    {% endif %}



</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }}'s grades</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ULN
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['uln']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV2'][data.uln]['learnerProvider'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKPRN
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV2'][data.uln]['UKPRN'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          T Level 
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelTitle'] }}
        </dd>
      </div>
    </dl>

  </div>
  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-column">

    {% if data['uln'] === '1987654321'%}
    {% include "../../includes/appeals/record-entry-full-results-2021.html" %}
    {% elif data['uln'] === '9876543210' %}
    {% include "../../includes/appeals/record-entry-core-specialism-late.html" %}
    {% elif data['uln'] === '1162334257' %}
    {% include "../../includes/appeals/record-entry-core-no-specialism.html" %}
    {% endif %}


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More about grades and their statuses
        </span>
      </summary>
      <div class="govuk-details__text">
        The highest grade for each component will be used to calculate the overall T Level result for results day.
        All grades must be marked ‘FINAL’ before they can be used to calculate an overall T Level result for certificate
        printing.Grades are marked ‘FINAL’ and can no longer be changed here when:
        the appeal deadline has passed, or
        an appeal outcome has been logged
    
        If a grade status is ‘ROMM’ or ‘APPEAL’ it cannot be used to calculate a T Level result for certificate printing
        until an outcome has also been logged.
    
        If you need to change a grade that is marked ‘FINAL’, please contact us.
      </div>
    </details>

    <a class="govuk-button govuk-!-margin-top-7" role="button" href="post-results-search-uln">Search again</a>

  </div>
  
</div>
{% elif data['uln'] === '5647382910'%}
{% include "../../includes/appeals/no-grades-to-appeal.html" %}
{% elif data['uln'] === '1231231231' %}
{% include "../../includes/appeals/learner-withdrawn.html" %}
{% else %}
{% include "../../includes/appeals/no-learner-found.html" %}
{% endif %}

{% endblock %}
