{% extends "layout.html" %}

{% block pageTitle %}
Appeals - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Appeals</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Tell us if a grade is being reviewed or appealed
    </h1>

    <p class="govuk-body">You must tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that a learner has requested a review of marking or moderation (ROMM)</li>
      <li>the outcome of any ROMM</li>
      <li>that a learner has requested an appeal</li>
      <li>the outcome of any appeal</li>
    </ul>
    
    <p class="govuk-body">This is to make sure that the learner does not receive:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>an overall T Level result that has been calculated using a grade that is not yet final</li>
      <li>a T Level certificate with the incorrect overall result</li>
    </ul>  
    


    <a class="govuk-button govuk-!-margin-top-4" role="button" href="search-learner">Continue</a>

    <h2 class="govuk-heading-m">Before you can tell us about any ROMM or appeal the learner must have:</h2>

    <!-- <p class="govuk-body">The learner must have:</p> -->
        <ul class="govuk-list govuk-list--bullet">
          <li>an active registration (not withdrawn)</li>
          <li>a recorded grade already in this system.</li>
        </ul>
      </li>


  </div>
</div>

{% endblock %}
