{% extends "layout.html" %}

{% block pageTitle %}
Add an appeal - Post-results - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add an appeal</h1>
      <p>Tell us that {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }} has asked for an appeal of their {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelSpecialism'] }} </p> 
        
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uln'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T Level
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelTitle'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Specialism
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelSpecialism'] }}<br aria-hidden="true">{{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exam Period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismAssessmentEntry'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['specialism-selected-grade'] === "yes" %}
            {{ data['ROMM-grade-specialism'] }}
            {% else %}
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismResult'] }}
            {% endif %}
          </dd>
        </div>
      </dl>

      <form action="raise-appeal-for-specialism" method="post" novalidate data-validate='appeal-validation-specialism'>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Has {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }} raised an appeal for this grade?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="raiseAppealspecialism-yes" name="raiseAppealspecialism" type="radio" value="yes" {{ checked("raiseAppealspecialism", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="raiseAppealspecialism-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="raiseAppealspecialism-no" name="raiseAppealspecialism" type="radio" value="no" {{ checked("raiseAppealspecialism", "no") }}>
                <label class="govuk-label govuk-radios__label" for="raiseAppealspecialism-no">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="appeal-validation-specialism">
    {

        "raiseAppealspecialism": {

            "presence": {

                "message": "^Select ‘yes’ if the learner has raised an appeal against this grade"

            }

        }

    }
</script>


{% endblock %}