{% extends "layout.html" %}

{% block pageTitle %}
Check and submit outcome of specialism appeal  - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check and submit
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-9">Check the information is correct before submitting the grade.</p>

    <form action="submit-appeal-outcome-specialism" method="post" class="form">
      <h2 class="govuk-heading-m">Learner's details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uln'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerProvider'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKPRN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['UKPRN'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T Level
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentData'][data.uln]['learnerTLevelTitle'] }}
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exam Period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentData'][data.uln]['learnerSpecialismAssessmentEntry'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Specialism: {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialism'] }}<br>{{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Old grade
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['specialism-selected-grade'] === "yes" %}
            {{ data['ROMM-grade-specialism'] }}
            {% else %}
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismResult'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New grade
          </dt>

          <dd class="govuk-summary-list__value">
            {% if data['specialism-selected-grade'] === "yes" %}
            {{ data['ROMM-grade-specialism'] }}
            {% elif data['specialism-selected-grade'] === "yes-appeal" %}
            {{ data['appeal-grade-specialism'] }}
            {% else %}
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismResult'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="specialism-add-appeal-select-grade">
              Change<span class="govuk-visually-hidden"> grade</span>
            </a>
          </dd>
        </div>
      </dl>
            
      <p class="govuk-inset-text">Selecting 'Submit' will update the grade and mean the grade is no longer being appealed</p>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      
        <a class="govuk-link" href="">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}