{% extends "layout.html" %}

{% block pageTitle %}
ROMM outcome
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add ROMM outcome</h1> 
        
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Learner
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerName'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uln'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerDOB'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T Level
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelTitle'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Specialism
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerTLevelSpecialism'] }}<br aria-hidden="true">{{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exam Period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismAssessmentEntry'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">

            {{ data['tLevelsStudentDataV2'][data.uln]['learnerSpecialismResult'] }}

          </dd>
        </div>
      </dl>

      <form action="specialism-add-ROMM-outcome" method="post" novalidate data-validate='ROMM-outcome-validation-specialism'>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is ROMM outcome?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-is-ROMM-outcome" name="what-is-ROMM-outcome-specialism" type="radio" value="Grade has changed">
                <label class="govuk-label govuk-radios__label" for="what-is-ROMM-outcome">
                  Grade has changed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-is-ROMM-outcome-2" name="what-is-ROMM-outcome-specialism" type="radio" value="Grade is the same">
                <label class="govuk-label govuk-radios__label" for="what-is-ROMM-outcome-2">
                  Grade is the same
                </label>
              </div>
              {% if data['specialismGradestatus'] == 'ROMM'%}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-is-ROMM-outcome-3" name="what-is-ROMM-outcome-specialism" type="radio" value="learner withdrew">
                <label class="govuk-label govuk-radios__label" for="what-is-ROMM-outcome-3">
                  Learner withdrew ROMM request
                </label>
              </div>
              {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-is-ROMM-outcome-4" name="what-is-ROMM-outcome-specialism" type="radio" value="Waiting on outcome">
                <label class="govuk-label govuk-radios__label" for="what-is-ROMM-outcome-4">
                  Waiting on outcome
                </label>
              </div>
              {% endif %}
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="ROMM-outcome-validation-specialism">
    {

        "what-is-ROMM-outcome-specialism": {

            "presence": {

                "message": "^Select outcome"

            }

        }

    }
</script>


{% endblock %}




