<div class="app-step-nav-related app-step-nav-related--singular">
    <h2 class="app-step-nav-related__heading">
            Guidance
    </h2>
</div>
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="/guidance#special-consideration">Special consideration</a>
    </li>
 
    <li>
        <a class="govuk-link" href="/guidance#industry-placement-models">Industry placement models</a>
    </li>
    <li>
        <a class="govuk-link" href="/guidance#temporary-flexibilities">Temporary flexibilities</a>
    </li>
</ul>