{% extends "layout.html" %}

{% block pageTitle %}
Home page - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}


<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                Manage T Level results
            </h1>
            <p class="govuk-body">Use this service to tell us about:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the T Levels you deliver and which providers are offering them</li>
                <li>your registered learners, when they will be assessed and the results they achieve</li>
            </ul>
            <p class="govuk-body">The information you give us will be used to calculate learners' overall grades and printed on their certificates.</p>
        </div>
    </div>
</div>

<!-- MAIN ROW -->
<section class="homepage-section homepage-section--services-and-info">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">Navigation</h2>
                <ul class="homepage-services-and-info__list">  
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="t-levels/student-t-levels.html">T Levels</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Review, change and confirm the T Levels you offer.</p>
                        </div>
                    </li>        
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="providers/find-provider.html">Providers</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Manage providers and select the T Levels they can offer.</p>
                        </div>
                    </li>      
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="registrations/registrations">Registrations</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Register, edit and withdraw learners, and download registrations data.</p>
                        </div>
                    </li>   
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="assessments/assessments-dashboard.html">Assessments</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Tell us when your learners will be assessed and download assessments data.</p>
                        </div>
                    </li>   
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="results/student-results.html">Results</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Tell us the initial grades learners achieved and download results data.</p>
                        </div>
                    </li>   
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="appeals/post-results-reviews-appeals-and-grade-changes.html">Reviews, appeals and grade changes
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Tell us about any reviews of marking and moderation (RoMMs) or appeals and report their outcomes.</p>
                        </div>
                    </li>   
                    <li class="chevron-card">
                        <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="">Account</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">View and edit your profile. If you're an administrator, you can also manage other users' accounts.</p>
                        </div>
                    </li>  
            </ul>
        </div>
    </div>
    </section>

    {% endblock %}
