{% extends "layout.html" %}

{% block pageTitle %}
  Select assessment periods
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
<a href="/V2-0/AO/assessments/assessments-download-data/assessments-download-data" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V2-0/AO/assessments/assessments-download-data/assessments-optional-columns" method="post" novalidate data-validate="data-validate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-xl">Download data</span>
            <label class="govuk-label govuk-label--l" for="aseessments-periods" value="Assessment period(s)" name="aseessments-periods" id="name">
              Select Assessment period(s)
            </label>

          </h1>
          <div class="govuk-form-group">

            <span class="govuk-hint" for="aseessments-periods">
              Which assessment period(s) would you like in the download file?
            </span>
      
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input onclick="toggle(this);" class="govuk-checkboxes__input" id="assessment1" name="allAseessmentsPeriods"                 
                                  type="checkbox" value="All" {{ checked("aseessments-periods", "All") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="assessment1">
                                    All 
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="assessment2" name="aseessments-periods" type="checkbox" value="Summer 2021" {{ checked("aseessments-periods", "Summer 2021") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="assessment2">
                                    Summer 2021
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="assessment3" name="aseessments-periods" type="checkbox" value="Autumn 2021" {{ checked("aseessments-periods", "Autumn 2021") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="assessment3">
                                    Autumn 2021
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="assessment4" name="aseessments-periods" type="checkbox" value="Summer 2022" {{ checked("aseessments-periods", "Summer 2022") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="assessment4">
                                    Summer 2022
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="assessment5" name="aseessments-periods" type="checkbox" value="Autumn 2022" {{ checked("aseessments-periods", "Autumn 2022") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="assessment5">
                                    Autumn 2022
                                  </label>
                                </div>
          </div>
          
                  </div>

            </div>
            
            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<script>

  function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
  }
  </script>
  


<script type="application/json" id="data-validate">
  {

    "aseessments-periods": {
      "presence": {
        "message": "^Select which assessment period(s) you would like in the download file "
      }
    }

  }
</script>


{% endblock %}
