{% extends "layout.html" %}

{% block pageTitle %}
  Select optional data
{% endblock %}

{% block beforeContent %}
<a href="/V2-0/AO/download-data/select-assessment-periods" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V2-0/AO/download-data/check-your-data-assessments" method="post" novalidate data-validate="data-validate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-xl">Download data</span>
            <label class="govuk-label govuk-label--l" for="optionalAssessment">
              Select optional data
            </label>
            <input name="optionalAssessment-name" value="optionalAssessment(s)" name="optionalAssessment-name" hidden="true">
            <input name="change-optionalAssessment" value="Change" name="change-optionalAssessment" hidden="true">
          </h1>
      <div class="govuk-form-group">

      <span class="govuk-hint" for="optionalAssessment">
        The CSV download will include ULN, T Level title and registrations year by default. You an also select from the following optional data points.
      </span>
                  <span class="govuk-hint" for="optional">
              Which optional columns would you like to download?
            </span>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input onclick="toggle(this);" class="govuk-checkboxes__input" id="optionalAssessment1" name="alloptionalAssessment"                
                            type="checkbox" value="All" {{ checked("optionalAssessment", "All optionalAssessments") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optionalAssessment1">
                              All 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optionalAssessment2" name="optionalAssessment" type="checkbox" value="Date of birth" 
                            {{ checked("optionalAssessment", "Date of birth") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optionalAssessment2">
                              Date of birth 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optionalAssessment3" name="optionalAssessment" type="checkbox" value="Provider" {{ checked("optionalAssessment", "Provider") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="optionalAssessment3">
                              Provider
                            </label>
                          </div>
                              <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optionalAssessment4" name="optionalAssessment" type="checkbox" value="T Level title" {{ checked("optionalAssessment", "T Level title") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="optionalAssessment3">
                              T Level title
                            </label>
                          </div>
                              <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optionalAssessment5" name="optionalAssessment" type="checkbox" value="Specialism(s)" {{ checked("optionalAssessment", "Specialism(s)") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="optionalAssessment3">
                             Specialism(s)
                            </label>
                          </div>
    </div>

            </div>
          </div>
          
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>

        </form>
    </div>
</div>

{# <script type="application/json" id="data-validate">
  {

    "optionalAssessment": {
      "presence": {
        "message": "^Select which optionalAssessment(s) would like in the download file "
      }
    }

  }
</script> #}

<script>

{# // select all toggle #}

function toggle(source) {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i] != source)
          checkboxes[i].checked = source.checked;
  }
}
</script>


<script>
  function check(){
  
      let checkbox1 = document.getElementById("optionalAssessment1").checked
      let checkbox2 = document.getElementById("optionalAssessment2").checked
      let checkbox3 = document.getElementById("optionalAssessment3").checked
      let checkbox4 = document.getElementById("optionalAssessment4").checked
      let checkbox4 = document.getElementById("optionalAssessment5").checked
      
      if (checkbox1 == false && checkbox2 == false && checkbox3 == false && checkbox4 == false){
          sessionStorage.setItem("check", "no")
      }
  }
  </script>

{% endblock %}
