{% extends "layout.html" %}

{% block pageTitle %}
Add specialism assessment entry - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="add-specialism-entry" method="post" class="form" novalidate data-validate="add-specialism-entry">

        <h1 class="govuk-heading-l">Add occupational specialism assessment entry to summer 2022</h1> 
        
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ULN
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['uln'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerDOB'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider<br>(UKPRN)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerProvider'] }}<br aria-hidden="true">{{ data['tLevelsStudentData'][data.uln]['UKPRN'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              T Level
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerTLevelTitle'] }}
            </dd>
          </div>
        </dl>
        
        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" for="add-specialism-entry">
                  <h2 class="govuk-fieldset__heading">
                    Is this learner entering an assessment for their occupational specialism(s) in summer 2022?
                  </h2>
                </legend>

                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="add-answer-1" name="add-specialism-entry" type="radio" value="yes" >
                        <label class="govuk-label govuk-radios__label" for="add-answer-1">
                          Yes, add entry for summer 2022
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="add-answer-2" name="add-specialism-entry" type="radio" value="no"  >
                        <label class="govuk-label govuk-radios__label" for="add-answer-2">
                          No, do not add entry for summer 2022
                        </label>
                    </div>
                  </div>
              </fieldset>

          </div>
          <button class="govuk-button" data-module="govuk-button">Submit</button>
      </form>
  </div>
</div>

<script type="application/json" id="add-specialism-entry">
    {
  
      "add-specialism-entry": {
        "presence": {
          "message": "^Select whether the learner is entering an assessment"
        }
  
      }
  
    }
  </script>

{% endblock %}