{% extends "layout.html" %}

{% block pageTitle %}
{% if data['uln'] === '1231231231' %}
Learner withdrawn - Manage T Level results - GOV.UK
{% elseif data['uln'] === '8642135790' %}
Learner's assessment entries - Manage T Level results - GOV.UK
{% else %}
ULN not found - Manage T Level results - GOV.UK
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if data['uln'] === '8642135790' %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assessments-dashboard.html">Assessments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assessment-entries-learner-search">Search for a learner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Learner's assessment entries</li>
  </ol>
</div>
{% else %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endif %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if data['showBannerAssessments'] === 'yes' %}
    {% include "includes/V2-0/assessments/assessment-entries-success-messages.html" %}
    {% else %}
    {% endif %}
</div>
</div>
{% if data['uln'] === '1231231231' %}
{% include "includes/V2-0/assessments/assessment-entries-withdrawn.html" %}
{% elseif data['uln'] === '8642135790' %}
{% include "includes/V2-0/assessments/assessment-entries-add.html" %}
{% else %}
{% include "includes/V2-0/assessments/search-for-learner-ULN-not-found.html" %}
{% endif %}  
{% endblock %}