{% extends "layout.html" %}

{% block pageTitle %}
  Remove entry - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="remove-specialism-entry" method="post" class="form" novalidate data-validate="remove-specialism-entry">

        <h1 class="govuk-heading-l">H1 Title</h1> 
        
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ULN
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['uln'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerDOB'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider<br>(UKPRN)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerProvider'] }}<br>{{ data['tLevelsStudentData'][data.uln]['UKPRN'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              T Level title
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerTLevelTitle'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Specialism <br>(code)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialism'] }}<br>{{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode'] }}
            </dd>
          </div>
        </dl>
        
        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" for="remove-specialism-entry">
                  <h2 class="govuk-fieldset__heading">
                    Question to ask to confirm remove entry
                  </h2>
                </legend>

                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="remove-answer-1" name="remove-specialism-entry" type="radio" value="yes" >
                        <label class="govuk-label govuk-radios__label" for="remove-answer-1">
                          Yes, 
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="remove-answer-2" name="remove-specialism-entry" type="radio" value="no"  >
                        <label class="govuk-label govuk-radios__label" for="remove-answer-2">
                          No, 
                        </label>
                    </div>
                  </div>
              </fieldset>

          </div>
          <div class="govuk-inset-text">
            Text to explain removing entry
          </div>

          <button class="govuk-button" data-module="govuk-button">Submit</button>
      </form>
  </div>
</div>

<script type="application/json" id="remove-specialism-entry">
  {

    "remove-specialism-entry": {
      "presence": {
        "message": "^Error message"
      }

    }

  }
</script>


{% endblock %}