// Block subpages

.subpage.blocks {

    .search-row {
        margin-top:0px;
    }

    h2 {
        margin-bottom:35px;
    }
}

.subpage.blocks.stories-page {
    .search-row {
        margin-top:30px;
    }

    .testimonial {
        .wrap > div,
        > div {
            position:relative;
            padding: 0px 25px;

            &:first-child {
                margin-bottom:25px;

                p {
                    line-height:25px;
                }
            }

            &:last-child {
                p {
                    font-weight:bold;
                    max-width:379px;
                } 

                a.link-transcript {
                    padding-bottom:2px;
                    border-bottom: 1.5px solid #765aaf;
                }
            }

            svg {
                position: absolute;
                width: 35px;

                &:first-of-type {
                    top: -22px;
                    left: -15px;
                }

                &:last-of-type {
                    bottom: -10px;
                    right: -15px;
                }
            }
        }
    }

    .light-orange {
        svg path {
            fill:#ff9467;
        }
        > div:last-child p {
            color:#ff9467;

            &.col-black {
                color:#000;
            }
        }
    }

    .flat-orange {
        svg path {
            fill:$orange;
        }
        > div:last-child p {
            color:$orange;

            &.col-black {
                color:#000;
            }
        }
    }

    .light-purple {
        svg path {
            fill:#765aaf;
        }
        .wrap > div:last-child p,
        > div:last-child p {
            color:#765aaf;

            &.col-black {
                color:#000;
            }
        }
    }
}

.stories-page {
    > div:first-child {
        .block-50.text.hide-block {
            padding-left:0px;
        }
        .wrap {
            padding-right:30px;
        }
    }
}

.stories-bottom-banner {
    div {
        padding: 65px 15px 70px;
    }

    p, a {
        margin:0px;
    }

    a {
        border-bottom:1.5px solid #765aaf;

        &:hover {
            border-bottom:1.5px solid #fff;
            background-color: rgba(118,90,176,0.25);
        }

        &:focus {
            background-color: rgba(118,90,176,0.55);
        }
    }
}

.heading-sora {
    text-transform:initial;
    font-weight:bold;
}

h3.heading-sora {
    font-size:21px;
    margin-bottom:5px;
    margin-top:10px;
}

.account-bar *,
.eoi-form-journey * {
    font-family: "GDS Transport", arial, sans-serif !important;
    font-style:normal !important;
    text-transform:initial !important;

    .govuk-link:link {
        color: #1d70b8;
        text-decoration: underline;
        border-bottom:none;
    }

    p a,
    .govuk-link:hover {
        color: #003078;
        background:none;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
    }

    .govuk-link:active {
        color: #0b0c0c;
    }

    .govuk-link:focus {
        outline: 3px solid rgba(0,0,0,0);
        color: #0b0c0c;
        background-color: #fd0;
        -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
    }
}

// EOI Intro/Filters page

.gov-grey-box {
    border: 1px solid #b1b4b6;
    padding:0px;

    > h3:first-of-type {
        background-color: #f3f2f1;
        padding: 10px;
        width: 100%;
        margin:0px;
    }

    > div:first-of-type {
        padding:20px;
    }

    .govuk-form-group {
        margin:0px;

        input {
            margin: 10px 0px 20px;
        }
    }

    .btn-blue {
        margin:0px;
    }
}

.search-result {
    padding:20px;
    border: 1px solid #b1b4b6;
    position:relative;
    margin-bottom:20px;

    .tag-grey {
        display:block;
        position:absolute;
        top:20px;
        right:20px;
        font-weight:bold;
        padding:3px 5px;
        background-color: #f3f2f1;
    }

    h2 {
        font-size:25px;
        text-transform: uppercase !important;
        margin:0px 0px 10px 0px;
        line-height:25px;
    }

    .available-list {
        border: 1px solid #b1b4b6;
        border-left: 5px solid #00703c;
        padding: 20px 20px 20px 25px;
        margin-bottom:20px;

        ul { 
            margin:5px 0px 15px; 
            padding-left:17px;
        }

        li { 
            margin:0px 0px 5px; 
        }

        p, ul, a {
            font-size:19px;
        }
    }

}

.eoi-prompt {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    padding: 22px 0px 30px;
    margin: 10px 0px 20px;
    background-color: #fff;
    border-top: 5px solid #1d70b8;
    margin:40px 0px 60px;

    p { margin:0px; }

    &.eoi-seen {
        margin-bottom:40px;
        border-top: 5px solid #b1b4b6;
    }

    .govuk-link {
        color: #1d70b8;
        text-decoration: underline;
        border-bottom: none;
    }
}

.show-later {
    opacity:0;
    display:none;
    transition:all 0.3s ease-in-out;

    &.shown {
        opacity:1;
        display:block;
    }
}

.gov-grey-box {

    .govuk-accordion {
        border-bottom:0px;
        margin-bottom:0px;
    }

    .govuk-accordion__section-toggle {
        margin-bottom:0px;
    }

    .govuk-accordion__show-all,
    .govuk-accordion__section-toggle-text {
        font-size:16px;
        margin-bottom:0px;
    }

    .govuk-accordion__section:last-child .govuk-accordion {
        border-bottom:0px;
    }

    .govuk-accordion__show-all {
        margin-bottom:10px;
    }

    .govuk-accordion__section-content {
        padding-bottom:15px;
    }

    .govuk-accordion__section-button {
        font-size:16px;
        color: #626a6e;
        font-weight:normal;

        h3 {
            font-size:19px;
            color:#000;
            font-weight:bold;
            margin:5px 0px 5px;
        }
    }
}
  
.show-first {
    opacity:0;
    display:none;
    transition:all 0.3s ease-in-out;

    &.shown {
        opacity:1;
        display:block;
    }
}

.show-initial.hide-this {
    display:none;
}

.gov-conditional-set {
    display:none; 

    &.test-class {
        display:block;
    }
}

// Provider side EOI

.account-bar {
    background-color: #f3f2f1;
    width:100%;
    display:block;
    float:left;
    clear:both;
    margin-bottom:40px;

    .govuk-link {
        color: #1d70b8;
        text-decoration: underline;
        border-bottom:none;
    }

    p, a {
        font-size:15px;
    }

    p {
        margin:10px 0px 10px;
    }

    p:first-child {
        float:left;
        padding-left:10px;
    }

    p:last-child {
        float:right;
        padding-right:10px;
    }
}

#eoi-hidden-input {
    display:none;
    width: 200px;
}

#eoi-hidden-btn-input {
    display:none;
}

.hidden-element {
    display:none;
    opacity:0;
}

.visibile-element {
    display:block;
    opacity:1;
}

.employer-listing {

    thead tr:hover {
        background:none;
    }

    tr:hover {
        background-color:#f3f2f1;
    }

    .govuk-table__cell p {
        margin-bottom:10px;
        padding-bottom:10px;
        border-bottom:1px solid #eaeaea;

        &:last-child {
            margin-bottom:0px;
            padding-bottom:0px;
            border:none;
        }
    }
}