.subjects.digi-prod {
    > div:first-child {
        background:url('https://www.tlevels.gov.uk/files/images/subjects/digital-production-design-development.jpg') no-repeat center;
        background-size:cover;

        .link-transcript {
            border-bottom: 1.5px solid #fff;
            padding-bottom: 0px;
            margin-bottom:20px;
        }
    }
}