          <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="industrial-placement-models-1"
                      name="industrial-placement-models" type="radio" value="Occupationally relevant part-time work" {{ checked("industrial-placement-models", "Occupationally relevant part-time work") }}>
                  <label class="govuk-label govuk-radios__label" for="industrial-placement-models-1">
                      Occupationally relevant part-time work
                  </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="industrial-placement-models-2"
                      name="industrial-placement-models" type="radio"
                      value="On-site facilities for 105 hours (for SEND students)">
                  <label class="govuk-label govuk-radios__label" for="industrial-placement-models-2" {{ checked("industrial-placement-models", "On-site facilities for 105 hours (for SEND students)") }}>
                      On-site facilities for 105 hours (for SEND students)
                  </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="industrial-placement-models-3"
                      name="industrial-placement-models" type="radio"
                      value="On-site facilities (for young people in Young Offender Institutions)">
                  <label class="govuk-label govuk-radios__label" for="industrial-placement-models-3" {{ checked("industrial-placement-models", "On-site facilities (for young people in Young Offender Institutions)") }}>
                      On-site facilities (for young people in Young Offender Institutions)
                  </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="industrial-placement-models-4"
                      name="industrial-placement-models" type="radio"
                      value="Digital and Engineering & Manufacturing: route-level placements">
                  <label class="govuk-label govuk-radios__label" for="industrial-placement-models-4" {{ checked("industrial-placement-models", "Digital and Engineering & Manufacturing: route-level placements") }}>
                      Digital and Engineering & Manufacturing: route-level placements
                  </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="industrial-placement-models-7"
                      name="industrial-placement-models" type="radio"
                      value="Construction: Commercial, Charitable or Community Projects">
                  <label class="govuk-label govuk-radios__label" for="industrial-placement-models-7" {{ checked("industrial-placement-models", "Construction: Commercial, Charitable or Community Projects") }}>
                      Construction: Commercial, Charitable or Community Projects
                  </label>
              </div>
          </div>

          <script type="application/json" id="industrial-placement-models-validation">
            {
          
              "industrial-placement-models": {
          
                "presence": {
          
                  "message": "^Select which industrial placement model was used"
          
                }
          
              }
          
            }
          </script>