{% extends "layout.html" %}

{% block pageTitle %}
Download T Level results for your learners - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="../providers/tlevels-dashboard.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        {% if data['learnerStartYear'] == '2020 to 2021' %}
        <h1 class="govuk-heading-l">
            Download your 2020 learner records
        </h1>
        {% else %}
        <h1 class="govuk-heading-l">
            Download your 2021 learner records
        </h1>
        {% endif %}

        <p class="govuk-body">You can download the records for all of your {{ data['learnerStartYear'] }} learners.</p>

        <p class="govuk-body">The file will update each time you download it.</p>

        <p>Any changes to results will be updated on the results file on the next working day.</p>


        <p class="govuk-body">Please note that any previously downloaded CSV file will not be updated if learner grades change</p>

        <div class="govuk-button-group">
            <a class="govuk-button" role="button" href="data:text/csv;charset=utf-8,ULN,Last name,First name,Date of birth,T Level,Start year,Core component,Core code,Core result,Occupational specialism,Specialism code,Specialism result,Industry placement status,Overall result
            1234567890,Smith,John ,01-Aug-04,T Level in Education and childcare,2020 to 2021,Education and Childcare,60358294,Unclassified,Supporting and Mentoring Students in Educational Settings,ZTLOS008,Unclassified,Not completed,Unclassified
            1122334455,Thomas,Frankie,02/08/2004,T level in Design Surveying and Planning for Construction,2020 to 2021,Design Surveying and Planning,60358300,A,Surveying and Design for Construction and the Built Environment,ZTLOS001,Distinction,Completed,Distinction
            1987654320,Chandler,Isobel,09/08/2004,T Level in Digital production design and development,2020 to 2021,Digital Production Design and Development,60358324,B,Digital Production Design and Development,ZTLOS005,Unclassified,Completed with special consideration,Partial achievement
            1987654321,Lee,Simon,10/08/2004,T Level in Digital production design and development,2021 to 2021,Digital Production Design and Development,60358324,X - no result,Digital Production Design and Development,ZTLOS006,X - no result,Not completed,X - no result
            4455667788,Christiensen,Rachel,11/08/2004,T level in Design Surveying and Planning for Construction,2022 to 2021,Design Surveying and Planning,60358300,Unclassified,Surveying and Design for Construction and the Built Environment,ZTLOS001,X - no result,Not completed,Unclassified
            2987654320,Gregory,Lucy,12/08/2004,T Level in Digital production design and development,2020 to 2021,Digital Production Design and Development,60358324,X - no result,,,,Not compelted,X - no result
            1234567891,Benn,Adrian,21/08/2004,T Level in Education and childcare,2020 to 2021,Education and Childcare,60358294,X - no result,,,,Completed,Partial achievement">Download results file</a>
            <a class="govuk-button govuk-button--secondary" role="button" href="manage-t-level-records.html">Back to learner records</a>
        </div>

    </div>
</div>

{% endblock %}
