{% extends "layout.html" %}

{% block pageTitle %}
Request a replacement document - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./update-t-level-record.html">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- MAIN HEADING -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Request replacement document</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Check the learner's details before sending your request
    </h1>
    <p class="govuk-body">Request a replacement document if it has been lost or damaged.</p>
    <p class="govuk-body">The document you will receive will be a copy of the previous certificate or statement of achievement. It may not reflect any changes to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>grades</li>
      <li>industry placement status</li>
      <li>English and maths achievements</li>
    </ul>

    <p class="govuk-body">This means that the results in the document may not match the results shown in the learner’s record.</p>

    <p class="govuk-body">If any components have changed within this learner’s record, you will automatically be sent an updated document within the next two months.</p>
    <p class="govuk-body">Check this data is correct or make any changes before submitting your request.</p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post" novalidate data-validate='certificateStatus-validation'>
      <div class="record-header">
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}
        </h2>

        <span class="govuk-caption-xl">ULN: {{ [data['uln']] }}
          </span>

      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__key">
            Document requested
          </dd>
          <dd class="govuk-summary-list__value govuk-!-padding-left-9 govuk-!-padding-bottom-6">
            Certificate
          </dd>
        </div>
      </dl>
      <div>
        <h2 class="govuk-heading-m govuk-!-display-inline">Your organisation's postal address</h2>
        <a href="./add-address-postcode.html" class="govuk-link govuk-link--no-visited-state app-float-right">change</a>
      </div>
      <p class="govuk-body">Changing the address will take you back to the home page.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__key">
            Department
          </dd>
          <dd class="govuk-summary-list__value govuk-!-padding-left-9">
            Exams Office
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__key">
            Organisation's address
          </dd>
          <dd class="govuk-summary-list__value govuk-!-padding-left-9">
            Barnsley Academy<br/>
            Main Block<br/>
            Church Street<br/>
            Barnsley<br/>
            S70 2AZ<br/>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your request</h2>
      <p class="govuk-body">By submitting this request you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <button type="submit" class="govuk-button govuk-!-display-block" name="certificateStatus" data-module="govuk-button" data-prevent-double-click="true" {{ checked("certificateStatus", "TRUE") }}>Accept and request</button>
      <a href="./update-t-level-record.html" class="govuk-link govuk-link--no-visited-state">Cancel</a>

    </form>
  </div>
</div>




{% endblock %}
