{% extends "layout.html" %}

{% block pageTitle %}
What is the reason for the special consideration - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="total-placement-hours">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="special-consideration-evidence" method="post" novalidate data-validate='special-consideration-validation'>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What is the reason for the special consideration?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-checkboxes">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste" name="special-consideration" type="radio"
                                value="1">
                            <label class="govuk-label govuk-radios__label" for="waste">
                                Physical or mental illness or accident/injury at the time of the placement
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-2" name="special-consideration" type="radio"
                                value="2">
                            <label class="govuk-label govuk-radios__label" for="waste-2">
                                The student or a close family member has a diagnosed serious physical or mental illness
                                at the time of the placement
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="3">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                Bereavement of a family member or close friend at the time of the placement
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="4">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                A traumatic incident, or significant change in the student’s circumstances, occurring at
                                the time of the placement
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="5">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                Participation in significant sporting events, training camps or other competitions
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="6">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                A safeguarding issue at the workplace where the placement is based has been identified
                                by the provider and the student is unable to make up the hours on another placement
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="7">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                Withdrawal of the placement offer by the employer because they have gone into
                                administration / or have encountered severe disruption whereby the workplace is no
                                longer considered a safe place to work, and the provider has exhausted all avenues to
                                identify a suitable alternative placement to enable the student to make up the hours
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="special-consideration" type="radio"
                                value="8">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                COVID temporary option (applicable to learners registered in 2020)
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

<script type="application/json" id="special-consideration-validation">
    {

        "special-consideration": {

            "presence": {

                "message": "^Select the reason for special consideration"

            }

        }

    }
</script>


{% endblock %}