{% extends "layout.html" %}

{% block pageTitle %}
  Home page - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}
<!-- CARD STYLES -->
<style>
    .card {
        background-color: #f3f2f1;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 100%;
        margin-bottom: 10px;
    }
</style>

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                Manage T Level results
            </h1>
        </div>
        <div class="govuk-inset-text">
            <p class="govuk-body">
                On Monday 15 November, at the Second Reading of the Skills Bill, the Secretary of State announced changes to the English and maths requirements for T Levels. We have removed the exit requirement with immediate effect for all T Level students.
            </p>
            <ul>
                <li class="govuk-body">
                    You must still provide us with English and maths attainment information.
                </li>
                <li class="govuk-body">
                    The wording in this service has not yet been updated to reflect the policy changes.
                </li>
            </ul>

            <p class="govuk-body">

                More about the changes to <a class="govuk-link" target="_blank" href="https://support.tlevels.gov.uk/hc/en-gb/articles/4410238120722-November-2021-Changes-to-T-Level-exit-requirements-and-the-timeline-for-level-3-qualifications-reform">T Level exit requirements and the timeline for level 3 qualifications reform (opens in a new window or tab)</a>.
            </p>
        </div>

        <p class="govuk-body">
          Providers, for example, schools and colleges, can use this service to record a T Level learner's English and maths achievements and industry placement completion. These records will be added to the learner's T Level registration.
        </p>
        <p class="govuk-body">
          Exam boards, also known as awarding organisations, are responsible for registering each learner onto a T Level course and recording their technical qualification results.
        </p>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-4">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="manage-t-level-records">
                        Manage learner T Level records
                    </a>
                </h2>
            <p class="govuk-body">
                Add or change your learners' English and maths achievements and industry placement status
            </p>
        </div>
    </div>

    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-2">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="request-statement-of-achievement">
                        Request statement of achievement
                    </a>
                </h2>
            <p class="govuk-body">
                Learners who withdraw from their T Level course must be issued with a statement of achievement
            </p>
        </div>
    </div>

    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-2">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="org-address-present.html">
                        Manage your organisation's postal address
                    </a>
                </h2>
            <p class="govuk-body">
                Add or update the address you want certificates and statements of achievement sent to
            </p>
        </div>
    </div>


    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-5">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="">
                        Manage your account
                    </a>
                </h2>
              <p class="govuk-body">View your account profile and permissions</p>
        </div>
    </div>

{% endblock %}
