{% extends "layout.html" %}

{% block pageTitle %}
How many hours did the student spend on placement? - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="change-ip-result.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="special-consideration-reason" method="post" novalidate data-validate='placement-hours-validation'>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="placement-hours">
              How many hours did the student spend on placement?
            </label>
          </h1>
          <div id="passport-number-hint" class="govuk-hint">
            Maximum of 999 hours
          </div>
          <input class="govuk-input govuk-input--width-3" id="total-placement-hours" name="total-placement-hours" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

<script type="application/json" id="placement-hours-validation">

    {

        "total-placement-hours": {

            "presence": {
            "message": "^Enter number of hours student spent on placement"
            
            },


            "numericality": {
                "onlyInteger": true,
                "message": "^Hours spent on placement must be a number, like 50"
                
            },

            "numericality": {
                "lessThanOrEqualTo": 999,
                "message": "^Hours spent on placement must be 999 or fewer"
                
            }
        
        }
    
    }

</script>


{% endblock %}