{% extends "layout.html" %}

{% block pageTitle %}
  Add registration - Change core
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="add-change-registration-specialism-routes" method="post" novalidate data-validate="specialism-status-validation">
            <div class="govuk-form-group">
                
                    <span class="govuk-caption-xl">Add a new registration</span>
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="specialism">
                      Has the learner decided on the specialism?
                      </label>
                    </h1>
                    
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="specialism" name="specialism" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="specialism">
                          Yes, add the specialism now
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="specialism-2" name="specialism" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="specialism-2">
                          No, add the specialism later
                        </label>
                      </div>
                  </div>
                    
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<script type="application/json" id="specialism-status-validation">
  {

    "specialism": {
      "presence": {
        "message": "^Select yes if the learner has decided on the specialism "
      }

    }

  }
</script>

{% endblock %}
