{% extends "layout.html" %}

{% block pageTitle %}
Download data - Assessments - Manage T Level results - GOV.UK
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/tlevels-dashboard.html">Home</a>
    </li>
      <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/assessments/assessments-dashboard.html">Assessments</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Download assessments data
    </h1>

    <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
      <div class="attachment__thumbnail">
        <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true"
          href="">
          <svg class="attachment__thumbnail-image thumbnail-image-large" version="1.1" viewBox="0 0 99 140" width="99" height="140"
            aria-hidden="true">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z"
              stroke-width="0"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none"
              stroke-miterlimit="10" stroke-width="2"></path>
          </svg>
        </a>
      </div>
      <div class="attachment__details">
        <h3 class="govuk-heading-m">
          <a class="govuk-link" target="_self"
            href="">Core assessments data (CSV, 0.295KB)</a></h3>
        <p class="govuk-body-s"> <span></span> </p>
        <p class="govuk-body-s"><span></span><span></span></p>
      </div>
    </div>


  </div>
</div>




  <a class="govuk-button" href="">Back to home</a>
</div>


{% endblock %}
