{% extends "layout.html" %}

{% block pageTitle %}
Add registration - Registration added confirmation - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Registration successful</h1>
        <div class="govuk-panel__body">ULN: {{data['uln']}}
        </div>
      </div>
      
      <p class="govuk-body">You successfully added this new registration.</p>

      <a class="govuk-button" role="button" href="/V2-0/AO/registrations/registrations.html">Back to registrations</a>



    </div>
  </div>

{% endblock %}
