{% extends "layout.html" %}

{% block pageTitle %}
Specialism change restriction - Registration - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change occupational specialism
      </h1>

      <p>If you want to change this occupational specialism you must remove the assessment entry first. You can then return and change the specialism.</p>

      <a class="govuk-button" href="../assessments/learners-assessment-entries">Remove this assessment entry</a>

    </div>
  </div>

{% endblock %}
