{% extends "layout.html" %}

{% block pageTitle %}
  Search for a registration page - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/registrations/registrations">Registrations</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search for a registration</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/V2-0/AO/registrations/manage/registration-details" method="post" novalidate data-validate="search-for-learner-validation">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                        <h1 class="govuk-fieldset__heading">
                          Search for a registration
                        </h1>
                    </legend>
                    <p class="govuk-body">You can view, amend and delete a learner’s registration.</p>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="search">
                        Enter their unique learner number (ULN)
                      </label>
                      <span class="govuk-hint">
                          ULN must be 10 digits long
                      </span>
                      <input class="govuk-input govuk-input--width-10" id="uln" name="uln">
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Search</button>

        </form>
    </div>
</div>
<script type="application/json" id="search-for-learner-validation">
  {

    "uln": {
      "presence": {
        "message": "^Enter a ULN "
      },
      "numericality": {
        "onlyInteger": true,
        "message": "^Enter a valid ULN"
      },
      "length": {
        "is": 10,
        "message": "^Enter a valid ULN"
      }
    }

  }
</script>

{% endblock %}
