{% extends "layout.html" %}

{% block pageTitle %}
Requesting a statement of achievement page - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Manage T Level results</h1>
        <p class="govuk-body">This service is for awarding organisations and education providers who deliver T Level qualifications. It is managed and run by the Department for Education (DfE).</p>
        
        <p class="govuk-body">Awarding organisations can use this service to manage T Level:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>course details</li>
                <li>learners</li>
                <li>results</li>
            </ul>

        <p class="govuk-body">Education providers can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>download T Level results</li>
                <li>manage learners' maths, english and industry placement details</li>
                <li>request replacement certificates and statements of achievement</li>
            </ul>

        <a href="#" role="button" data-module="govuk-button" class="govuk-link--no-underline govuk-button govuk-button--start govuk-!-margin-top-6">Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You will need a DfE Sign-in account and at least one assigned role. <a href="#">Read more information about DfE Sign-in roles for manage T Level results</a>.</p>
        <p class="govuk-body">This service allows you to bulk upload specific learner information using templates. <a href="./t-levels-data-and-format-rules.html">Find out more about T Levels data formats, rules and templates</a>.</p>

       <!-- <details class="govuk-details" data-module="govuk-details" closed="">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Awarding organisation roles
                </span>
            </summary>
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">T Levels reviewers </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>review the T Levels they are licensed to deliver</li>
                    <li>confirm each T Level’s details are correct</li>
                    <li>request amendments</li>
                </ul>

                <h3 class="govuk-heading-s">Providers editors </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>review existing providers</li>
                    <li>add or remove providers</li>
                    <li>select the T Levels each provider offers</li>
                </ul>

                <h3 class="govuk-heading-s">Registrations editors </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>register learners on T Level courses</li>
                    <li>change a learner's details</li>
                    <li>change the T Level a learner is studying</li>
                    <li>manage movers, leavers and rejoiners</li>
                </ul>

                <h3 class="govuk-heading-s">Results editors </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>upload, view, update, remove and add learners’ results</li>
                </ul>

                <h3 class="govuk-heading-s">Site administrators </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all the permissions of the above roles</li>
                    <li>add users and assign the above roles to them</li>
                </ul>

            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details" closed="">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Provider roles
                </span>
            </summary>
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Learner records editors </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>upload, amend, view, delete and add English and maths achievements</li>
                    <li>update industry placement completion status</li>
                </ul>

                <h3 class="govuk-heading-s">Provider administrators </h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all the permissions of learner records editor</li>
                    <li>add users and assign the above role to them</li>
                </ul>
            </div>
        </details>-->

    </div>
</div>

{% endblock %}
