{% extends "layout.html" %}

{% block pageTitle %}
Search learner records - GOV.UK
{% endblock %}

{% block beforeContent %}

<h1 class="govuk-heading-xl">Manage T Level Results</h1>
<p class="govuk-body">Manage T Level results is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
<p class="govuk-body">This service is for awarding organizations and providers who deliver T Level qualifications.</p>
<h2 class="govuk-heading-m">Awarding organizations (also known as exam boards) can use this service to:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>tell us if T Level details are correct</li>
  <li>tell us which T Levels each provider is offering</li>
  <li>add or update learner registrations</li>
  <li>add or update assessment entries</li>
  <li>add or update core component results</li>
  <li>tell us about a grade appeal</li>
  <li>bulk upload records (see <a class="govuk-link" href="/tlevel-data-format-and-rules-guides">T Level data format and rules</a>)</li>
</ul>
<h2 class="govuk-heading-m">Providers (for example, schools and colleges) can use this service to:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>tell us if a learner has met the minimum standard for English and Maths</li>
  <li>tell us if a learner has completed their industry placement</li>
</ul>
<p class="govuk-body govuk-!-margin-top-7">For security reasons, you should always sign out when you have finished using the service. Select "Sign out" in the top right-hand corner of the screen to sign out and return to the "Start" page.</p>
<p class="govuk-body">You will be signed out if you are inactive for 30 minutes.</p>

{% endblock %}
