<section id="multiple-specialism-resits">
  <h2 class="govuk-heading-m">Core (code): {{ data['tLevelsStudentData'][data.uln]['learnerTLevelCore'] }} {{ data['tLevelsStudentData'][data.uln]['learnerTLevelCoreCode'] }}</h2>


  {% if data['core-assessment-entry-added'] === "yes" %}

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Exam period
      </dt>
      <dd class="govuk-summary-list__value">
        Summer 2023
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="remove-entry-core">
          Remove<span class="govuk-visually-hidden"> assessment entry</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last updated
      </dt>
      <dd class="govuk-summary-list__value">
        5 January 1978
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Updated by
      </dt>
      <dd class="govuk-summary-list__value">
        Sarah Philiips
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
  </dl>

  {% else %}

  <div class="govuk-inset-text">
    No assessment entries have yet been recorded for summer 2023<br aria-hidden="true">
    <a href="add-entry-core.html">Add an assessment entry for this learner's core component</a>
  </div>

  {% endif %}

  <h2 class="govuk-heading-m">Specialism (code): {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialism1'] }} {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode1'] }}</h2>
  {% if data['specialism-assessment-entry-added'] === "yes" %}

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Exam period
      </dt>
      <dd class="govuk-summary-list__value">
        Summer 2023
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="remove-entry-specialism">
          Remove<span class="govuk-visually-hidden"> assessment entry</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last updated
      </dt>
      <dd class="govuk-summary-list__value">
        5 January 1978
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Updated by
      </dt>
      <dd class="govuk-summary-list__value">
        Sarah Philiips
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
  </dl>

  {% else %}

  <div class="govuk-inset-text">
    No assessment entries have yet been recorded for summer 2023 <br aria-hidden="true">
    <a href="add-entry-specialism.html">Add an assessment entry for this learner's occupational specialism.</a>
  </div>

  {% endif %}

  <h2 class="govuk-heading-m">Specialism (code): {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialism2'] }} {{ data['tLevelsStudentData'][data.uln]['learnerTLevelSpecialismCode2'] }}</h2>
  {% if data['specialism-assessment-entry-added2'] === "yes" %}

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Exam period
      </dt>
      <dd class="govuk-summary-list__value">
        Summer 2023
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="remove-entry-resits">
          Remove<span class="govuk-visually-hidden"> assessment entry</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last updated
      </dt>
      <dd class="govuk-summary-list__value">
        5 January 1978
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Updated by
      </dt>
      <dd class="govuk-summary-list__value">
        Sarah Philiips
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        </a>
      </dd>
    </div>
  </dl>

  {% else %}

  <div class="govuk-inset-text">
    No assessment entries have yet been recorded for summer 2023 <br aria-hidden="true">
    <a href="add-entry-resits.html">Add an assessment entry for this learner's occupational specialism.</a>
  </div>

  {% endif %}
</section>
