{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}

{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./manage-t-level-records.html">Registered learners</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./update-t-level-record">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You should contact {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }}</h1>
      <p class="govuk-body">It’s important that you let {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }} know that {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }} would like to continue their T Level. You may need to register them with {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }} again.</p>
      <p class="govuk-body">Having accurate records will mean you will not receive unnecessary notifications from us.</p>
      </ul>      
      <a class="govuk-button" href="update-t-level-record?uln=1234567221">Continue</a>
    </div>
  </div>

  
{% endblock %}