{% extends "layout.html" %}

{% block pageTitle %}
Have you told the awarding organisation you want to reinstate the learner? – Manage T Levels results – GOV.UK
{% endblock %}

{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./manage-t-level-records.html">Registered learners</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./update-t-level-record">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="restore-learner-ao" method="post" data-validate='ao-notified-validation'>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you told {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }} that you want to reinstate {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ao-notified-yes" name="ao-notified" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="ao-notified-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ao-notified-no" name="ao-notified" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="ao-notified-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="ao-notified-validation">
    {

        "ao-notified": {

            "presence": {

                "message": "^Select yes if you have contacted the awarding organisation"

            }

        }

    }
  </script>
  
{% endblock %}