{% extends "layout.html" %}

{% block pageTitle %}
    Industry placement check answers - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" onclick="goBack()" href="#">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Check your answers</h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Learner
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data.uln]['learnerName'] }}</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data.uln]['learnerDOB'] }}</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ULN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['uln'] }}</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            T Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data.uln]['learnerTLevelTitle'] | safe}}</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Start year
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data.uln]['learnerStartYear'] | safe}}</p>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Industry placement status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['result-ip-answer'] == 'Completed' %}
                                Yes, completed
                            {% elif data['result-ip-answer'] == 'Completed with special consideration' %}
                                Yes, completed with special consideration
                            {% elif data['result-ip-answer'] == 'The learner needs more time' %}
                                Still to be completed
                            {% elif data['result-ip-answer'] == 'No, the learner will not complete their industry placement' %}
                                Not completed
                            {% else %}
                                {{ data['result-ip-answer'] }}
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="change-ip-result">
                                Change<span class="govuk-visually-hidden"> industry placement completed</span>
                            </a>
                        </dd>
                    </div>

                    {% if data['result-ip-answer'] == 'Completed with special consideration' %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Number of hours
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data ['total-placement-hours'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="total-placement-hours?change-answer=yes">
                                    Change<span class="govuk-visually-hidden"> total placement hours</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reasons for reduced hours
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['special-consideration'] == 'COVID-19' %}
                                    {{ data['special-consideration'] }}

                                {% elif (data['special-consideration']|length > 1) and (data['special-consideration']|length <= 9) %}
                                    {% for item in data['special-consideration'] %}
                                        <p>{{ item }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ data['special-consideration'] }}

                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="special-consideration-reason?change-answer=yes">
                                    Change<span class="govuk-visually-hidden"> special consideration reason</span>
                                </a>
                            </dd>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if data['industryModel'] == 'yes' %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Multiple employer model
                            </dt>
                            <dd class="govuk-summary-list__value" style="text-transform: capitalize">
                                {{ data['multipleEmployerModel'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="multiple-employer-model">
                                    Change<span
                                        class="govuk-visually-hidden"> whether multiple employer model was used</span>
                                </a>
                            </dd>
                        </div>

                    {% else %}
                    {% endif %}

                    {% if data['industryModel'] == 'yes' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% if data['multipleEmployerModel'] == 'yes' %}
                                    Other industry placement model(s) used
                                {% else %}
                                    Industry placement model(s) used
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['multipleEmployerModel'] == 'yes' %}
                                    {% if data['industrial-placement-models'] %}
                                        {{ data['industrial-placement-models'] }}
                                    {% else %}
                                        No
                                    {% endif %}


                                {% elif (data['industrial-placement-models']|length > 1) and (data['industrial-placement-models']|length <= 6) %}
                                        {{ data['industrial-placement-models'] }}
                                {% else %}
                                     {{ data['industrial-placement-models'] }}
                                {% endif %}


                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="industry-placement-model-selection?change-answer=yes">
                                    Change<span
                                        class="govuk-visually-hidden"> which industry placement models were used</span>
                                </a>
                            </dd>
                        </div>
                    {% else %}

                    {% endif %}
                </dl>



                    <p class="govuk-body">
                        I confirm that

                        {% if data['result-ip-answer'] == 'Completed' or data['result-ip-answer'] == 'Completed with special consideration' %}
                            {{ data['tLevelsStudentDataV3'][data.uln]['learnerName'] }} has completed their T Level industry placement and that
                        {% endif %}

                        all relevant supporting documentation is held on record.
                    </p>


                <form action="special-consideration-check-answers-status" method="post" novalidate>

                    <input type="hidden" name="answers-checked" value="true">

                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}