{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}


{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./manage-t-level-records.html">Registered learners</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}


<!-- This block displays the various success messages when you add maths, English, or IP info -->
<div class="govuk-grid-row">

  <!-- withdrawn learners messages -->
  <div class="govuk-grid-column-three-quarters">
    {% if data['withdrawnLearnerStatus'] == 'restored' %}
    {% include "../includes/provider-notification-messages/restore-learner.html" %}

    {% elif data['withdrawnLearnerStatus'] == 'withdrawn' %}
    {% include "../includes/provider-notification-messages/withdraw-learner.html" %}

    {% endif %}
  </div>

  <!-- main block for the success banner messages -->
  <div class="govuk-grid-column-three-quarters">
    {% if data['showBanner'] === 'maths' and data['uln'] == data['selectedUln'] or data['showBanner'] === 'english' and data['uln'] == data['selectedUln'] %}
      {% include "../includes/provider-notification-messages/maths-english-success-messages.html" %}
    {% endif %}

    {% if data['showBanner'] === 'ip' and data['uln'] == data['selectedUln'] and data['newindustryPlacement'] == 'Completed' %}
      {% include "../includes/provider-notification-messages/industry-placement-success-messages.html" %}
    {% elif data['showBanner'] === 'ip' and data['newindustryPlacement'] == 'Completed with special consideration' and data['uln'] == data['selectedUln'] %}
      {% include "../includes/provider-notification-messages/industry-placement-success-messages-special-consideration.html" %}

    {% elif data['newindustryPlacement'] == 'No, the learner will not complete their industry placement' and data['uln'] == data['selectedUln'] %}

      {% include "../includes/provider-notification-messages/industry-placement-success-messages-will-not-complete.html" %}

    {% elif data['showBanner'] === 'ip' and data['uln'] == data['selectedUln'] %}

      {% include "../includes/provider-notification-messages/industry-placement-success-messages-not-yet-achieved.html" %}

    {% endif %}

    {% if data['showBanner'] === 'certificate' and data['uln'] == data['selectedUln'] %}
      {% include "../includes/provider-notification-messages/sent-certificate-message.html" %}
    {% endif %}
  </div>


  <!-- This block adds the guidance links to the side of the success banners, however only when success banners are present -->
  {% if data['showBanner'] === 'ip' and data['uln'] == data['selectedUln']
  and data['newindustryPlacement'] == 'Completed'
  or data['showBanner'] === 'ip'
  and data['newindustryPlacement'] == 'Completed with special consideration'
  and data['uln'] == data['selectedUln'] %}

    {% include "../../../views/includes/guidance-result.html" %}

  {% elif data['showBanner'] === 'ip' and data['uln'] == data['selectedUln'] %}
    {% include "../../../views/includes/guidance-result.html" %}
  {% elif data['showBanner'] === 'left' and data['uln'] == data['selectedUln'] %}
    {% include "../../../views/includes/guidance-result.html" %}
  {% elif data['showBanner'] === 'will-not-complete' and data['uln'] == data['selectedUln'] %}
    {% include "../../../views/includes/guidance-result.html" %}
  {% endif %}

</div>



<!--    This block displays the blue banner stating what additional information is needed for the learner    -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if data['uln'] === '1122334455' or data['uln'] === '5647382910' or data['uln'] === '8642135790' or data['uln'] === '1231231231' or data['uln'] === '1169334253' %}
    {% elif data['newplacementResult'] === 'yes' and data['updatedmathsStatus'] === 'yes' and data['updatedenglishStatus'] === 'yes' %}
    {% elif data['newplacementResult'] === 'yes' and data['uln'] === '9876543210' %}
    {% elif data['newplacementResult'] === 'yes' and data['uln'] === '1169334253' %}
    {% else %}
    {% include "../includes/provider-notification-messages/record-notification.html" %}
    {% endif %}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="record-header">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}

        <span style="display: inline-block;">
          {% if data['newplacementResult'] === 'yes' and data['updatedmathsStatus'] === 'yes' and
          data['updatedenglishStatus'] === 'yes' or data['uln'] === '1122334455' or data['uln'] === '5647382910' or data['uln'] === '8642135790' or data['uln'] === '1231231231'%}
          <strong class="govuk-tag govuk-tag--green">
            Record complete
          </strong>
          {% elif data['newplacementResult'] === 'yes' and data['uln'] === '9876543210' %}
          <strong class="govuk-tag govuk-tag--green">
            Record complete
          </strong>
          {% elif data['newplacementResult'] === 'yes' and data['uln'] === '1169334253' %}
          <strong class="govuk-tag govuk-tag--green">
            Record complete
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--red">
            Record incomplete
          </strong>
          {% endif %}
        </span>

      </h1>

      <span class="govuk-caption-l">ULN: {{ [data['uln']] }}
      </span>
      {% if data['showBanner'] === 'certificate' and data['uln'] == data['selectedUln'] %}
      <span class="govuk-body govuk-!-font-weight-bold">Replacement document requested on <span id="currentDate"></span>. The document may take up to 3 weeks to arrive.</span>
      {% endif %}
    </div>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          T Level status 
          <p> {{data['restoredLearner']}}</p>
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['withdrawnLearnerStatus'] == 'restored' %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">Active</strong>
            </td>
          </tr>
          <p class="govuk-body-s govuk-!-padding-top-2"><a href="withdraw-learner" class="govuk-link">Tell us this learner has withdrawn</a></p>

          {% elif data['withdrawnLearnerStatus'] == 'withdrawn' %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">Pending withdrawal</strong>
            </td>
          </tr>
          <p class="govuk-body-s govuk-!-padding-top-2"><a href="restore-learner" class="govuk-link">Tell us this learner is still taking this T Level</a></p>

          {% else %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">Active</strong>
            </td>
          </tr>
          <p class="govuk-body-s govuk-!-padding-top-2"><a href="withdraw-learner" class="govuk-link">Tell us this learner has withdrawn</a></p>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerDOB'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerProvider'] }}
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKPRN
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{data['tLevelsStudentDataV3'][data.uln]['UKPRN'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          T Level
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelTitle'] | safe }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }}
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Industry placement</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Status
        </dd>
        <dd class="govuk-summary-list__value">
          <p>
            {% if data['newplacementResult'] === 'yes' and data['uln'] == data['selectedUln'] %}

              {% if data['newindustryPlacement'] == 'No, the learner will not complete their industry placement' %}
                Placement will not be completed
              {% elif data['newindustryPlacement'] == 'The learner needs more time' %}
                Placement still to be completed
              {% elif data['newindustryPlacement'] == 'Completed' %}
                Placement completed
              {% elif data['newindustryPlacement'] == 'Completed with special consideration'  %}
                Placement completed with special consideration
              {% else %}
                {{ data['newindustryPlacement'] }}
              {% endif %}

            {% elif data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement'] == 'Not completed' %}
              Not yet received
            {% else %}
                {{ data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement']}}
            {% endif %}
          </p>

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newindustryPlacement'] == 'Completed' and data['uln'] == data['selectedUln']
          or data['newindustryPlacement'] == 'The learner needs more time' and data['uln'] == data['selectedUln']
          or data['newindustryPlacement'] == 'No, the learner will not complete their industry placement' and data['uln'] == data['selectedUln']
          or data['newindustryPlacement'] == 'Completed with special consideration' and data['uln'] == data['selectedUln']
          or data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement'] == 'Completed' and data['uln'] == data['selectedUln']
          or  data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement'] == 'Completed with special consideration' and data['uln'] == data['selectedUln'] %}
          <a class="govuk-link" href="change-ip-result">
            Change <span class="govuk-visually-hidden"> industry placement information</span>
          </a>
          {% else %}
          <a class="govuk-link" href="change-ip-result">
            Add <span class="govuk-visually-hidden"> industry placement information</span>
          </a>
          {% endif %}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Level 2 maths and English</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Maths
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedmathsStatus'] === 'yes' and data['uln'] == data['selectedUln'] %}
          {{ data['newmathsStatus'] }}
          {% else %}
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerMaths'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newmathsStatus'] == 'Achieved' and data['uln'] == data['selectedUln'] or data['tLevelsStudentDataV3'][data['uln']]['learnerMaths']  === 'Achieved (LRS)' or data['tLevelsStudentDataV3'][data['uln']]['learnerMaths']  === 'Not achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved (LRS)' %}
          <a class="govuk-link" href="add-maths-status">
            Change <span class="govuk-visually-hidden"> maths status</span>
          </a>
          {% else %}
          <a class="govuk-link" href="add-maths-status">
            Add <span class="govuk-visually-hidden"> maths status</span>
          </a>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          English
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedenglishStatus'] == 'yes' and data['uln'] == data['selectedUln'] %}
          {{ data['newenglishStatus'] }}
          {% else %}
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newenglishStatus'] == 'Achieved' and data['uln'] == data['selectedUln'] or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Achieved (LRS)' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved (LRS)' %}
          <a class="govuk-link" href="add-english-status">
            Change <span class="govuk-visually-hidden"> english status</span>
          </a>
          {% else %}
          <a class="govuk-link" href="add-english-status">
            Add <span class="govuk-visually-hidden"> english status</span>
          </a>
          {% endif %}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Overall T Level result</h2>

    {% if data['tLevelsStudentDataV3'][data['uln']]['learnerCoreResult'] %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          <p class="govuk-!-font-weight-bold">T Level grade</p>
          <p class="govuk-!-font-weight-bold"></p>
        </dd>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerCoreResult'] }}
            {% if data['uln'] === "1234567890" %}
            <strong class="govuk-tag govuk-tag--purple">
              ROMM
            </strong></p>
          {% else %}
          {% endif %}
        </dd>
      </div>
    </dl>
    {% else %}
    {% endif %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          {% if data['tLevelsStudentDataV3'][data['uln']]['learnerOverallGrade'] and data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] != '2021 to 2022' %}
          <p class="govuk-!-font-weight-bold">Core component</p>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelCore'] | safe}}</p>
          <p>Grade: {{ data['tLevelsStudentDataV3'][data['uln']]['learnerOverallGrade'] }}</p>
        </dd>
        {% else %}
        {{ "Results will be displayed from the day before results day and will only be available for active final year learners." }}
        {% endif %}
        </dd>
      </div>
    </dl>

    {% if data['tLevelsStudentDataV3'][data['uln']]['learnerSpecialismResult'] %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          <p class="govuk-!-font-weight-bold">Occupational specialism</p>
        </dd>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelSpecialism'] }}</p>
          <p>Grade: {{ data['tLevelsStudentDataV3'][data['uln']]['learnerSpecialismResult'] }}</p>
        </dd>
      </div>
    </dl>
    {% else %}
    {% endif %}


  </div>

</div>
<div class="govuk-button-group">
  {% if data['uln'] != data['selectedUln'] and data['tLevelsStudentDataV3'][data['uln']]['Document'] != 'Not available' and data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] != '2021 to 2022' %}
  <a id="requestReplacementDocument" class="govuk-button" role="button" href="./request-replacement-document.html">
    Request replacement document
  </a>
  {% endif %}
</div>


<script>
  const urlParams = new URLSearchParams(window.location.search);
  const uln = urlParams.get('uln');
  sessionStorage.setItem('uln', uln)
</script>

<script>
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  let today = new Date()
  const dd = String(today.getDate()).padStart(1, '0')
  const m = monthNames[today.getMonth()]
  const yyyy = today.getFullYear()
  today = dd + ' ' + m + ' ' + yyyy
  console.log(today)
  document.getElementById('currentDate').innerText = today
</script>

{% endblock %}