{% extends "layout.html" %}

{% block pageTitle %}
Registrations upload error - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs noPrint">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="tlevels-dashboard.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl noPrint ">There is a problem</h1>
        <div class="noPrint">
          <p class="govuk-body">Your report contains 8 formatting errors:</p>
          <p class="govuk-body">Before you can send your report to us you should:</p>
          <ul class="govuk-list govuk-list--number">
            <li><a href="#"class="govuk-link" onclick="return window.print()">download the error report</a></li>
            <li>correct all errors</li>
            <li><a href="bulk-upload-learners-v1.html">upload and check the report again</a></li>
          </ul>
          <p class="govuk-body">If you leave this page you will not be able to come back later to access the error report.</p>
        </div>
      
        <div id="error-report">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m ">Errors found in report</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Column</th>
                <th scope="col" class="govuk-table__header">Row</th>
                <th scope="col" class="govuk-table__header">Error</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">A</th>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">Academic year must be in the format YYYY/YY</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">C</th>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">File header is not valid</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><Adr></Adr></th>
                <td class="govuk-table__cell">19</td>
                <td class="govuk-table__cell">UKPRN must be an 8 digit number</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
</div>

{% endblock %}
