{% extends "layout.html" %}

{% block pageTitle %}
Bulk upload IP success - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="tlevels-dashboard.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Upload complete
            </h1>
          </div>
        
        <p class="govuk-body">You have successfully uploaded information for 5 industry placements.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We will use the information you have uploaded to update the relevant learner records. <a href="search-learner-records" class="govuk-link">View your learner records</a>.</p>
        
    </div>
</div>

{% endblock %}
