{% extends "layout.html" %}

{% block pageTitle %}
Registrations upload error - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="tlevels-dashboard.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl ">There is a problem</h1>

        <p class="govuk-body">Your report contains formatting errors.</p>

        <p class="govuk-body">Before you can send your report to us you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" class="govuk-link">download the error report</a></li>
          <li>correct all errors</li>
          <li>upload and check the report again</li>
        </ul>
        <p class="govuk-body">If you leave this page you will not be able to come back later to access the error report.</p>
       
        <section class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
            <div class="attachment__thumbnail">
              <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true"
                href="">
                <svg class="attachment__thumbnail-image thumbnail-image-small" version="1.1" viewBox="0 0 99 140" width="99" height="140"
                  aria-hidden="true">
                  <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
                  <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z"
                    stroke-width="0"></path>
                  <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none"
                    stroke-miterlimit="10" stroke-width="2"></path>
                </svg>
              </a>
            </div>
            <div class="attachment__details">
              <h3 class="govuk-heading-m">
                <a class="govuk-link" target="_self"
                  href="">Registrations error report</a></h3>
              <p class="govuk-body-s"><span>CSV</span>, <span>19.5 KB</span></p>
            </div>
          </section>


        <div class="govuk-button-group">
            <a class="govuk-button govuk-!-margin-top-0" role="button" href="bulk-upload-learners.html">Upload another file</a>
        </div>

    </div>
</div>

{% endblock %}
