{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="withdrawn-learner" method="post" data-validate='withdraw-learner-validation'>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Has {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }} withdrawn from their T Level?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdraw-learner-yes" name="withdrawn-learner" type="radio" value="withdrawn">
                <label class="govuk-label govuk-radios__label" for="withdrawn-learner-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdraw-learner-no" name="withdrawn-learner" type="radio" value="restored">
                <label class="govuk-label govuk-radios__label" for="withdrawn-learner-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="withdraw-learner-validation">
    {

        "withdrawn-learner": {

            "presence": {

                "message": "^Select yes if {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }} has withdrawn."

            }

        }

    }
  </script>
  
{% endblock %}