{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}

{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./manage-t-level-records.html">Registered learners</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./update-t-level-record">Steve Arnott</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You should contact {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }}</h1>
      <p class="govuk-body">
        It’s important that you let {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }} know that {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }} has withdrawn from their T Level. Once {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }} knows they will be able to update their records.
      </p>
      <p class="govuk-body">
        Having accurate records will mean:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you will not receive unnecessary notifications from us</li>
        <li>you can request statements of achievement for withdrawn learners
        </li>
      </ul>


    <a class="govuk-button" href="update-t-level-record?uln=1234567221">Continue</a>
    </div>
  </div>


  
{% endblock %}