{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down [UKPRN:19282200]</p>
  <p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Locations and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="campuses">Havendale College</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Alesford Campus
    </h1>

    <h2 style="font-size:24px; margin:10px 0px -10px;">Campus details</h2>

    <div class="details-listed-block-2">
      <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-2 employer-list-one">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">Alesford Campus</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width:200px;">Postcode</th>
            <td class="govuk-table__cell">SO53 4SY</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width:200px;">T Levels offered</th>
            <td class="govuk-table__cell">Education and Early Years,<br>Health,<br>Healthcare Science,<br>Management and Administration</td>
          </tr>
        </tbody>
      </table>
      <p><a class="govuk-link edit-details-button-2">Edit</a></p>
    </div>

    <div class="details-editable-block-2 hidden-element">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="event-name">
            Name
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="Alesford Campus">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Postcode
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="SO53 4SY">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              T-Levels offered
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all T Levels offered at this campus
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Accounting
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Agriculture, Land Management and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Animal Care and Management
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Building Services Engineering for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft"name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Design and Development for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Design, Surveying and Planning for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Digital Business Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Digital Production, Design and Development
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Digital Support Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Education and Early Years
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Engineering, Manufacturing, Processing and Control
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="finance" name="finance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="finance">
                Finance
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hair-beauty" name="hair-beauty" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="hair-beauty">
                Hairdressing, Barbering and Beauty Therapy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="health" name="health" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="health">
                Health
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="healthcare-sci" name="healthcare-sci" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="healthcare-sci">
                Healthcare Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="legal" name="legal" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="legal">
                Legal
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="maintenance" name="maintenance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="maintenance">
                Maintenance, Installation and Repair for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="management" name="management" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="management">
                Management and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="media-broadcast" name="media-broadcast" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="media-broadcast">
                Media, Broadcast and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="onsite-con" name="onsite-con" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="onsite-con">
                Onsite Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="science" name="science" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="science">
                Science
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4 edit-details-save-2" data-module="govuk-button">
        Save details
      </button>
      <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-margin-top-4 govuk-!-padding-top-2"><a class="govuk-link edit-details-save-2">Cancel</a></p>
    </div>

    <!-- -- -- -- -->

    <h2 style="font-size:24px; margin:40px 0px -10px;">Contact for employers interested in T Levels</h2>
    <div class="govuk-hint govuk-!-margin-top-2" style="max-width:650px;">
      This can be an individual or a team at your organisation. These details will be shown on the T Level provider search tool used by prospective employers. 
    </div>

    <div class="details-listed-block">
      <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-2 employer-list-one">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width:200px;">Name</th>
            <td class="govuk-table__cell">Ana Amari</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td class="govuk-table__cell">ana.amari@havendalecollege.ac.uk</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Telephone</th>
            <td class="govuk-table__cell">07783 637821</td>
          </tr>
        </tbody>
      </table>
      <p><a class="govuk-link edit-details-button">Edit</a></p>
    </div>

    <div class="details-editable-block hidden-element">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="event-name">
            Name
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text"
          value="Ana Amari">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Email
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text"
          value="ana.amari@havendalecollege.ac.uk">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Telephone
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text"
          value="07783 637821">
      </div>

      <button class="govuk-button govuk-!-margin-top-4 edit-details-save" data-module="govuk-button">
        Save details
      </button>
      <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-margin-top-4 govuk-!-padding-top-2"><a
          class="govuk-link edit-details-save">Cancel</a></p>
    </div>

    <!-- -- -- -- -->

    <h2 style="font-size:24px; margin:40px 0px -10px;">Contact for students interested in studying T Levels</h2>
    <div class="govuk-hint govuk-!-margin-top-2" style="max-width:650px;">
      This can be an individual or a team at your organisation. These details will be shown on the T Level provider search tool used by prospective students.  
    </div>

    <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-2 employer-list-one">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Name</th>
          <td class="govuk-table__cell">Lena Oxton</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">lena.oxton@havendalecollege.ac.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Telephone</th>
          <td class="govuk-table__cell">07792 443928</td>
        </tr>
      </tbody>
    </table>
    <p><a class="govuk-link" href="">Edit</a></p>

    <!-- <a href="filters-notifications" role="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Save changes
    </a> -->

  </div>

</div>

<script type="text/javascript">
  $(function () {
    $('.edit-details-button').click(function () {
      $('.details-editable-block').addClass("visible-element");
      $('.details-editable-block').removeClass("hidden-element");
      $('.details-listed-block').addClass("hidden-element");
      $('.details-listed-block').removeClass("visible-element");
    });

    $('.edit-details-save').click(function () {
      $('.details-listed-block').addClass("visible-element");
      $('.details-listed-block').removeClass("hidden-element");
      $('.details-editable-block').addClass("hidden-element");
      $('.details-editable-block').removeClass("visible-element");
    });

    $('.edit-details-button-2').click(function () {
      $('.details-editable-block-2').addClass("visible-element");
      $('.details-editable-block-2').removeClass("hidden-element");
      $('.details-listed-block-2').addClass("hidden-element");
      $('.details-listed-block-2').removeClass("visible-element");
    });

    $('.edit-details-save-2').click(function () {
      $('.details-listed-block-2').addClass("visible-element");
      $('.details-listed-block-2').removeClass("hidden-element");
      $('.details-editable-block-2').addClass("hidden-element");
      $('.details-editable-block-2').removeClass("visible-element");
    });

  });
  
</script>
{% endblock %}