{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p>
  <p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;" href="campuses">Locations
      and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;" href="filters">Search
      filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Firecorp
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-9">Organisation details</h2>

    <table class="govuk-table govuk-!-margin-top-4 employer-list-one">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Website</th>
          <td class="govuk-table__cell"><a href="">https://www.fire.corp</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Primary industry</th>
          <td class="govuk-table__cell">Manufacturing and engineering</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Industry placement skill areas</th>
          <td class="govuk-table__cell">Digital and IT, Manufacturing and engineering</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Location</th>
          <td class="govuk-table__cell">SO63 9AJ</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-9">T Level readiness</h2>
    <table class="govuk-table govuk-!-margin-top-6 employer-list-one">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Status</th>
          <td class="govuk-table__cell"><strong
              class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Planning</strong><br>The employer would like
            to offer placements, but needs more information from a provider.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Organisation status</th>
          <td class="govuk-table__cell">We are looking into the possibility of working with the T Level skills at our UK head office in Southampton. As we’re based in Hampshire we would like to work with local T Level providers. I’m hoping that they are able to assist with helping us to get started?</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Additional information</th>
          <td class="govuk-table__cell">We design, manufacture, sell and maintain our own measuring equipment, writing our own software to work with the machines.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Offers T Level delivery support</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-9">Contact details</h2>

    <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-8 employer-list-one">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:200px;">Name</th>
          <td class="govuk-table__cell">Sarah Philips</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email</th>
          <td class="govuk-table__cell">sarah.philips@fire.corp</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Telephone</th>
          <td class="govuk-table__cell">07525 707601</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contact preference</th>
          <td class="govuk-table__cell">Email</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<script type="text/javascript">
  function revealEoiInput(select) {
    if (select.value == 5) {
      document.getElementById('eoi-hidden-input').style.display = "inline-block";
      document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
    } else {
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    }
  }

  $(function () {
    $('.eoi-table-switch').click(function () {
      $('.employer-list-two').addClass("visible-element");
      $('.employer-list-one').addClass("hidden-element");
      $('.employer-list-two').removeClass("hidden-element");
    });
  });
</script>
{% endblock %}