{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p><p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;" href="venues">Venues</a><a class="govuk-link" style="display:inline-block; margin-right:20px;" href="filters-notifications">Filters and notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey employer-listing">
    <div class="govuk-grid-column-full">

      <!-- Temporary banner display -->

      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Please ensure the contact details for your organisation are up-to-date.
            <a class="govuk-notification-banner__link govuk-link govuk-!-font-weight-bold" href="venues.html">View details</a>.
          </p>
        </div>
      </div> -->

      <!-- -->

      <div class="tint-banner"><p>Please ensure the <a href="venues" class="govuk-link">details for your organisation</a> are up-to-date.</p></div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Connect with employers <br>interested in T Levels
      </h1>

      <p class="govuk-body govuk-!-margin-top-0">Employers have agreed for their details to be shared for 12 weeks. <br>After 12 weeks, <span class="govuk-!-font-weight-bold">their details will expire</span> unless they agree to extend their interest.</p>

      <p class="govuk-body">You can <a class="govuk-link" href="filters-notifications">filter results and set up notifications</a> to be alerted when new employers are added.</p>

      <p class="govuk-body" style="display:block;">Select or enter a postcode to see contact details for employers:</p>

      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)" style="display:inline-block;">
          <option value="0">Select postcode</option>
          <option value="1">SO41 5QU</option>
          <option value="2">SO53 4SY</option>
          <option value="3">PO46 8RS</option>
          <option value="4">Enter postcode</option>
        </select>

        <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-4" style="display:inline-block;">or</p> -->

        <input class="govuk-input govuk-!-margin-left-4 eoi-hidden-input" placeholder="Enter postcode" id="eoi-hidden-input" name="eoi-hidden-input" type="text">
        <button class="govuk-button eoi-table-switch govuk-!-margin-left-1 govuk-!-margin-bottom-0" id="eoi-hidden-btn-input" data-module="govuk-button">
          Search
        </button>
      </div>

      <table class="govuk-table govuk-!-margin-top-4 employer-list-one hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Placement areas</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Distance</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:180px;">Details expire</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong>Lloyds Banking Group</th>
            <td class="govuk-table__cell"><p>Digital and IT</p><p>Legal, Finance and Accounting</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">7 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 Jan 2023</td>
            <td class="govuk-table__cell"><a href="employer-details" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Lloyds Banking Group</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Yorkshire Water</th>
            <td class="govuk-table__cell"><p>Business and Administration</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">16 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Yorkshire Water</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Permisson Homes</th>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">13 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">13 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Permisson Homes</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--red govuk-!-margin-right-2">EXPIRING</strong> NHS Trusts</th>
            <td class="govuk-table__cell"><p>Business and Administration</p><p>Digital and IT</p><p>Health and Science</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">20 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">NHS Trusts</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong> Skanska</th>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p><p>Engineering and Manufacturing</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">28 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">29 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Skanska</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IBM</th>
            <td class="govuk-table__cell">IT and communications</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">31 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">18 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">IBM</span></a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-top-4 employer-list-two hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Placement areas</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Distance</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:180px;">Details expire</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong>Lloyds Banking Group</th>
            <td class="govuk-table__cell"><p>Digital and IT</p><p>Legal, Finance and Accounting</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">22 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 Jan 2023</td>
            <td class="govuk-table__cell"><a href="employer-details" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Lloyds Banking Group</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Balenciaga</th>
            <td class="govuk-table__cell"><p>Creative and Design</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">36 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">26 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Balenciaga</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Bungie</th>
            <td class="govuk-table__cell"><p>Creative and Design</p><p>Digital and IT</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">38 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Bungie</span></a></td>
          </tr>

        </tbody>
      </table>

      <div class="govuk-!-margin-top-4 no-employers hidden-element">
        <p class="govuk-body govuk-!-font-weight-bold">There are currently no employers within 20 miles who have expressed interest in T Levels.</p>
        <p class="govuk-body govuk-!-margin-bottom-0 ">
          You can adjust your <a class="govuk-link" href="filters-notifications">filters and notifications settings</a> to expand your search or to be notified when new employers are added.</p>
      </div>

      <div class="govuk-!-margin-top-4 no-employers hidden-element">
        <p class="govuk-body govuk-!-font-weight-bold">There are currently no employers found within your search criteria.</p>
        <p class="govuk-body govuk-!-margin-bottom-0 ">
          You can adjust your <a class="govuk-link" href="filters-notifications">filters and notifications settings</a> to expand your search or to be notified when new employers are added.</p>
      </div>

      <table class="govuk-table govuk-!-margin-top-4 employer-list-three hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Placement areas</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Distance</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:180px;">Details expire</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong>Lloyds Banking Group</th>
            <td class="govuk-table__cell"><p>Digital and IT</p><p>Legal, Finance and Accounting</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 Jan 2023</td>
            <td class="govuk-table__cell"><a href="employer-details" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Lloyds Banking Group</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IKEA</th>
            <td class="govuk-table__cell"><p>Business and Administration</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">8 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">IKEA</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--red govuk-!-margin-right-2">EXPIRING</strong> Laing O'Rourke</th>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">14 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">21 Oct 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Laing O'Rourke</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IBM</th>
            <td class="govuk-table__cell"><p>Digital and IT</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">22 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">18 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">IBM</span></a></td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>

  <script type="text/javascript">
  function revealEoiInput(select) {
    if (select.value == 1) {
      $('.employer-list-one').removeClass("hidden-element").addClass("show-element");
      $('.employer-list-three, .employer-list-two, .no-employers').addClass("hidden-element").removeClass("show-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 2) {
      $('.employer-list-one, .employer-list-two, .no-employers').addClass("hidden-element").removeClass("show-element");
      $('.employer-list-three').addClass("show-element").removeClass("hidden-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 3) {
      $('.no-employers').addClass("show-element").removeClass("hidden-element");
      $('.employer-list-one, .employer-list-two, .employer-list-three').addClass("hidden-element").removeClass("show-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 4) {
      document.getElementById('eoi-hidden-input').style.display = "inline-block";
      document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
    } else {
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    }
  }

  $(function() {  
      $('.eoi-table-switch').click(function() {
      $('.employer-list-one, .employer-list-three, .no-employers').addClass("hidden-element");
      $('.employer-list-two').addClass("visible-element").removeClass("hidden-element");
    });
  });

  </script>
{% endblock %}
