{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Example Name</p><p class="govuk-body"><a class="govuk-link" href="start">Sign out</a></p>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey employer-listing">
    <div class="govuk-grid-column-full">

      <div class="tint-banner green"><p>The entry for Lloyds Banking Group was removed successfully.</p></div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-3">
        Connect with employers <br>interested in T Levels
      </h1>

      <p class="govuk-body govuk-!-margin-top-0">Employers have agreed for their details to be shared for 12 weeks. <br>After 12 weeks, <span class="govuk-!-font-weight-bold">their details will expire</span> unless they agree to extend their interest.</p>

      <table class="govuk-table govuk-!-margin-top-8 employer-list-one">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Industry</th>
            <th scope="col" class="govuk-table__header">Placement areas</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:150px;">Details expire</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Yorkshire Water</th>
            <td class="govuk-table__cell">Utilities</td>
            <td class="govuk-table__cell"><p>Business and Administration</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">16 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:20px;">View<span class="sr-only">Yorkshire Water</span></a><a href="" class="govuk-link admin-emp-rem" style="display:block; margin-left:20px; margin-top:10px;">Remove<span class="sr-only">Yorkshire Water</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Permisson Homes</th>
            <td class="govuk-table__cell">Construction</td>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">13 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:20px;">View <span class="sr-only">Permisson Homes</span></a><a href class="govuk-link admin-emp-rem" style="display:block; margin-left:20px; margin-top:10px;">Remove<span class="sr-only">Permisson Homes</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--red govuk-!-margin-right-2">EXPIRING</strong> NHS Trusts</th>
            <td class="govuk-table__cell">Health and social care</td>
            <td class="govuk-table__cell"><p>Business and Administration</p><p>Digital and IT</p><p>Health and Science</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:20px;">View <span class="sr-only">NHS Trusts</span></a><a href="" class="govuk-link admin-emp-rem" style="display:block; margin-left:20px; margin-top:10px;">Remove<span class="sr-only">NHS Trusts</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong> Skanska</th>
            <td class="govuk-table__cell">Construction</td>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p><p>Engineering and Manufacturing</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">29 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:20px;">View <span class="sr-only">Skanska</span></a><a href="" class="govuk-link admin-emp-rem" style="display:block; margin-left:20px; margin-top:10px;">Remove<span class="sr-only">Skanska</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IBM</th>
            <td class="govuk-table__cell">IT and communications</td>
            <td class="govuk-table__cell">IT and communications</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">18 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:20px;">View <span class="sr-only">IBM</span></a><a href="" class="govuk-link admin-emp-rem" style="display:block; margin-left:20px; margin-top:10px;">Remove<span class="sr-only">IBM</span></a></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

{% endblock %}
