{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p><p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Locations and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey employer-listing">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Connect with employers <br>interested in T Levels
      </h1>

      <p class="govuk-body govuk-!-margin-top-0">Employers have agreed for their details to be shared for 12 weeks. <br>After 12 weeks, <span class="govuk-!-font-weight-bold">their details will expire</span> unless they agree to extend their interest. </p>

      <p class="govuk-body govuk-!-margin-top-6" style="display:block;">Select or enter a postcode to see contact details for employers within 20 miles</p>

      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)" style="display:inline-block;">
          <option value="0">Select postcode</option>
          <option value="1">SO41 5QU</option>
          <option value="2">PO46 8RS</option>
          <option value="5">Enter postcode</option>
        </select>

        <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-4" style="display:inline-block;">or</p> -->

        <input class="govuk-input govuk-!-margin-left-4 eoi-hidden-input" placeholder="Enter postcode" id="eoi-hidden-input" name="eoi-hidden-input" type="text">
        <button class="govuk-button eoi-table-switch govuk-!-margin-left-1 govuk-!-margin-bottom-0" id="eoi-hidden-btn-input" data-module="govuk-button">
          Search
        </button>
      </div>

      <h2 class="sr-only">Employers within 20 miles</h2>

      <div class="govuk-!-margin-top-4 employer-list-one hidden-element" style="background-color:#f3f2f1; padding:30px;">
        <p class="govuk-body govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">There are currently no employers within 20 miles who have expressed interest in T Levels.</span><br>
          Please search another postcode or check back soon to see employers in your area. </p>
      </div>

      <table class="govuk-table govuk-!-margin-top-4 employer-list-two hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Placement area</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Distance</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:180px;">Data expires</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong>Firecorp</th>
            <td class="govuk-table__cell"><p>Digital and IT</p><p>Manufacturing and engineering</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">22 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 Jan 2023</td>
            <td class="govuk-table__cell"><a href="employer-details" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Firecorp</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Balenciaga</th>
            <td class="govuk-table__cell"><p>Creative and Design</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">36 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">26 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Balenciaga</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Bungie</th>
            <td class="govuk-table__cell"><p>Creative and Design</p><p>Digital and IT</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">38 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Bungie</span></a></td>
          </tr>

        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-top-4 employer-list-three hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:300px;">Organisation</th>
            <th scope="col" class="govuk-table__header">Placement area</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Distance</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:180px;">Data expires</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">NEW</strong>Firecorp</th>
            <td class="govuk-table__cell"><p>Digital and IT</p><p>Manufacturing and engineering</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 Jan 2023</td>
            <td class="govuk-table__cell"><a href="employer-details" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Firecorp</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IKEA</th>
            <td class="govuk-table__cell"><p>Business and Administration</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">12 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">8 Dec 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">IKEA</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong style="float:right;" class="govuk-tag govuk-tag--red govuk-!-margin-right-2">EXPIRING</strong> Laing O'Rourke</th>
            <td class="govuk-table__cell"><p>Construction and the Built Environment</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">14 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">21 Oct 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">Laing O'Rourke</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">IBM</th>
            <td class="govuk-table__cell"><p>Digital and IT</p></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">22 miles</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">18 Nov 2022</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link" style="display:inline-block; margin-left:15px;">View <span class="sr-only">IBM</span></a></td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>

  <script type="text/javascript">
  function revealEoiInput(select) {
    if (select.value == 1) {
      $('.employer-list-one').addClass("show-element");
      $('.employer-list-three').addClass("hidden-element");
      $('.employer-list-two').addClass("hidden-element");
      $('.employer-list-one').removeClass("hidden-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 2) {
      $('.employer-list-one').addClass("hidden-element");
      $('.employer-list-three').addClass("visible-element");
      $('.employer-list-two').addClass("hidden-element");
      $('.employer-list-three').removeClass("hidden-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 5) {
      document.getElementById('eoi-hidden-input').style.display = "inline-block";
      document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
    } else {
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    }
  }

  $(function() {
      $('.eoi-table-switch').click(function() {
          $('.employer-list-two').addClass("visible-element");
          $('.employer-list-one').addClass("hidden-element");
          $('.employer-list-two').removeClass("hidden-element");
          $('.employer-list-three').addClass("hidden-element");
      });
  });

  </script>
{% endblock %}
