{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p>
  <p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Campuses</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters-notifications">Filters and notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="filters-notifications">Filters and notifications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Filters and notifications <br>for Alesford Campus
    </h1>


    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
          Only display employers within:
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        The default radius is 20 miles
      </div>
      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
          style="display:inline-block;">
          <option value="0">5 miles</option>
          <option value="1">10 miles</option>
          <option value="2" selected>20 miles</option>
          <option value="3">30 miles</option>
          <option value="3">40 miles</option>
          <option value="4">No limit</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Only show employers interested in the following placement skill areas
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            If nothing is selected, all areas will show in the employer list.
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Accounting
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Agriculture, Land Management and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Animal Care and Management
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Building Services Engineering for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft"name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Design and Development for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Design, Surveying and Planning for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Digital Business Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Digital Production, Design and Development
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Digital Support Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Education and Childcare
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Engineering, Manufacturing, Processing and Control
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="finance" name="finance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="finance">
                Finance
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hair-beauty" name="hair-beauty" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="hair-beauty">
                Hairdressing, Barbering and Beauty Therapy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="health" name="health" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="health">
                Health
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="healthcare-sci" name="healthcare-sci" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="healthcare-sci">
                Healthcare Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="legal" name="legal" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="legal">
                Legal
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="maintenance" name="maintenance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="maintenance">
                Maintenance, Installation and Repair for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="management" name="management" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="management">
                Management and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="media-broadcast" name="media-broadcast" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="media-broadcast">
                Media, Broadcast and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="onsite-con" name="onsite-con" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="onsite-con">
                Onsite Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="science" name="science" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="science">
                Science
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="notifications-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-0">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2"><label class="govuk-label govuk-label--s"
                for="event-name">
                Do you want to receive notifications when new employers are added?</label>
            </h1>
          </legend>
          <div class="govuk-hint govuk-!-margin-bottom-4">
            We’ll send notifications for new employers matching the above criteria.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input id="notifications-checkbox" class="govuk-checkboxes__input notifications-checkbox" name="notifications-checkbox" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="notifications-checkbox">
                I want to receive notifications for new employers
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-margin-bottom-4 notification-freq">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
              Email address that will receive notifications
            </label>
          </h1>
          <div class="govuk-hint govuk-!-margin-bottom-4">
            You will need to verify your email address before you receive notifications.
          </div>
          <input class="govuk-input govuk-input--width-10 notif-email" name="notif-email" type="text">
          <button class="govuk-button govuk-!-margin-left-2 notif-email-btn" data-module="govuk-button">
            Add
          </button>
          <p class="govuk-body notif-email-body hidden-element">ana.amari@alesfordcsu.ac.uk <strong class="govuk-tag govuk-!-margin-left-3 govuk-tag--orange">PENDING VERIFICATION</strong><BR><a class="govuk-link govuk-!-margin-top-2 notif-email-change" style="display:inline-block;">Change</a><a class="govuk-link govuk-!-margin-top-2 govuk-!-margin-left-3" style="display:inline-block;">Resend verification</a></p>
        </div>

        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-2"
            for="event-name">
            Notification frequency
          </label>
        </h1>
        <div class="govuk-form-group" style="display:block;">
          <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
            style="display:inline-block;">
            <option value="0">Immediately</option>
            <option value="1" selected>Daily</option>
            <option value="2">Weekly</option>
            <option value="3">Fortnightly</option>
          </select>
        </div>

      </div>

      <div class="govuk-!-margin-top-8">
        <a href="filters-notifications-ur" role="button" draggable="false"
          class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
          Save changes
        </a>
        <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-padding-top-2"><a
            class="govuk-link" href="filters-notifications">Cancel</a></p>
      </div>

    </div>

    <script type="text/javascript">
      function revealEoiInput(select) {
        if (select.value == 5) {
          document.getElementById('eoi-hidden-input').style.display = "inline-block";
          document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
        } else {
          document.getElementById('eoi-hidden-input').style.display = "none";
          document.getElementById('eoi-hidden-btn-input').style.display = "none";
        }
      }

      $(function () {
        $('.eoi-table-switch').click(function () {
          $('.employer-list-two').addClass("visible-element");
          $('.employer-list-one').addClass("hidden-element");
          $('.employer-list-two').removeClass("hidden-element");
        });
      });

      $(".notification-freq").hide();
      $(".notifications-checkbox").click(function() {
          if($(this).is(":checked")) {
              $(".notification-freq").show();
          } else {
              $(".notification-freq").hide();
          }
      });

      $(".notif-email-btn").click(function () {
        $('.notif-email-body').addClass("visible-element");
        $('.notif-email-btn').addClass("hidden-element");
        $('.notif-email').addClass("hidden-element");
        $('.notif-email-body').removeClass("hidden-element");
      });

    </script>

    {% endblock %}