{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down [UKPRN:19282200]</p>
  <p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Locations and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="filters-notifications">Filters and notifications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Filters and notifications <br>for Alesford Campus
    </h1>

    <!-- <h2 style="font-size:24px; margin:10px 0px 30px;">Filters and notifications</h2> -->

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
          Only display employers within:
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        The default radius is 20 miles
      </div>
      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
          style="display:inline-block;">
          <option value="0" selected>5 miles</option>
          <option value="1">10 miles</option>
          <option value="2">20 miles</option>
          <option value="3">30 miles</option>
          <option value="4">40 miles</option>
          <option value="5">50 miles</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Only show employers interested in the following placement skill areas:
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            If nothing is selected, all areas will show in the employer list.
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Accounting
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Agriculture, Land Management and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Animal Care and Management
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Building Services Engineering for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft" name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Design and Development for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Design, Surveying and Planning for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Digital Business Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Digital Production, Design and Development
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Digital Support Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox"
                value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Education and Childcare
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Engineering, Manufacturing, Processing and Control
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="finance" name="finance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="finance">
                Finance
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hair-beauty" name="hair-beauty" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="hair-beauty">
                Hairdressing, Barbering and Beauty Therapy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="health" name="health" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="health">
                Health
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="healthcare-sci" name="healthcare-sci" type="checkbox" value="" checked>
              <label class="govuk-label govuk-checkboxes__label" for="healthcare-sci">
                Healthcare Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="legal" name="legal" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="legal">
                Legal
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="maintenance" name="maintenance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="maintenance">
                Maintenance, Installation and Repair for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="management" name="management" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="management">
                Management and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="media-broadcast" name="media-broadcast" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="media-broadcast">
                Media, Broadcast and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="onsite-con" name="onsite-con" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="onsite-con">
                Onsite Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="science" name="science" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="science">
                Science
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- <h2 style="font-size:24px; margin:50px 0px 20px;">Notification settings</h2> -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="notifications-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-0">
            <h3 id="notif-emails-list" class="govuk-fieldset__heading govuk-!-margin-bottom-4 govuk-!-margin-top-4"><label class="govuk-label govuk-label--s"
              for="event-name">
              Do you want to receive email notifications when new employers are added?</label>
          </h3>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input id="notifications-checkbox" class="govuk-checkboxes__input notifications-checkbox"
                name="notifications-checkbox" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label" for="notifications-checkbox">
                I want to receive notifications for new employers
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-left-5 govuk-!-margin-bottom-2 notification-freq" style="border-left:3px solid rgb(202 205 207);">


        <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-1"
          for="event-name">
           Email addresses
          </label>
        </h3>
        <div class="govuk-hint govuk-!-margin-bottom-2 email-no-verify">
          Notifications will be sent to the emails below
        </div>
        <table class="govuk-table govuk-!-margin-bottom-2 notif-emails-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row notif-emails-one">
              <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-0">ana.amari@havendalecollege.ac.uk <strong class="govuk-tag govuk-!-margin-left-3 govuk-tag--green">VERIFIED</strong></p></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link govuk-!-margin-left-5 govuk-!-margin-bottom-0" style="display:inline-block;">Remove</a></td>
            </tr>
            <tr class="govuk-table__row notif-emails-two hidden-element">
              <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-0">elizabeth.ashe@havendalecollege.ac.uk <strong class="govuk-tag govuk-!-margin-left-3 govuk-tag--orange">PENDING VERIFICATION</strong></p></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link govuk-!-margin-bottom-0 verify-resend" style="display:inline-block;">Resend verification email</a><a class="govuk-link govuk-!-margin-left-5 govuk-!-margin-bottom-0 email-notif-rem-link" style="display:inline-block;">Remove</a></td>
            </tr>
          </tbody>
        </table>
        <div class="notif-email-wrap">
          <!-- <button class="govuk-button govuk-!-margin-bottom-0 hidden-element notif-add-email-btn" data-module="govuk-button">
            Add email address
          </button> -->
          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-0"><a class="govuk-link notif-add-email-link">Add email address</a></p>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-3 notif-email-input  hidden-element" name="notif-email" type="text">
          <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-0 notif-email-confirm  hidden-element" data-module="govuk-button">
            Confirm email
          </button>
        </div>

        <div class="email-warning-box email-verify green-verify govuk-!-margin-top-6 hidden-element">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">We have sent a verification email to elizabeth.ashe@havendalecollege.ac.uk.</p>
          <p class="govuk-body">You will need to click the link in the email in order to start receiving notifications.</p>
          <p class="govuk-body">
            <a class="govuk-link email-verify-close govuk-!-margin-top-1">Close</a>
          </p>
        </div>

        <div class="email-warning-box remove-email-box govuk-!-margin-top-6 hidden-element">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">Do you want to remove elizabeth.ashe@havendalecollege.ac.uk from receiving notifications?</p>
            <a role="button" draggable="false" class="govuk-button remove-email govuk-button--warning govuk-!-margin-top-0"  data-module="govuk-button">
              Remove
            </a>
            <a class="govuk-link email-remove-cancel govuk-!-margin-left-4 govuk-!-margin-top-1" style="display:inline-block;">Cancel</a>
        </div>


        <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-2"
            for="event-name">
            Notification frequency
          </label>
        </h3>
        <div class="govuk-form-group" style="display:block;">
          <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
            style="display:inline-block;">
            <option value="0">Immediately</option>
            <option value="1" selected>Daily</option>
            <option value="2">Weekly</option>
            <option value="3">Fortnightly</option>
          </select>
        </div>

      </div>


      <a href="filters-notifications-ur-2" role="button" draggable="false"
        class="govuk-button govuk-!-margin-top-8 govuk-!-margin-bottom-8 save-confirm" data-module="govuk-button">
        Save changes
      </a>
      <a href="filters-notifications-ur" role="button" draggable="false"
        class="govuk-button govuk-!-margin-top-8 govuk-!-margin-bottom-8 save-confirm-alt hidden-element" data-module="govuk-button">
        Save changes
      </a>
      <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-margin-top-8 govuk-!-padding-top-2"><a
          class="govuk-link" href="filters-notifications-ur">Cancel</a></p>

    </div>

  </div>

  <script type="text/javascript">
    function revealEoiInput(select) {
      if (select.value == 5) {
        document.getElementById('eoi-hidden-input').style.display = "inline-block";
        document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
      } else {
        document.getElementById('eoi-hidden-input').style.display = "none";
        document.getElementById('eoi-hidden-btn-input').style.display = "none";
      }
    }

    $(function () {
      $('.eoi-table-switch').click(function () {
        $('.employer-list-two').addClass("visible-element");
        $('.employer-list-one').addClass("hidden-element");
        $('.employer-list-two').removeClass("hidden-element");
      });
    });

    $(".notifications-checkbox").click(function () {
      if ($(this).is(":checked")) {
        $(".notification-freq").show();
      } else {
        $(".notification-freq").hide();
      }
    });

      $(".notif-add-email-link").click(function () {
        $('.notif-add-email-link').addClass("hidden-element");
        $('.notif-email-input, .notif-email-confirm').removeClass("hidden-element");
      });

      $(".notif-email-confirm").click(function () {
        $('.notif-email-input, .notif-email-confirm, .save-confirm-alt').addClass("hidden-element");
        $('.notif-add-email-link, .notif-emails-two, .save-confirm').removeClass("hidden-element");
      });

      $(".verify-resend").click(function () {
        $('.email-verify').removeClass("hidden-element");
      });

      $(".email-verify-close").click(function () {
        $('.email-verify').addClass("hidden-element");
      });

      $(".email-notif-rem-link").click(function () {
        $('.notif-add-email-link').addClass("hidden-element");
        $('.remove-email-box').removeClass("hidden-element");
      });

      $(".email-remove-cancel").click(function () {
        $('.notif-add-email-link').removeClass("hidden-element");
        $('.remove-email-box').addClass("hidden-element");
      });

      $(".remove-email").click(function () {
        $('.notif-add-email-link, .save-confirm-alt').removeClass("hidden-element");
        $('.remove-email-box, .save-confirm, .notif-emails-two').addClass("hidden-element");
      });



  </script>
  {% endblock %}