{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p><p class="govuk-body"><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="no-venue">Home</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Add a venue
      </h1>

      <h2 style="font-size:24px; margin:10px 0px -10px;">Venue details</h2>


      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="event-name">
            Name
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Postcode
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              T-Levels offered
            </h3>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all T Levels offered at this venue
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Accounting
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Agriculture, Land Management and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Animal Care and Management
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Building Services Engineering for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft"name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Design and Development for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Design, Surveying and Planning for Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Digital Business Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Digital Production, Design and Development
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Digital Support Services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Education and Childcare
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Engineering, Manufacturing, Processing and Control
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="finance" name="finance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="finance">
                Finance
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hair-beauty" name="hair-beauty" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="hair-beauty">
                Hairdressing, Barbering and Beauty Therapy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="health" name="health" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="health">
                Health
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="healthcare-sci" name="healthcare-sci" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="healthcare-sci">
                Healthcare Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="legal" name="legal" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="legal">
                Legal
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="maintenance" name="maintenance" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="maintenance">
                Maintenance, Installation and Repair for Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="management" name="management" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="management">
                Management and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="media-broadcast" name="media-broadcast" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="media-broadcast">
                Media, Broadcast and Production
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="onsite-con" name="onsite-con" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="onsite-con">
                Onsite Construction
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="science" name="science" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="science">
                Science
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <h2 style="font-size:24px; margin:40px 0px -10px;">Employer contact details</h2>


      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="event-name">
            Name
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Email
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Telephone
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" value="">
      </div>

      <h2 style="font-size:24px; margin:40px 0px -10px;">Student contact details</h2>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="event-name">
            Name
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Email
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
            Telephone
          </label>
        </h3>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" value="">
      </div>

      <a href="employer-list" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Save venue
      </a>


    </div>

  </div>

  <script type="text/javascript">
  function revealEoiInput(select) {
    if (select.value == 5) {
      document.getElementById('eoi-hidden-input').style.display = "inline-block";
      document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
    } else {
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    }
  }

  $(function() {
      $('.eoi-table-switch').click(function() {
          $('.employer-list-two').addClass("visible-element");
          $('.employer-list-one').addClass("hidden-element");
          $('.employer-list-two').removeClass("hidden-element");
      });
  });

  </script>
{% endblock %}
