{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span><a href="campuses" class="govuk-link govuk-!-margin-right-1">Havendale College</a> [UKPRN:19282200]</p><p><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey employer-listing">
    <div class="govuk-grid-column-full">

      <div class="email-warning-box alt-verify green-verify new-notif govuk-!-margin-bottom-7 hidden-element">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">We have sent a verification email to elizabeth.ashe@havendalecollege.ac.uk.</p>
        <p class="govuk-body">You will need to click the link in the email in order to start receiving notifications.</p>
        <p class="govuk-body">
          <a class="govuk-link email-verify-close-alt govuk-!-margin-top-0">Close</a>
        </p>
      </div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Notifications
      </h1>

      <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-6">Manage email addresses that will receive notifications for new employers.</p>

      <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-6 hidden-element">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:370px;">Email</th>
            <th scope="col" class="govuk-table__header">Notifications</th>
            <th scope="col" class="govuk-table__header">Frequency</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ana.amari@havendalecollege.ac.uk</th>
            <td class="govuk-table__cell">On</td>
            <td class="govuk-table__cell">Daily</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="notifications-edit" class="govuk-link" style="display:inline-block;">Change</a> <a href="notifications-edit" class="govuk-link govuk-!-margin-left-3" style="display:inline-block;">Remove</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">elizabeth.ashe@havendalecollege.ac.uk</th>
            <td class="govuk-table__cell">Pending<br><a href="" class="govuk-link">Resend verification</a></td>
            <td class="govuk-table__cell">Immediately</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="xxx" class="govuk-link" style="display:inline-block;">Change</a> <a href="notifications-remove" class="govuk-link govuk-!-margin-left-3" style="display:inline-block;">Remove</a></td>
          </tr>
        </tbody>
      </table>

      <a role="button" href="notifications-add-email-campus" draggable="false" class="govuk-button"  data-module="govuk-button">
        Add new email
      </a>

    </div>

  </div>

  <script type="text/javascript">
  function revealEoiInput(select) {
    if (select.value == 1) {
      $('.employer-list-one').removeClass("hidden-element").addClass("show-element");
      $('.employer-list-three, .employer-list-two, .no-employers').addClass("hidden-element").removeClass("show-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 2) {
      $('.employer-list-one, .employer-list-two, .no-employers').addClass("hidden-element").removeClass("show-element");
      $('.employer-list-three').addClass("show-element").removeClass("hidden-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 3) {
      $('.no-employers').addClass("show-element").removeClass("hidden-element");
      $('.employer-list-one, .employer-list-two, .employer-list-three').addClass("hidden-element").removeClass("show-element");
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    } else if (select.value == 4) {
      document.getElementById('eoi-hidden-input').style.display = "inline-block";
      document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
    } else {
      document.getElementById('eoi-hidden-input').style.display = "none";
      document.getElementById('eoi-hidden-btn-input').style.display = "none";
    }
  }

  $(function() {  
      $('.eoi-table-switch').click(function() {
      $('.employer-list-one, .employer-list-three, .no-employers').addClass("hidden-element");
      $('.employer-list-two').addClass("visible-element").removeClass("hidden-element");
    });
  });

  </script>
{% endblock %}
