{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down [UKPRN:19282200]</p>
  <p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Locations and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications-ur-4">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="notifications-ur-4">Notifications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Notifications for<br> ana.amari@havendalecollege.ac.uk
    </h1>

    <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h3 class="govuk-fieldset__heading">
            Notifications for ana.amari@havendalecollege.ac.uk
          </h3>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
          Selecting off will pause your notifications without needing to remove your email.
        </div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" checked>
            <label class="govuk-label govuk-radios__label" for="changed-name">
              On
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              Off
            </label>
          </div>
        </div>
      </fieldset>
    </div> -->

    <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--m govuk-!-margin-bottom-2"
      for="event-name">
      Notifications by campus
    </label>
    </h3>

    <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:350px;">Campus</th>
          <th scope="col" class="govuk-table__header">Radius</th>
          <th scope="col" class="govuk-table__header">T Levels</th>
          <th scope="col" class="govuk-table__header">Frequency</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Alesford Campus</th>
          <td class="govuk-table__cell">20 miles</td>
          <td class="govuk-table__cell">All</td>
          <td class="govuk-table__cell">Daily</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="notifications-edit-campus" class="govuk-link" style="display:inline-block;">Change</a> <a href="notifications-edit" class="govuk-link govuk-!-margin-left-3" style="display:inline-block;">Remove</a></td>
        </tr>
        <tr class="govuk-table__row hidden-element">
          <th scope="row" class="govuk-table__header">Warrick Green</th>
          <td class="govuk-table__cell">5 miles</td>
          <td class="govuk-table__cell">Selected</td>
          <td class="govuk-table__cell">Immediately</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="notifications-edit" class="govuk-link" style="display:inline-block;">Change</a> <a href="notifications-edit" class="govuk-link govuk-!-margin-left-3" style="display:inline-block;">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <a role="button" href="notifications-edit-campus-add" draggable="false" class="govuk-button"  data-module="govuk-button">
      Add notification
    </a>

    <!-- <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-2"
        for="event-name">
        Notification frequency
      </label>
    </h3>
    <div class="govuk-form-group" style="display:block;">
      <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
        style="display:inline-block;">
        <option value="0">Immediately</option>
        <option value="1" selected>Daily</option>
        <option value="2">Weekly</option>
        
      </select>
    </div>



    <div class="govuk-form-group">
      <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-3 govuk-!-margin-top-8" for="event-name">
          Receive notifications for employers within:
        </label>
      </h3>
      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
          style="display:inline-block;">
          <option value="0" selected>5 miles</option>
          <option value="1">10 miles</option>
          <option value="2">20 miles</option>
          <option value="3">30 miles</option>
          <option value="4">40 miles</option>
          <option value="5">50 miles</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading govuk-!-margin-top-3">
              Receive notifications for employers interested in <br>the following placement skill areas:
            </h3>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            If nothing is selected, you will receive notifications for all areas.
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Agriculture, Environment and Animal Care
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Business and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Arts, Entertainment, and Recreation
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Construction and the Built Environment
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft" name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Creative and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Digital and IT
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Education and Early Years
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Hair and Beauty
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Health and Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Legal, Finance and Accounting
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-left-6 govuk-!-margin-bottom-2 notification-freq" style="border-left:3px solid rgb(202 205 207)">

        <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label class="govuk-label govuk-label--s govuk-!-margin-bottom-1"
          for="event-name">
           Email addresses
          </label>
        </h3>
        <div class="govuk-hint govuk-!-margin-bottom-2 email-no-verify">
          Notifications will be sent to the emails below
        </div>
        <table class="govuk-table govuk-!-margin-bottom-2 notif-emails-table hidden-element">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row notif-emails-one">
              <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-0">ana.amari@havendalecollege.ac.uk <strong class="govuk-tag govuk-!-margin-left-3 govuk-tag--orange">PENDING VERIFICATION</strong></p></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link verify-resend govuk-!-margin-bottom-0" style="display:inline-block;">Resend verification email</a><a class="govuk-link govuk-!-margin-left-5 govuk-!-margin-bottom-0" style="display:inline-block;">Remove</a></td>
            </tr>
            <tr class="govuk-table__row notif-emails-two hidden-element">
              <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-0">elizabeth.ashe@havendalecollege.ac.uk <strong class="govuk-tag govuk-!-margin-left-3 govuk-tag--orange">PENDING VERIFICATION</strong></p></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link govuk-!-margin-bottom-0 verify-resend-alt" style="display:inline-block;">Resend verification email</a><a class="govuk-link govuk-!-margin-left-5 govuk-!-margin-bottom-0 remove-email" style="display:inline-block;">Remove</a></td>
            </tr>
          </tbody>
        </table>
        <div class="notif-email-wrap">
          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-0"><a class="govuk-link notif-add-email-link hidden-element">Add another email address</a></p>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-3 notif-email-input" name="notif-email" type="text">
          <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-0 notif-email-confirm" data-module="govuk-button">
            Confirm email
          </button>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-top-3 notif-email-input-2 hidden-element" name="notif-email" type="text">
          <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-0 notif-email-confirm-2 hidden-element" data-module="govuk-button">
            Confirm email
          </button>
        </div>

        <div class="email-warning-box norm-verify green-verify govuk-!-margin-top-6 hidden-element">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">We have sent a verification email to ana.amari@havendalecollege.ac.uk.</p>
          <p class="govuk-body">You will need to click the link in the email in order to start receiving notifications.</p>
          <p class="govuk-body">
            <a class="govuk-link email-verify-close govuk-!-margin-top-1">Close</a>
          </p>
        </div>

        <div class="email-warning-box alt-verify green-verify govuk-!-margin-top-6 hidden-element">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">We have sent a verification email to elizabeth.ashe@havendalecollege.ac.uk.</p>
          <p class="govuk-body">You will need to click the link in the email in order to start receiving notifications.</p>
          <p class="govuk-body">
            <a class="govuk-link email-verify-close-alt govuk-!-margin-top-1">Close</a>
          </p>
        </div>

        <div class="email-warning-box remove-email-box govuk-!-margin-top-6 hidden-element">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">Do you want to remove elizabeth.ashe@havendalecollege.ac.uk from receiving notifications?</p>
            <a role="button" draggable="false" class="govuk-button govuk-button--warning remove-email-confirm govuk-!-margin-top-0"  data-module="govuk-button">
              Remove
            </a>
            <a class="govuk-link email-remove-cancel govuk-!-margin-left-4 govuk-!-margin-top-1 remove-email-cancel" style="display:inline-block;">Cancel</a>
        </div>



      </div>

      <div class="govuk-!-margin-top-8">
        <a href="notifications-ur-3" role="button" draggable="false"
          class="govuk-button govuk-!-margin-bottom-7 save-confirm" data-module="govuk-button">
          Save changes
        </a>
        <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-padding-top-2"><a
            class="govuk-link" href="notifications-ur-2">Cancel</a></p>
      </div> -->

    </div>

    <script type="text/javascript">
      function revealEoiInput(select) {
        if (select.value == 5) {
          document.getElementById('eoi-hidden-input').style.display = "inline-block";
          document.getElementById('eoi-hidden-btn-input').style.display = "inline-block";
        } else {
          document.getElementById('eoi-hidden-input').style.display = "none";
          document.getElementById('eoi-hidden-btn-input').style.display = "none";
        }
      }

      $(function () {
        $('.eoi-table-switch').click(function () {
          $('.employer-list-two').addClass("visible-element");
          $('.employer-list-one').addClass("hidden-element");
          $('.employer-list-two').removeClass("hidden-element");
        });
      });

      $(".notification-freq").hide();
      $(".notifications-checkbox").click(function() {
          if($(this).is(":checked")) {
              $(".notification-freq").show();
          } else {
              $(".notification-freq").hide();
          }
      });

      $(".notif-email-confirm").click(function () {
        $('.notif-email-input, .notif-email-confirm').addClass("hidden-element");
        $('.notif-emails-table, .notif-add-email-link').removeClass("hidden-element");
      });

      $(".verify-resend").click(function () {
        $('.norm-verify').removeClass("hidden-element");
      });

      $(".verify-resend-alt").click(function () {
        $('.alt-verify').removeClass("hidden-element");
      });

      $(".email-verify-close").click(function () {
        $('.norm-verify').addClass("hidden-element");
      });

      $(".email-verify-close-alt").click(function () {
        $('.alt-verify').addClass("hidden-element");
      });

      $(".notif-add-email-link").click(function () {
        $('.notif-add-email-link').addClass("hidden-element");
        $('.notif-email-input-2, .notif-email-confirm-2').removeClass("hidden-element");
      });

      $(".notif-email-confirm-2").click(function () {
        $('.notif-email-input-2, .notif-email-confirm-2, .save-confirm').addClass("hidden-element");
        $('.notif-emails-two, .notif-add-email-link, .save-confirm-alt').removeClass("hidden-element");
      });

      $(".remove-email").click(function () {
        $('.notif-add-email-link').addClass("hidden-element");
        $('.remove-email-box').removeClass("hidden-element");
      });

      $(".remove-email-confirm").click(function () {
        $('.remove-email-box, .save-confirm-alt, .notif-emails-two').addClass("hidden-element");
        $('.notif-add-email-link, .save-confirm').removeClass("hidden-element");
      });

      $(".remove-email-cancel").click(function () {
        $('.notif-add-email-link').removeClass("hidden-element");
        $('.remove-email-box').addClass("hidden-element");
      });


    </script>

    {% endblock %}