{% extends "layout.html" %}

{% block pageTitle %}
Register an interest in T Levels and industry placements
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span>Blossom Down Academy [UKPRN:19282200]</p><p class="govuk-body"><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="campuses">Locations and contacts</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>
<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="notifications">Notifications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        Do you want to remove <br>elizabeth.ashe@alesfordcsu.ac.uk?
      </h1>

      <p class="govuk-body">When removed you will no longer receive notifications to elizabeth.ashe@alesfordcsu.ac.uk.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">If you would prefer to pause notifications, you can change your settings from the <a href="notifications-ur-5" class="govuk-link">notifications</a> page.</p>

      <a href="notifications-ur-3" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-0 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Remove email
      </a>
      <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-padding-top-2 govuk-!-font-size-18"><a class="govuk-link" href="notifications-ur-5">Cancel and return to notifications</a></p>

      <!-- <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>
      <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p>
      <p>You can’t register for this service if you’re in the UK illegally.</p> -->

    </div>
  </div>
{% endblock %}
