{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span><a href="campuses" class="govuk-link govuk-!-margin-right-1">Havendale College</a> [UKPRN:19282200]</p><p><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search
      filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications-ur-2">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>

<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="notifications-ur-2">Notifications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Add new notification
    </h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h3 class="govuk-fieldset__heading">
            Email address
          </h3>
        </legend>
        <div class="govuk-hint">
          This is the email address that will receive notifications.
        </div>
        <input class="govuk-input govuk-input--width-10 notif-email-input" name="notif-email"
          type="text">
      </fieldset>
    </div>

    <div class="govuk-form-group" style="display:block;">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        Campus
      </h3>
    </legend>
    <div class="govuk-hint">
      If a single campus is selected, you will be able to add further campuses later.
    </div>
      <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
        style="display:inline-block;">
        <option value="0" selected>All</option>
        <option value="0">Alesford Campus</option>
        <option value="1">Blossom Down</option>
        <option value="2">Warrick Green</option>
      </select>
    </div>
    <div class="govuk-form-group" style="display:block;">
    <h3 class="govuk-label-wrapper govuk-!-margin-top-7"><label
        class="govuk-label govuk-label--s govuk-!-margin-bottom-2" for="event-name">
        Notification frequency
      </label>
    </h3>
      <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
        style="display:inline-block;">
        <option value="0" selected>Immediately</option>
        <option value="1">Daily</option>
        <option value="2">Weekly</option>
        
      </select>
    </div>

    <div class="govuk-form-group">
      <h3 class="govuk-label-wrapper"><label
          class="govuk-label govuk-label--s govuk-!-margin-bottom-3 govuk-!-margin-top-8" for="event-name">
          Receive notifications for employers within:
        </label>
      </h3>
      <div class="govuk-form-group" style="display:block;">
        <select class="govuk-select eoi-postcode-selection" id="sort" name="sort" onchange="revealEoiInput(this)"
          style="display:inline-block;">
          <option value="0" selected>5 miles</option>
          <option value="1">10 miles</option>
          <option value="2">20 miles</option>
          <option value="3">30 miles</option>
          <option value="4">40 miles</option>
          <option value="5">50 miles</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading govuk-!-margin-top-3">
              Receive notifications for employers interested in <br>the following placement skill areas:
            </h3>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            If nothing is selected, you will receive notifications for all areas.
          </div>
          <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="accounting" name="accounting" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="accounting">
                Agriculture, Environment and Animal Care
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                Business and Administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="animal-care" name="animal-care" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="animal-care">
                Arts, Entertainment, and Recreation
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="building" name="building" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="building">
                Catering
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="catering">
                Construction and the Built Environment
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="craft" name="craft" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="craft">
                Craft and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-dev" name="design-dev" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-dev">
                Creative and Design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-surv" name="design-surv" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="design-surv">
                Digital and IT
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-business" name="digital-business" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-business">
                Education and Childcare
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-prod" name="digital-prod" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="digital-prod">
                Engineering and Manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="digital-support" name="digital-support" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="igital-support">
                Hair and Beauty
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="education-childcare" name="education-childcare" type="checkbox"
                value="">
              <label class="govuk-label govuk-checkboxes__label" for="education-childcare">
                Health and Science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="engineering">
                Legal, Finance and Accounting
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        <a href="notifications-ur-2" role="button" draggable="false"
          class="govuk-button  save-confirm" data-module="govuk-button">
          Save and finish
        </a>
        <a href="notifications-add-email-campus-2" role="button" draggable="false"
          class="govuk-button save-confirm govuk-!-margin-left-4 govuk-button--secondary" data-module="govuk-button">
          Add another notification for this email
        </a>
        <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-padding-top-2"><a class="govuk-link"
            href="notifications-ur-2">Cancel</a></p>
      </div>

    </div>

    <script type="text/javascript">
 
    </script>

    {% endblock %}