{% extends "layout.html" %}

{% block pageTitle %}
Register an interest in T Levels and industry placements
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<div class="account-bar">
  <p class="govuk-body"><span class="sr-only">Currently signed in as: </span><a href="campuses" class="govuk-link govuk-!-margin-right-1">Havendale College</a> [UKPRN:19282200]</p><p><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="filters">Search filters</a><a class="govuk-link" style="display:inline-block; margin-right:20px;"
      href="notifications">Notifications</a><a class="govuk-link" href="start">Sign out</a></p>
</div>
<div class="govuk-breadcrumbs govuk-!-margin-bottom-0">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="employer-list">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="campuses">Locations and contacts</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row eoi-form-journey">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Do you want to remove <br>Warrick Green?
      </h1>

      <p class="govuk-body">If you remove this campus, it will no longer appear in:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>this service</li>
        <li>the T Level provider search tools used by potential students and employers</li>
      </ul>

      <p class="govuk-body">If you remove it, you will be able to add it again at a later date in the <a href="campuses" class="govuk-link">locations and contacts</a> page.</p>

      <a href="campuses-removed" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-0 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Remove campus
      </a>
      <p style="display:inline-block;" class="govuk-!-margin-left-4 govuk-!-padding-top-2 govuk-!-font-size-18"><a class="govuk-link" href="campuses">Cancel and return to locations</a></p>

      <!-- <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>
      <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p>
      <p>You can’t register for this service if you’re in the UK illegally.</p> -->

    </div>
  </div>
{% endblock %}
