{% extends "layout.html" %}

{% block pageTitle %}
  Assessments
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
    <a href="/V2-0/AO/download-data/select-data-type-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V2-0/AO/download-data/processing-data-file-assessments-list" method="post" novalidate data-validate="data-validate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
          
            <label class="govuk-label govuk-label--l" for="optional1">
              Choose additional information to include in your assessments download file
            </label>
          </h1>
          <div class="govuk-form-group">
           <h2 class="govuk-heading-m">Your assessments download will include the following information by default:</h2>                  

      <ul class="govuk-list govuk-list--bullet">
        <li>Unique learner number (ULN)</li>
        <li>Core code</li>
        <li>Core assessment entry</li>
         <li>Specialism code(s)</li>
        <li>Specialism assessment entry</li>
      </ul>

          <h2 class="govuk-heading-m">You can select additional 
          data (columns) to include in your download. This will 
          increase the time it takes to generate your download file.</h2>

            <span class="govuk-hint" for="optional1">
            Select the additional columns you would like in your data download.
            </span>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional2" name="optionalReg" type="checkbox" value="Date of birth" {{ checked("optionalReg", "Date of birth") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional2">
                              Provider name 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              First name 
                            </label>
                          </div>
                             <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              Last name 
                            </label>
                          </div>
                            <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              Date of Birth
                            </label>
                          </div>
                              <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              UKPRN
                            </label>
                          </div>
                             <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              Academic year 
                            </label>
                          </div>
                            <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="optional3" name="optionalReg" type="checkbox" value="Provider" {{ checked("optionalReg", "Provider") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="optional3">
                              T Level title 
                            </label>
                          </div>
                        </div>
                    
                      </fieldset>
                    </div>
            </div>
            <button class="govuk-button" onclick="check()" data-module="govuk-button">Generate CSV</button>
        </form>
    </div>
</div>

<script>

  function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
  }
  </script>

<script>
  function check(){
  
      let checkbox1 = document.getElementById("optional1").checked
      let checkbox2 = document.getElementById("optional2").checked
      let checkbox3 = document.getElementById("optional3").checked
      let checkbox4 = document.getElementById("optional4").checked
      let checkbox5 = document.getElementById("optional5").checked
      
      if (checkbox1 == false && checkbox2 == false && checkbox3 == false && checkbox4 == false && checkbox5 == false){
          sessionStorage.setItem("checkReg", "no")
      }
  }
  </script>


{% endblock %}
