{% extends "layout.html" %}

{% block pageTitle %}
Did Danny Waldron use an industry placement model?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="industry-placement" method="post" novalidate data-validate='industryModel-validation'>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Did {{ data['tLevelsStudentData'][data.uln]['learnerName'] }} use an industry placement model?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="industryModel-yes" name="industryModel" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="industryModel-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="industryModel-no" name="industryModel" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="industryModel-no">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

  <script type="application/json" id="industryModel-validation">
    {

        "industryModel": {

            "presence": {

                "message": "^Select yes if Danny Waldron used an industry placement model"

            }

        }

    }
</script>


{% endblock %}
