{% extends "layout.html" %}

{% block pageTitle %}
Manage T Level records - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tlevels-dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Learners</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Registered Learners (100)</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Filters</h3>
    <p class="govuk-body">This is a paragraph inside a one-third wide column</p>

  </div>
  <div class="govuk-grid-column-two-thirds">
    <form action="/" method="get" novalidate="">
      <div class="govuk-form-group">
        <label class="govuk-label app-search__label govuk-label--m" for="keywords">
          Search by learner name or ULN
        </label>
        <input class="govuk-input app-search__input " id="keywords" name="keywords" type="search">
      </div>
      <button class="govuk-button app-search__button" data-module="govuk-button">
        Search
      </button>
    </form>

    <div class="moj-filter-layout__content" id="records-list">

      <div class="app-records-actions">
        <div class="app-records-actions__col">

          <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Export these records</a></p>
          <p class="govuk-visually-hidden">Records sorted by </p>
          <p class="govuk-body govuk-!-margin-bottom-3">
            <span class="govuk-!-font-weight-bold">Sort by:</span>
            <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">

              <span class="">Date updated</span>

            </span>

            |
            <span class="govuk-!-margin-left-2 govuk-!-margin-right-1">

              <a href="/records?sortOrder=lastName" class="govuk-link govuk-link--no-visited-state">Last name</a>

            </span>


          </p>
        </div>

      </div>

          <div class="app-application-card ">

            <div class="app-application-card_row app-application-card_row--header">
              <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">
                  Danny Waldron
                </a>
                <span class="govuk-body">1234567890</span>
              </h3>

              <span class="app-application-card_tag-container">
                <span style="display: inline-block;">
                  <strong class="govuk-tag app-tag--record-incomplete">
                    Incomplete
                  </strong>

                </span>
              </span>
            </div>


            <div class="app-application-card_row app-application-card_row--body">
              <div class="app-application-card_col">
                <div>

                  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
                    <span class="govuk-visually-hidden">Course: </span>

                    T Level in Business Studies and Administration

                  </p>
                  <p class="govuk-body govuk-!-font-size-16">
                    <span class="govuk-visually-hidden">Route: </span>Early years (postgrad)
                  </p>
                </div>
                <div>
                  <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">Awarding organisation: Pearson</p>
                  <p class="govuk-caption-m govuk-!-font-size-16">
                    Start year:
                    <span class="app-nowrap">2021 to 2022</span>
                  </p>
                </div>

              </div>

              <div class="app-application-card_col">
                <p
                  class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1 app-application-card__submitted">

                  Updated: <span>31 January 2022

                  </span></p>
              </div>
            </div>

          </div>

          <div class="app-application-card ">

            <div class="app-application-card_row app-application-card_row--header">
              <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">
                  Frankie Thomas
                </a>
                <span class="govuk-body">1122334455</span>
              </h3>

              <span class="app-application-card_tag-container">
                <span style="display: inline-block;">
                  <strong class="govuk-tag app-tag--record-incomplete">
                    Incomplete
                  </strong>

                </span>
              </span>
            </div>


            <div class="app-application-card_row app-application-card_row--body">
              <div class="app-application-card_col">
                <div>

                  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
                    <span class="govuk-visually-hidden">Course: </span>

                    T Level in Business Studies and Administration

                  </p>
                  <p class="govuk-body govuk-!-font-size-16">
                    <span class="govuk-visually-hidden">Route: </span>Early years (postgrad)
                  </p>
                </div>
                <div>
                  <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">Awarding organisation: Pearson</p>
                  <p class="govuk-caption-m govuk-!-font-size-16">
                    Start year:
                    <span class="app-nowrap">2021 to 2022</span>
                  </p>
                </div>

              </div>

              <div class="app-application-card_col">
                <p
                  class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1 app-application-card__submitted">

                  Updated: <span>31 January 2022

                  </span></p>
              </div>
            </div>

          </div>

    </div>
  </div>

</div>

{% endblock %}