{% extends "layout.html" %}

{% block pageTitle %}
How many hours did the student spend on placement? - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tLevelsStudentData'][data.uln]['learnerName'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['uln'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tLevelsStudentData'][data.uln]['learnerDOB'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T Level
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Design, Surveying and Planning for Construction</p>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Industry placement completed
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['result-ip-answer'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-ip-result">
              Change<span class="govuk-visually-hidden"> industry placement completed</span>
            </a>
          </dd>
        </div>

        {% if data['result-ip-answer'] === 'Placement completed with special consideration' %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hours spent on placement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['total-placement-hours'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="total-placement-hours">
              Change<span class="govuk-visually-hidden"> total placement hours</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Special consideration reason
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['special-consideration'] === 'COVID-19' %}
            {{ data['special-consideration'] }}
      
            {% elif (data['special-consideration']|length > 1) and (data['special-consideration']|length <= 9) %}
            {% for item in data['special-consideration']%}
            <p>{{ item }}</p>
            {% endfor %}
            {% else %}
            {{ data['special-consideration'] }}
            
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="special-consideration-reason">
              Change<span class="govuk-visually-hidden"> special consideration reason</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Industry placement model used
          </dt>
          <dd class="govuk-summary-list__value" style="text-transform: capitalize">
            {{ data['industryModel']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="did-you-use-an-industry-placement">
              Change<span class="govuk-visually-hidden"> if industry placement model used</span>
            </a>
          </dd>
        </div>

        {% if data['industryModel'] === 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Industrial placement model used
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['multipleEmployerModel'] === 'yes' %}
            <p> {{ data['industrial-placement-models'] }}</p> 
            <p>Multiple employer model</p>
            
            {% elif data['industrial-placement-models']|length === 2 %}
            {% for item in data['industrial-placement-models']%}
            <p>{{ item }}</p>
            {% endfor %}
            
            {% else %}
            <p> {{ data['industrial-placement-models'] }}</p> 
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="industry-placement-model-selection">
              Change<span class="govuk-visually-hidden"> industry placement used</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Temporary flexibility used
          </dt>
          <dd class="govuk-summary-list__value" style="text-transform: capitalize">
            {{ data['flexibility']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="did-you-use-a-flexibility">
              Change<span class="govuk-visually-hidden"> flexibility used</span>
            </a>
          </dd>
        </div>

        {% if data['flexibility'] === 'yes'  %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Temporary flexibilities
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['temporary-flexibilities']|length === 2 %}
            {% for item in data['temporary-flexibilities']%}
            <p>{{ item }}</p>
            {% endfor %}
            
            {% else %}
            <p> {{ data['temporary-flexibilities'] }}</p> 
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="temporary-flexibilities">
              Change<span class="govuk-visually-hidden"> temporary flexibilities</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}
      </dl>


      <p class="govuk-body">I confirm that {{ data['tLevelsStudentData'][data.uln]['learnerName'] }} has completed their
        design, surveying and planning for construction T Level industrial placement, with special considerations.</p>

      <form action="special-consideration-check-answers-status" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>

      </form>

    </div>
  </div>
</div>
{% endblock %}