{% extends "layout.html" %}

{% block pageTitle %}
Which temporary flexibilities were used? - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="special-consideration-check-answers" method="post" novalidate
      data-validate='temporary-flexibilities-validation'>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-fieldset__heading">
              Which temporary flexibilities were granted to {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}?
            </h1>
            <div id="flexibilities-hint" class="govuk-hint">
              Select all that apply
            </div>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-1" name="temporary-flexibilities"
                type="checkbox" value="100% remote" {{ checked("temporary-flexibilities", "100% remote" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-1">
                Up to 100% remote
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-2" name="temporary-flexibilities"
                type="checkbox" value="Employer led activities/projects" {{
                checked("temporary-flexibilities", "Employer led activities/projects" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-2">
                Employer led activities/projects
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-6" name="temporary-flexibilities"
                type="checkbox" value="Blended placements" {{ checked("temporary-flexibilities", "Blended placements" )
                }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-6">
                Blended placements
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

<script type="application/json" id="temporary-flexibilities-validation">
    {

        "temporary-flexibilities": {

            "presence": {

                "message": "^Select one or more temporary flexibilities"

            }

        }

    }
</script>

{% endblock %}