{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tlevels-dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-t-level-records">Learner registrations</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Learner T Level record</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="record-header">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        {{ data['tLevelsStudentData'][data['uln']]['learnerName'] }}

        <span style="display: inline-block;">
          <strong class="govuk-tag app-tag--record-incomplete">
            Incomplete
          </strong>

        </span>

      </h1>

      <span class="govuk-caption-l">ULN: {{ [data['uln']] }}
      </span>

    </div>


    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentData'][data['uln']]['learnerDOB'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider (UKPRN)
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentData'][data['uln']]['learnerProvider'] }} {{
            data['tLevelsStudentData'][data.uln]['UKPRN'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          T Level  
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentData'][data['uln']]['learnerTLevelTitle'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start year 
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">2020 to 2021</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Awarding Organisation 
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Pearson</p>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Industry placement</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Status
        </dd>
        <dd class="govuk-summary-list__value">

          {% if data['newplacementResult'] === 'yes'%}

          {{ data['newindustryPlacement'] }}

          {% else %}
          {{ data['tLevelsStudentData'][data['uln']]['learnerIndustryPlacement']}}
          {% endif %}


        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newindustryPlacement'] === 'Placement completed' or data['newindustryPlacement'] === 'Placement completed with special consideration'%}
          {% else %}
          <a class="govuk-link" href="change-ip-result">
            Update <span class="govuk-visually-hidden"> completed status</span>
          </a>
          {% endif %}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Maths and English</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Maths
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedemStatus'] === 'yes'%}
          {{ data['newemStatus'] }}
          {% else %}
          {{ data['tLevelsStudentData'][data['uln']]['learnerEngMaths'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-maths-status">
            Change <span class="govuk-visually-hidden"> maths status</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          English
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedemStatus'] === 'yes'%}
          {{ data['newemStatus'] }}
          {% else %}
          {{ data['tLevelsStudentData'][data['uln']]['learnerEngMaths'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-english-status">
            Change <span class="govuk-visually-hidden"> english status</span>
          </a>
        </dd>
      </div>
    </dl>


        <h2 class="govuk-heading-m">Overall grade</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 ">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          T Level grade
        </dd>
        <dd class="govuk-summary-list__value">
          <p>Merit</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Core
        </dd>
        <dd class="govuk-summary-list__value">

          <p>{{ data['tLevelsStudentData'][data['uln']]['learnerTLevelCore'] }}</p>
          <p>Grade: A*</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Occupational specialism
        </dd>
        <dd class="govuk-summary-list__value">

          <p>{{ data['tLevelsStudentData'][data['uln']]['learnerTLevelSpecialism'] }}</p>
          <p>Grade: Pass</p>

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">

          </a>
        </dd>
      </div>
    </dl>





  </div>
</div>


<script>
  const urlParams = new URLSearchParams(window.location.search);
  const uln = urlParams.get('uln');
  sessionStorage.setItem('uln', uln)
</script>

{% endblock %}