{% extends "layout.html" %}

{% block pageTitle %}
  Learner's T Level record
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="add-learner-q4-ip">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Add a new learner T Level record</span>

      <h1 class="govuk-heading-l">
        Check and submit
      </h1>

      <p class="govuk-body govuk-!-margin-top-3">Check the information is correct before you submit. If you need to make changes later on, you can search for and update a learner T Level record from the dashboard.</p>

      <h2 class="govuk-heading-m">Learner details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tLevelsStudentData'][data.uln]['learnerName'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ULN
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['uln'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tLevelsStudentData'][data.uln]['learnerDOB'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider (UKPRN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tLevelsStudentData'][data.uln]['learnerProvider'] }} {{ data['tLevelsStudentData'][data.uln]['UKPRN'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T Level title
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Design, Surveying and Planning for Construction</p>
          </dd>
        </div>
        </dl>



        <h2 class="govuk-heading-m">English and maths minimum standard</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9" >
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key">
               Status
            </dd>
            <dd class="govuk-summary-list__value">
              {% if data['changeemStatus'] === 'yes'%}
              {{ data['addChangeemStatus'] }}
              {% else %}
              {{ data['result-answer'] }}
              {% endif %}    

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-learner-change-q2-em">
                Change <span class="govuk-visually-hidden"> {{ data['result-answer'] }} status</span>
              </a>
            </dd>
          </div>
          {% if data['uln'] == 4561237890 %}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key">
            </dd>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" closed>
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          What's LRS?
                      </span>
                  </summary>
                  <div class="govuk-details__text">
                     <p class="govuk-body">The Learning Records Service (LRS) collects data relating to learners' post-14 qualifications, including GCSEs.</p>
                     <p class="govuk-body">If you disagree with the achievement status, please contact the issuing awarding organisation. If you still need help, please <a class="govuk-link" href="contact">contact us (opens in new window)</a>.</p>
                  </div>
              </details>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          {% endif %}
        </dl>


        <h2 class="govuk-heading-m">Learner's industry placement completion</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key">
               Status
            </dd>
            <dd class="govuk-summary-list__value">
              {% if data['changeplacementResult'] === 'yes'%}
              {{ data['addChangeindustryPlacement'] }}
              {% else %}
              {{ data['result-ip-answer'] }}
              {% endif %}   
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-learner-change-q4-ip">
                Change <span class="govuk-visually-hidden">for industry placement </span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          <a class="govuk-button" role="button" href="confirmation-learner-added">Submit</a>
          <a class="govuk-link" href="cancel-t-level-record">Cancel</a>
        </div>

    </div>
</div>

{% endblock %}
