{% extends "layout.html" %}

{% block pageTitle %}
  Select assessmentP(s)
{% endblock %}

{% block beforeContent %}
<a href="/V2-0/AO/download-data/current/select-data-type" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V2-0/AO/download-data/current/select-optional-columns-assessments" method="post" novalidate data-validate="data-validate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-xl">Download data</span>
            <label class="govuk-label govuk-label--l" for="assessmentP">
              Select assessment period(s)
            </label>
            <input name="assessmentP-name" value="assessmentP(s)" name="assessmentP-name" hidden="true">
            <input name="change-assessmentP" value="Change" name="change-assessmentP" hidden="true">
          </h1>
      <div class="govuk-form-group">

      <span class="govuk-hint" for="assessmentP">
        Which assessment period(s) would you like in the download file?
      </span>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input onclick="toggle(this);" class="govuk-checkboxes__input" id="assessmentP1" name="allassessmentP"                
                            type="checkbox" value="All" {{ checked("assessmentP", "All") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="assessmentP1">
                              All 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="assessmentP2" name="assessmentP" type="checkbox" value="Autumn 2022" 
                            {{ checked("assessmentP", "Autumn 2022") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="assessmentP2">
                              Autumn 2022
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="assessmentP3" name="assessmentP" type="checkbox" value="Summer 2021" {{ checked("assessmentP", "Summer 2021") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="assessmentP3">
                              Summer 2022
                            </label>
                          </div>
                            <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="assessmentP3" name="assessmentP" type="checkbox" value="Autumn 2021" {{ checked("assessmentP", "Autumn 2021") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="assessmentP3">
                              Autumn 2021
                            </label>
                          </div>
                             <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="assessmentP3" name="assessmentP" type="checkbox" value="Summer 2021" {{ checked("assessmentP", "Summer 2021") }}> 
                            <label class="govuk-label govuk-checkboxes__label" for="assessmentP3">
                              Summer 2021
                            </label>
                          </div>
    </div>

            </div>
          </div>
          
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>

        </form>
    </div>
</div>

<script type="application/json" id="data-validate">
  {

    "assessmentP": {
      "presence": {
        "message": "^Select which assessmentP(s) would like in the download file "
      }
    }

  }
</script>

<script>

{# // select all toggle #}

function toggle(source) {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i] != source)
          checkboxes[i].checked = source.checked;
  }
}
</script>

{% endblock %}
