{% extends "layout.html" %}

{% block pageTitle %}
Employer
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag pink govuk-phase-banner__content__tag">
          Give feedback
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – <a href="#" class="govuk-link">help us to improve it</a>.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<!-- Hero banner -->

<div class="employer_home eoi-form-journey">

<div class="govuk-grid-row bg-light-grey govuk-!-padding-0 govuk-!-margin-left-0 govuk-!-margin-right-0 display-flex flex-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-top-8 govuk-!-padding-bottom-8 govuk-!-padding-right-7 govuk-!-padding-left-8">
    <h1 class="govuk-heading-l govuk-!-font-size-48 govuk-!-margin-bottom-5">Discover your future workforce
    </h1>
    <p class="govuk-body-l">T-Levels: a new qualification developed in collaboration with employers.</p>
    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
      Find out more about T Levels
    </button>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-padding-0 display-flex" style="background-image:url('https://theme.zdassets.com/theme_assets/9268392/78686529fbd6510660ad83b76b865568200b06e6.png'); background-size:cover; background-position: top right;">
  </div>
</div>

<!-- Panels -->

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-font-weight-regular govuk-!-margin-bottom-4">An industry placement is at the heart of each T Level course:</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-9 display-flex flex-row">
  <div class="govuk-grid-column-one-third display-flex">
    <div class="border-bottom-purple govuk-!-padding-bottom-5" style="width:100%;">
      <h3 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-font-size-36">Early <span class="govuk-!-font-weight-regular">access</span></h3>
      <p class="govuk-body govuk-!-margin-bottom-1">to the brightest talent</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third display-flex">
    <div class="border-bottom-purple govuk-!-padding-bottom-5" style="width:100%;">
      <h3 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-font-weight-regular govuk-!-font-size-36">Shape the <span class="govuk-!-font-weight-bold">future</span></h3>
      <p class="govuk-body govuk-!-margin-bottom-1">of your industry</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third display-flex">
    <div class="border-bottom-purple govuk-!-padding-bottom-5" style="width:100%;">
      <h3 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-font-weight-regular govuk-!-font-size-36">5 <span class="govuk-!-font-weight-bold">simple</span> steps</h3>
      <p class="govuk-body govuk-!-margin-bottom-1" style="font-size:16px; margin-top:8px;"><a href="">Find out how industry placements work</a></p>
    </div>
  </div>
</div>


<!-- Postcode search -->

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-full">
    <div class="bg-light-grey map-bg">
      <div class="govuk-grid-row govuk-!-padding-6">

        <div class="govuk-grid-column-full govuk-!-padding-top-1 govuk-!-padding-right-7 govuk-!-padding-bottom-2 govuk-!-padding-left-6">

            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Partner with a school or college</h2>


            <div class="govuk-grid-row">

              <div class="govuk-grid-column-one-half">
                <div style="background-color:#fff; padding:20px 20px;">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Search for providers</h3>
                  <p class="govuk-body govuk-!-margin-bottom-5">
                    See schools and colleges near you.
                  </p>
                  <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <input class="govuk-input govuk-input--width-10 govuk-!-margin-bottom-0" id="event-name" name="event-name" type="text" style="float:left;" placeholder="Enter a postcode or town">
                    <button class="govuk-button blue govuk-!-margin-bottom-0" data-module="govuk-button">
                      Search
                    </button>
                  </div>
                </div>
              </div>

              <div class="govuk-grid-column-one-half">
                <div style="background-color:#fff; padding:20px 15px;">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Invite providers to contact you</h3>
                  <p class="govuk-body govuk-!-margin-bottom-5">
                    Leave your details for them to get in touch.
                  </p>
                  
                    <button class="govuk-button blue govuk-!-margin-bottom-0" data-module="govuk-button">
                      Register your interest
                    </button>
                  
                </div>
              </div>
            </div>

            <details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Looking for providers in more than one location?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">You can download a list of all T Level providers if you need to see schools and colleges in multiple locations.</p>
                <p class="govuk-body"><a href="">All T Level providers (updated February 2023)</a> <br><span>CSV, 591KB</span></p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Note:</span> This file contains publicly available data provided by the schools and colleges listed.</p>
              </div>
            </details>

        </div>

      </div>
    </div>
  </div>
</div>



<!-- Tiles -->

<div class="govuk-grid-row govuk-!-margin-top-9 display-flex flex-row">
  <div class="govuk-grid-column-one-quarter">
    <img src="https://theme.zdassets.com/theme_assets/9268392/17d1ae4ec2050e98be0b77a7fc6b597af82ecfed.png"
    alt="A teacher and a student laughing while discussing something." style="max-width:100%;">
    <h3 class="govuk-heading-s govuk-!-margin-top-2"><a href="">About T Levels and industry placements</a></h3>
    <p class="govuk-body">What industry placements and T Levels are, and how they could work in your business.</p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <img src="https://theme.zdassets.com/theme_assets/9268392/f6d0b7c4430906b4aaa20afde33be6beb2d613cf.jpg"
    alt="A teacher and a student laughing while discussing something." style="max-width:100%;">
    <h3 class="govuk-heading-s govuk-!-margin-top-2"><a href="">Plan industry <br>placements</a></h3>
    <p class="govuk-body">Guidance to help you plan, including working with schools, legal compliance and paying students.</p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <img src="https://theme.zdassets.com/theme_assets/9268392/133a80d2a6c063d1a2c617fca6c778af621999b5.png"
    alt="A teacher and a student laughing while discussing something." style="max-width:100%;">
    <h3 class="govuk-heading-s govuk-!-margin-top-2"><a href="">During industry placements</a></h3>
    <p class="govuk-body">How to work with students while they are on a placement, and end-of-placement reviews.</p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <img src="https://theme.zdassets.com/theme_assets/9268392/109f198d8b7018f4ca5e11ab3344ae19c9b4ca78.png"
    alt="A teacher and a student laughing while discussing something." style="max-width:100%;">
    <h3 class="govuk-heading-s govuk-!-margin-top-2"><a href="">Business benefits and case studies</a></h3>
    <p class="govuk-body">Discover the benefits of hosting an industry placement at your organisation.</p>
  </div>
</div>


<!-- Double panels -->


<div class="govuk-grid-row govuk-!-margin-top-9 display-flex flex-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="bg-light-grey height-100 govuk-!-padding-6 govuk-!-padding-bottom-0">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Skill areas and courses</h2>
        </div>
      </div>   
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-font-weight-bold"><a href="">Digital and IT</a></p>
          <p class="govuk-body">With courses ranging from development and design to business support, how could a T-Level student help your business thrive?</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <img style="max-width:100%;" src="https://abload.de/img/screenshot2022-08-11ainc3a.png">
        </div>
      </div>

      <hr>

      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0"> <a href="">All skill areas</a> </p>

    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="bg-light-grey height-100 govuk-!-padding-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-5">T Level webinars</h2>
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1"><a href="">Supporting employers with T Level Industry Placements – an introduction for business advisors</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">Thursday, 23rd February 2023, 2:00 PM</p>

      <hr>

      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0"> <a href="">See all webinars</a> </p>
    </div>
  </div>
</div>

<!-- Tertiary Tiles -->

<div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-9 display-flex flex-row">
  <div class="govuk-grid-column-one-half display-flex">
    <div class="bg-light-grey govuk-padding-6 border-bottom-purple thin">
      <h3 class="govuk-heading-m">Have a T Levels question?</h3>
      <p class="govuk-body govuk-!-margin-bottom-1">Our T Levels support bot is here to help you find the answers. <a href="">Ask a question</a>.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half display-flex">
    <div class="bg-light-grey govuk-padding-6 border-bottom-purple thin">
      <h3 class="govuk-heading-m">Contact us</h3>
      <p class="govuk-body govuk-!-margin-bottom-1">If you'd like to speak to someone about T Levels or industry placements, or can't find what you're looking for, <a href="">contact us</a>.</p>
    </div>
  </div>
</div>

</div>


{% endblock %}