{% extends "layout.html" %}

{% block pageTitle %}
T Levels - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../tlevels-dashboard.html">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- MAIN HEADING -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">T Levels</h1>
      <p class="govuk-body">Check and confirm T Level details are correct before adding them to your providers</p>
    </div>
  </div>
</div>

<!-- MAIN ROW -->
<section class="homepage-section homepage-section--services-and-info">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">In this section</h2>
              <ul class="single-column-services-and-info__list">  
                  <li class="chevron-card">
                      <div class="chevron-card__wrapper">
                      <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                          <a class="govuk-link chevron-card__link" href="tlevel-select-non-reviewed.html">New T Levels</a>
                      </h3>
                      <p class="govuk-body chevron-card__description">Review the details of the T Levels we're adding to your account.</p>
                      </div>
                  </li>        
                  <li class="chevron-card">
                      <div class="chevron-card__wrapper">
                      <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                          <a class="govuk-link chevron-card__link" href="confirmed-t-levels.html">T Levels you already offer</a>
                      </h3>
                      <p class="govuk-body chevron-card__description">View details of the T Levels already in your account.</p>
                      </div>
                  </li>      
                  <li class="chevron-card">
                      <div class="chevron-card__wrapper">
                      <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                          <a class="govuk-link chevron-card__link" href="queried-t-levels.html">T Level queries</a>
                      </h3>
                      <p class="govuk-body chevron-card__description">View the T Levels you've asked us to update.</p>
                      </div>
                  </li>   
          </ul>
      </div>
  </div>
  </section>


{% endblock %}
