{% extends "layout.html" %}

{% block pageTitle %}
No records found - Registrations - Manage T Level results - GOV.UK
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/registrations/registrations">Registrations</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <form class="form" action="/V2-0/AO/tlevels-dashboard" method="post" novalidate data-validate="data-validate">
      {# <h1 class="govuk-heading-l">No records found</h1> #}
      <h1 class="govuk-heading-l">No records found</h1>
    <p class="govuk-body">A CSV file cannot be generated as there are no learners registered in our system for your organisation.</p>

  <div class="govuk-button-group">

   <button class="govuk-button" data-module="govuk-button">Back to home</button>

     <a class="govuk-button govuk-button--secondary" href="/V2-0/AO/registrations/registrations" data-module="govuk-button">
    Add registrations
  </a>
          </form>

  </div>

  <br>
  

      <h2 class="govuk-heading-m">Get help with the Manage T Level results service</h2>
      <ul class="govuk-list">
        If you need help with the Manage T Level results service please 
        <a href="mailto:Tlevel.resultsandcertification@education.gov.uk?subject=No registration records found">contact&nbsp;us</a>.
         We aim to respond within 3 working days.
      </ul>
    </div>




    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    </div>
  </div>

            </div>
        </form>
    </div>
</div>


{% endblock %}
