{% extends "layout.html" %}

{% block pageTitle %}
Awarding organisation - Review T Levels - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Awarding organisation - Review T Levels</h1>
        <p class="govuk-body-l">User journey for AO's to inform ESFA which T levels they deliver</p>
        <p>From: R&C Team</p>
        <p>Published: 25 January 2022</p>
        <p>Last updated: 25 January 2022</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Journey overview</h2>
        <p>Awarding organisations first task when interacting with the service is to confirm which T Levels they will be delivering.</p>
        <p>Once completed, this task will be done on an ad-hoc basis as and when the awarding organisation adds or stops delivering T Levels. </p>

        <h2 class="govuk-heading-m">End users</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>T Level Editors (user role in the service)</li>
            <li>Administrators</li>
        </ul>

        <h2 class="govuk-heading-m">Pre requisites before reviewing T levels</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>None - first step for users to complete</li>
        </ul>

        <h2 class="govuk-heading-m">Current Functionality</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Users confirm on an individual basis the list of T Levels and details we hold for their Awarding Organisation.</li>
            <li>Users are able to query any of the above T Levels if the details are incorrect.</li>
            <li>Users are able to see all of the T Levels they have confirmed are correct.</li>
        </ul>

        <h2 class="govuk-heading-m">User Journey</h2>

        <a href="review-t-levels-aug-21.jpg"><img src="review-t-levels-aug-21.jpg"
                alt="Screenshot of review t levels user journey"></a>
    </div>
</div>

{% endblock %}