{% extends "layout.html" %}

{% block pageTitle %}
Awarding organisation - Review providers - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Awarding organisation - Review providers</h1>
        <p class="govuk-body-l">User journey for AO's to inform ESFA which providers are offering the T Levels that the
            AO delivers</p>
        <p>From: R&C Team</p>
        <p>Published: 25 January 2022</p>
        <p>Last updated: 25 January 2022</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Journey overview</h2>
        <p>Awarding organisations will need to inform ESFA through the service of which providers will be delivering
            which T Levels</p>
        <p>Once completed, this task will be done on an ad-hoc basis as and when the awarding organisation is notified
            of any changes in which providers will be:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>starting new T Levels</li>
            <li>stopping the delivery of T Levels or</li>
            <li>a new provider will be delivering T Levels</li>
        </ul>

        <h2 class="govuk-heading-m">End users</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>T Level Editors (user role in the service)</li>
            <li>Administrators</li>
        </ul>

        <h2 class="govuk-heading-m">Pre requisites before reviewing providers</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Must have reviewed the T Levels they offer within the R&C service</li>
        </ul>

        <h2 class="govuk-heading-m">Current Functionality</h2>
        <p>Users are able to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Review existing providers</li>
            <li>Add or remove providers</li>
            <li>Select the T Levels each provider offers</li>
        </ul>

        <h2 class="govuk-heading-m">User Journey</h2>

        <a href="/public/images/review-providers-aug-21.jpg"><img src="/public/images/review-providers-aug-21.jpg"
            alt="Screenshot of review providers user journey" width="500px"></a>
    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related govuk-!-display-none-print" role="complementary">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Related links</h2>
            <nav role="navigation" aria-labelledby="-title">
                <ul class="govuk-list">
                    <li class="app-related__list-item">
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link" href="https://miro.com/app/board/uXjVOTZ1Qn8=/">Review T Levels miro
                                board (T Level team members only)</a>
                        </h3>
                    </li>
                    <li class="app-related__list-item">
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link" href="../../V1-0/AO/providers/find-provider.html">Prototype link</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>

{% endblock %}