{% extends "layout.html" %}

{% block pageTitle %}
Provider - Request a statement of achievement - Manage T Level results design history
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Providers - Request a statement of achievement</h1>
        <p class="govuk-body-l">User journey for Providers's to request a statement of achievement for learners who have not completed their T Level.</p>
        <p>From: R&C Team</p>
        <p>Published: 25 January 2022</p>
        <p>Last updated: 25 January 2022</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Journey overview</h2>
        <p>AO's inform ESFA of students results for each registered component.</p>
        <p>Users add a result against components (Core and or Specialism(s)) for registered assessment entries.</p>
        <p>For example if a student has taken an exam for their core in the summer of 2021, the AO must be able to update our service with the grade that the learner achieved for that exam.</p>

        <h2 class="govuk-heading-m">End users</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Learner records editor (user role in the service)</li>
            <li>Administrators</li>
        </ul>

        <h2 class="govuk-heading-m">Pre requisites before requesting a statement of achievement</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Provider must have added organisations address (where the certificates should be sent).</li>
            <li>Learner must have been initially registered by an AO.</li>
            <li>Learner must be in a withdrawn state - provider must inform AO who will place learner into withdrawn state via the AO R&C service.</li>
            <li>Learner must not have had a SoA requested in the last 3 weeks (can only request one after 3 weeks of requesting first statement).</li>
            <li>Learner must have completed an industry placement and or received a core component result.</li>
            <li>Provider must create a T Level record for the student before requesting a statement of achievement.</li>
        </ul>

        <h2 class="govuk-heading-m">Current Functionality</h2>
        <p>Request statement of achievement on individual basis.</p>
        <p>Sceanrios catered for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Learner not registered by exam board.</li>
            <li>No postal address information in system for provider.</li>
            <li>Printing not available yet (Too early to request SoA).</li>
            <li>Learner not recorded as a  withdrawn status in the system.</li>
            <li>Statement already requested</li>
            <li>Provider has not created a T level record for the learner in the system</li>
            <li>Provider has not updated learners T level record with information about Industry placement status and or has not received a core component result</li>
        </ul>

        <h2 class="govuk-heading-m">User Journey</h2>

        <a href="/public/images/soa-may-21.jpg"><img src="/public/images/soa-may-21.jpg"
            alt="Screenshot of the current results user journey as of January 2022" width="500px"></a>
    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related govuk-!-display-none-print" role="complementary">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Related links</h2>
            <nav role="navigation" aria-labelledby="-title">
                <ul class="govuk-list">
                    <li class="app-related__list-item">
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link" href="https://miro.com/app/board/uXjVOXvHuqE=/"> Request a statament of achievement miro board (T Level team members only)</a>
                        </h3>
                    </li>
                    <li class="app-related__list-item">
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link"
                                href="../../V5-0/providers/request-statement-of-achievement.html">Prototype link to what is currently in the service for results
                            </a>
                        </h3>
                    </li>
                    <li class="app-related__list-item">
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link"
                                href="../../V1-0/providers/request-statement-of-achievement.html">Prototype link of previous version </a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>
{% endblock %}