{% extends "layout.html" %}

{% block pageTitle %}
  Assessments upload successful - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Assessments uploaded</h1>
      </div>

      <!-- <h2 class="govuk-heading-m">File uploaded</h2>
      <p class="govuk-body">Tlevels-Barnsley-Autumn-2021.csv </p> -->

      <p class="govuk-body govuk-!-padding-top-3">You successfully sent assessment entries for 3 registrations.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">You can now: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="assessment-entries-learner-search.html">manage individual assessments</a> by searching for a learner</li>
        <li><a class="govuk-link" href="upload-assessment-entries-file.html">upload another multiple assessments file</a></li>
        <li><a class="govuk-link" href="/V1-0/AO/results/student-results.html">add results</a> for registered learners with assessment entries</li>
      </ul>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <a class="govuk-button" role="button" href="upload-assessments-entries-file.html">Upload another file</a>
        <a class="govuk-button govuk-button--secondary" role="button" href="/V1-0/AO/tlevels-dashboard.html">Back to home</a>
      </div>

    </div>
  </div>

{% endblock %}
