{% extends "layout.html" %}

{% block pageTitle %}
Register a learner on a new course - Change core
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/V1-0/AO/registrations/manage/new-course/learner-decided-specialism-new-course" method="post" novalidate data-validate="select-core-validation">
            <div class="govuk-form-group">
                
                    <span class="govuk-caption-xl">Register a learner on a new course</span>
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="core-change">
                        Select the core
                      </label>
                    </h1>
                    <div class="govuk-form-group">
                        <select class="govuk-select" id="core-change" name="core-change">      
                          <option value="" selected>Select one</option>
                          <option value="Digital Business Services (1000382)">Digital Business Services (1000382)</option>
                          <option value="Design, Surveying and Planning (1000374)">Design, Surveying and Planning (1000374)</option>  
                          <option value="Digital Support Services (1000442)">Digital Support Services (1000442)</option>
                          <option value="Health Support Services (1099393)">Health Support Services (1099393)</option>
                        </select>
                      </div>

                      <details class="govuk-details govuk-!-margin-top-6" closed>
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Cannot find a core?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            If you cannot find the core you are looking for in the list above, ask your Providers Editor to add the relevant T Level to the provider in the 'providers’ section of this service.
                        </div>
                    </details>  

 
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<script type="application/json" id="select-core-validation">
  {
    "core-change": {

      "presence": {
      
      "message": "^Select a core"

      }
    }
  }
</script>

{% endblock %}
