{% extends "layout.html" %}

{% block pageTitle %}
  Provider's T Levels page
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="your-providers">Your providers</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
            Provider's T Levels {{data['removeTLevelTitle']}}
        </h1>

        <h2 class="govuk-heading-l">
          {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerName'] }}  <span class="govuk-hint"><abbr>UKPRN</abbr>: {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerUKPRN'] }}</span>
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-5">This provider is offering:</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          {% if data['tLevel-answer'] === 'Yes' %}
          {% else %}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerTlevel1'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="centre-tlevel-remove?tleveltitle=providerTlevel1">
                Remove <span class="govuk-visually-hidden">T Level</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerTlevel2'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="centre-tlevel-remove?tleveltitle=providerTlevel2">
                Remove <span class="govuk-visually-hidden">T Level</span>
              </a>
            </dd>
          </div>
          {% if data['tlevel-added'] === 'yes' %}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              {{ data['tLevelsProvidersCourses'][data['tlevel']]['providerTlevel3'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="centre-tlevel-remove?tleveltitle=providerTlevel3">
                Remove <span class="govuk-visually-hidden">T Level</span>
              </a>
            </dd>
          </div>
          {% else %}
          {% endif %}
        </dl>

      {% if data['tlevel-added'] === 'yes' %}
      {% else %}
        <p><a class="govuk-button govuk-button--secondary" role="button" href="provider-details-existing-add-tlevel.html">Add another T Level</a></p>
      {% endif %}
        <p><a class="govuk-button" role="button" href="your-providers.html">Back to your providers</a></p>

    </div>
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const tlevel = urlParams.get('tlevel');
  sessionStorage.setItem('tlevel', tlevel)
</script>


{% endblock %}
