{% extends "layout.html" %}

{% block pageTitle %}
Add a new registration - Select the provider - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()" href="#">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="add-registration-check-submit" method="post" novalidate data-validate="register-for-learner-validation">
            <div class="govuk-form-group">
                
                    <span class="govuk-caption-xl">Add a new registration</span>
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="year">
                        Select the academic year
                      </label>
                    </h1>
                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                           At this time you can only select 2021/22
                        </p>
                    </div>

                    <div class="govuk-form-group">

                        <select class="govuk-select" id="year" name="year">
                        
                          <option value="updated" selected>Select one</option>
                          <option value="2020 to 2021">2020 to 2021</option>
                          <option value="2021 to 2022">2021 to 2022</option>
                          <option value="2022 to 2023">2022 to 2023</option>
                        </select>
                    </div> 
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<!-- <script type="application/json" id="register-for-learner-validation">
    {

        "first-name": {
        
        "presence": {
        
        "message": "^Enter learner’s last name"
        
        }
        
        },
    
        "last-name": {
        
          "presence": {
          
          "message": "^Enter learner’s last name"
          
          }
          
          }
        
      }
</script> -->

{% endblock %}
