{% extends "layout.html" %}

{% block pageTitle %}
Add a new registration - Select the specialism - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick= "goBack()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="add-registration-q7-year" method="post" novalidate data-validate="">
            <div class="govuk-form-group">
                
                    <span class="govuk-caption-xl">Add a new registration</span>
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="specialism">
                      Select the occupational specialism(s) for {{data['core']}}
                      </label>
                    </h1>
                    
                    {% if data['core'] === 'Design, Surveying and Planning (1000374)' %}
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="specialism" name="specialism" type="radio" value="os1">
                        <label class="govuk-label govuk-radios__label" for="specialism">
                          Building services design (70000002)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="specialism-2" name="specialism" type="radio" value="os2">
                        <label class="govuk-label govuk-radios__label" for="specialism-2">
                          Resource management (70000001)
                        </label>
                      </div>
                    </div>

                  {% else if data['core'] === 'Health Support Services (1099393)' %}
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="specialism" name="specialism" type="radio" value="os1">
                      <label class="govuk-label govuk-radios__label" for="specialism">
                        Healthcare (70000002)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="specialism-2" name="specialism" type="radio" value="os2">
                      <label class="govuk-label govuk-radios__label" for="specialism-2">
                        Administration and Management (70000001)
                      </label>
                    </div>
                  </div>
                  {% else %}
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="specialism" name="specialism" type="radio" value="os1">
                      <label class="govuk-label govuk-radios__label" for="specialism">
                        Agriculture, Land Management and Production (70000002)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="specialism-2" name="specialism" type="radio" value="os2">
                      <label class="govuk-label govuk-radios__label" for="specialism-2">
                        Animal Care and Management (70000001)
                      </label>
                    </div>
                  </div>

                  {% endif %}
                    
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

{% endblock %}
