{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <a class="govuk-back-link" onclick="goBack()">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">
            Accessibility statement
        </h1>

        <p class="govuk-body">This statement applies to content published on the <a href="#">T Levels domain.</a> It does not apply to content on other Department for Education (DfE) services.</p>
        <p class="govuk-body govuk-!-margin-bottom-6">This website is run by the Department for Education. It is designed to be used by as many people as possible. The text should be clear and simple to understand. You should be able to:</p>

        <ul class="govuk-list--bullet govuk-list govuk-!-margin-bottom-7">
            <li>zoom in up to 300% without problems</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>


        <h2 class="govuk-heading-m">How accessible this website is</h2>
        <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>

        <ul class="govuk-!-margin-bottom-7 govuk-list govuk-list--bullet">
            <li>some pages and document attachments are not written in plain English</li>
            <li>some documents are in PDF format and are not accessible</li>
        </ul>

        <h2 class="govuk-heading-m">GOV.UK services</h2>
        <p class="govuk-body">Each service has its own accessibility page, with details of:</p>

        <ul class="govuk-list--bullet govuk-list">
            <li>how accessible the service is</li>
            <li>how to report problems</li>
            <li>how to request information in an alternative format</li>
        </ul>

        <p class="govuk-!-margin-bottom-7 govuk-body">You can access these pages from the footer inside the service.</p>

        <h2 class="govuk-heading-m">Feedback and contact information</h2>
        <p><a href="#">Tell us if you need information in a different format</a>.</p>
        <p>In your message, include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the web address (URL) of the content</li>
            <li>your email address and name</li>
            <li>the format you need - for example, plain text, braille, British sign language (BSL), large print or audio CD</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-7">You can also view the organisation’s <a href="#">accessible document policy</a> to report any problems or request documents in an alternative format.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
        <p class="govuk-!-margin-bottom-7 govuk-body">If you find any problems that are not listed on this page, or you think we're not meeting the accessibility requirements, <a href="https://manage-tlevel-results.tlevels.gov.uk/contact-us">contact us</a>.</p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">If you contact us with a complaint, and you’re not happy with our response, <a href="#">contact the Equality Advisory and Support Service (EASS)</a>.</p>
        <p class="govuk-!-margin-bottom-7 govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

        <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">The Government Digital Service is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m">Compliance status</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">This website is partially compliant with the <a href="#">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

        <h2 class="govuk-heading-m">Non-accessible content</h2>
        <p class="govuk-!-margin-bottom-6">The content listed below is not accessible fo the following reasons:</p>

        <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
        <p class="govuk-body">
            After an accessibility audit, an issue was found in the list of learners in <a href="#">Manage your learners</a> where the code structure of the list is not compliant with an older version of the HMTL specification.</p>

        <p class="govuk-body">We have reviewed this and have found the code structure conforms to the <a href="#">latest HTML Standard</a> and replicates the structure on the GDS Design System.</p>

        <p class="govuk-body">
            We have not seen any issues with viewing the table with assisted technology, however older hardware or software may produce unexpected results. If you experience any issues, please <a href="https://manage-tlevel-results.tlevels.gov.uk/contact-us">contact us</a>.
        </p>

        <h3 class="govuk-heading-s">PDFs and non-HTML documents</h3>
        <p class="govuk-body">Many documents are not accessible in a number of ways, including missing text alternatives and missing document structure.</p>
        <p class="govuk-body">View the <a href="#">accessible document policy</a> of the organisation that published the document to report any problems or request documents in an alternative format. If more than one organisation is listed, view the accessible document policy of the first.</p>

        <h3 class="govuk-heading-s">Content that's not within the scope of the accessibility regulations</h3>
        <p class="govuk-!-margin-bottom-7 govuk-body">Non-HTML documents published before September 2018 do not need to be accessible, unless users need them to use a service.</p>


        <h2 class="govuk-heading-m">How we tested this website</h2>
        <p class="govuk-body">We use the Web Content Accessibility Guidelines V2.1 level A and level AA to test how accessible GOV.UK is.</p>
        <p class="govuk-body">We used the Website Accessibility Conformance Evaluation Methodology (WCAG-EM) approach to decide on a sample of pages to test.</p>
        <p class="govuk-!-margin-bottom-7 govuk-body">We use a combination of guided, manual and automated tools, to test that our service meets WCAG AA V2.1.  </p>

        <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">We are urgently fixing content which fails to meet the Web Content Accessibility Guidelines version 2.1 AA standard. We will update this page when issues are fixed.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p  class="govuk-body">This statement was prepared on 10 August 2022.</p>

    </div>
</div>

{% endblock %}