{% extends "layout.html" %}

{% block pageTitle %}
2020 to 2021 T Levels timeline
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="\">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">2020 to 2021 T Levels timeline</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">2020 to 2021 T Levels timeline</h1>

    <h3 class="govuk-heading-s">Sunday 31 July &#8212; Industry placement T Level grade deadline</h3>
    
    <p class="govuk-body">You must tell us whether a learner has completed their industry placement by 31 July for us to be able to calculate an overall T Level grade for results day.</p>
                    <p class="govuk-body">You can tell us this information as soon as you have it.</p>
                    <p class="govuk-body">Find out more about <a href="">the industry placement information we will ask you for</a>.</p>
    
    <h3 class="govuk-heading-s">Wednesday 17 August &#8212; T Level results issued</h3>
    
    <p class='govuk-body'>We publish the results for 2020 to 2021 learners who have completed all T Levels components, ready for results day on 18 August. </p>
                    <p class='govuk-body'>See an <a href="">example T Level results file</a>.</p>
    
    <h3 class="govuk-heading-s">Monday 31 October &#8212; Industry placement certificate deadline</h3>
    
    <p class='govuk-body'>You must <a href="">tell us any outstanding industry placement information</a> by 31 October for us to be able to issue T Level certificates to learners.</p>
    
    <h3 class="govuk-heading-m" id="Temporary-flexibilities">Temporary flexibilities</h3>
    
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>

    <p class="govuk-body">Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    
    <h3 class="govuk-heading-m" id="Industry-placement-models">Industry placement models</h3>
    
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>

    <p class="govuk-body">Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    
    
    </div>
     </div>
    
            </main>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h2 class="govuk-heading-l">
                2020 to 2021 T Levels timeline
            </h2>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Sunday 31 July &#8212; Industry placement T Level grade deadline
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <!-- Can we reduce the width of the text in the accordions? -->
                    <p class="govuk-body">You must tell us whether a learner has completed their industry placement by 31 July for us to be able to calculate an overall T Level grade for results day.</p>
                    <p class="govuk-body">You can tell us this information as soon as you have it.</p>
                    <p class="govuk-body">Find out more about <a href="">the industry placement information we will ask you for (link opens in a new tab or window)</a>.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Wednesday 17 August &#8212; T Level results issued
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p class='govuk-body'>We publish the results for 2020 to 2021 learners who have completed all T Levels components, ready for results day on 18 August. </p>
                    <p class='govuk-body'>See an <a href="">example T Level results file</a>.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Monday 31 October &#8212; Industry placement certificate deadline
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class='govuk-body'>You must <a href="">tell us any outstanding industry placement information</a> by 31 October for us to be able to issue T Level certificates to learners.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                        Monday 31 October &#8212; English and maths certificate deadline
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>For most learners, we get English and maths information from the LRS. You must <a href="">tell us any missing English and maths information</a> by 31 October for us to be able to issue T Level certificates to learners with the correct information.</p>
                    <p class='govuk-body'>More about <a href="">English and maths information on T Level certificates (link opens in a new tab or window)</a>.</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
