{% extends "layout.html" %}

{% block pageTitle %}
    Check Data
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="\">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Guidance</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
{#check data SUFF HERE#}
{% endblock %}
