{% extends "layout.html" %}

{% block pageTitle %}
2020 to 2021 T Levels timeline
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="\">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">2020 to 2021 T Levels timeline</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Manage T Level results timeline</h1>

    <h3 class="govuk-heading-m">Sunday 31 July, 2022<br>Industry placement T Level grade deadline</h3>
    
    <p class="govuk-body">You must tell us whether a learner has completed their industry placement by 31 July for us to be able to calculate an overall T Level grade for results day.</p>
                    <p class="govuk-body">You can tell us this information as soon as you have it.</p>
                    <p class="govuk-body">Find out more about <a href="/guidance#industry-placement">the industry placement information we will ask you for</a>.</p>
    
    <h3 class="govuk-heading-m">Wednesday 17 August, 2022<br>T Level results issued</h3>
    
    <p class='govuk-body'>We publish the results for 2020 to 2021 learners who have completed all T Levels components, ready for results day on 18 August. </p>
                    <!-- <p class='govuk-body'>See an <a href="">example T Level results file</a>.</p> -->
    
    <h3 class="govuk-heading-m">Monday 31 October, 2022<br>Industry placement certificate deadline</h3>
    
    <p class='govuk-body'>You must tell us any outstanding industry placement information by 31 October for us to be able to issue T Level certificates to learners.</p>

    <h3 class="govuk-heading-m">Monday 31 October, 2022<br>English and maths certificate deadline</h3>
    
    <p class='govuk-body'>For most learners, we get English and maths information from the LRS. You must <!-- <a href=""> -->tell us any missing English and maths information<!-- </a> --> by 31 October for us to be able to issue T Level certificates to learners with the correct information.</p>
   <!-- <p class='govuk-body'>More about <a href="">English and maths information on T Level certificates (link opens in a new tab or window)</a>.</p> -->
    
    </div>
    </div>
    </main>
{% endblock %}
