{% extends "layout.html" %}

{% block pageTitle %}
    Guidance for managing T level results. - GOVUK
{% endblock %}

{% block beforeContent %}
<nav>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="\">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">About Manage T Level results</li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">About Manage T Level results</h1>
    <p class="govuk-body">Manage T Level results is the service that exam boards and education providers use to provide DfE with the data needed to calculate overall T Level grades and issue certificates.</p>
    
    <p class="govuk-body">Tasks you can complete here include:</p> 
    <ul class="govuk-list govuk-list--bullet">
        <li>adding industry placement information</li>
        <li>adding maths and English details where it is not already provided</li>
        <li>requesting statements of achievement for withdrawn learners</li>
        <li>downloading T Level results on results day</li>
    </ul>
    <h2 class="govuk-heading-m" id="Adding-information">Adding learner information</h2>
    
    <p class="govuk-body">You can add learner information manually, which means that you input all of the required data from your own records.</p>
    
    <p class="govuk-body">Get prepared for adding a learner information manually by <a class="govuk-link" href="/check-data">checking what data you need to provide and by when</a>.</p>
    
    <h3 class="govuk-heading-m" id="soa">Statements of achievement</h3>
    
    <p class="govuk-body">Statements of achievement are used to show which components of a T Level have been completed by a learner.</p>

        <h4 class="govuk-heading-s">Who is entitled to a statement of achievement?</h4>
        <ul class="govuk-list govuk-list--bullet">
            <li>a learner who has not achieved all the components of their T Level</li>
            <li> a learner who has withdrawn from their T Level course</li>
        </ul>
        
        
       <p class="govuk-body">More about <a href="https://support.tlevels.gov.uk/hc/en-gb/articles/4403394599698-Request-a-statement-of-achievement" class="govuk-link" rel="noreferrer noopener" target="_blank">requesting a statement of achievement (opens in a new tab)</a>.</p>
    
       <h3 class="govuk-heading-m" id="industry-placement">Industry placement information we ask for</h3>
       <h4 class="govuk-heading-s" id="special-consideration">Special consideration</h4>
    
    <p class="govuk-body">Learners may experience difficult circumstances during their placement, which means they are unable to complete the minimum placement hours before the end of the second year.</p>
<p class="govuk-body">You have the discretion to apply special consideration in some exceptional circumstances where students have demonstrated sufficient progress towards their learning goals but have not completed the minimum placement hours.</p>
<p class="govuk-body">We will ask you for the total number of hours completed and the reason for granting special consideration. You should hold supporting documentation in your own files.</p>
<p class="govuk-body">More about <a href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance/t-level-industry-placements-delivery-guidance#section5" class="govuk-link" rel="noreferrer noopener" target="_blank">industry placement completion exceptions (opens in a new tab)</a>.</p>
    
    <h4 class="govuk-heading-s" id="temporary-flexibilities">Temporary flexibilities</h4>
    
    <p class="govuk-body">We understand that Covid-19 may have made it particularly hard to deliver placements against the core principles set out in the industry placement delivery guidance. </p>

    <p class="govuk-body">For the first two waves of T Level students, starting in 2020 to 2021 and 2021 to 2022, we have specified some temporary flexibilities that can be applied by exception and as a last resort.</p>

    <p class="govuk-body">We will ask you to specify for each learner whether any temporary flexibilities were used.</p>

    <p class="govuk-body">Temporary flexibilities will be withdrawn in July 2023.</p>

    <p class="govuk-body">You can read more about temporary flexibilities in 'Temporary flexibilities for 2020 and 2021 students' (PDF), available to download from the <a href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">T Levels delivery guidance page (opens in a new tab)</a>.</p>
    
    <h4 class="govuk-heading-s" id="industry-placement-models">Industry placement models</h4>
    
    <p class="govuk-body">Although not mandatory, a series of allowable general and route-specific models and approaches for industry placements can be adopted to make sure that placements are accessible and
        meaningful for all students. The route-specific models and approaches are tailored to the
        requirements of specialist industries so that placements are deliverable across all T
        Level provision.  </p>

    <p class="govuk-body">We will ask you to specify for each learner whether one or more of these industry placement models were used.</p>
    <p class="govuk-body">You can read more about industry placement models in 'Annex A: Different models and approaches to delivery' (PDF), available to download from the <a href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">T Levels delivery guidance page (opens in a new tab)</a>.</p>

    <h3 class="govuk-heading-m" id="2020-to-2021-learner-results">2020 to 2021 learner results</h3>
    <p class="govuk-body">T Level results for learners starting their T Levels in 2020 to 2021 is published in line with A level results.</p>
    <p class="govuk-body">The results are provided in csv format.</p>
    <p class="govuk-body">See an <a href="">example T Level results file</a>.</p>
    
    </div>
     </div>
    
            </main>
{% endblock %}
