{% extends "layout.html" %}

{% block pageTitle %}
    Guidance for managing T level results. - GOVUK
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <section id="about-manage-tlevel-results">
            <h1 class="govuk-heading-xl">About manage T Level results</h1>
            <p class="govuk-body">Manage T Level results is the service that exam boards and education providers use to provide the Department for Education with T Level data. The department uses this data to calculate overall T Level grades and issue certificates.</p>
            <p class="govuk-body">Tasks you can complete here include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>adding learner information, including industry placement, maths and English details, if missing</li>
                <li>requesting statements of achievement for withdrawn learners</li>
                <li>downloading T Level results on results day</li>
            </ul>
        </section>

        <section id="adding-learner-information">
            <h2 class="govuk-heading-l" id="Adding-information">Adding learner information</h2>
            <p class="govuk-body">You can add learner information manually, which means adding details of learners one at a time into this service.</p>
            <p class="govuk-body">There are deadlines for when we need a learner’s information. You can prepare for adding learner information manually by <a class="govuk-link" href="/check-data">checking what data you need to provide and by when</a>.</p>
        </section>
    
        <section id="industry-placements-special-consideration">
            <h3 class="govuk-heading-m">Industry placements and special consideration</h3>
            <p class="govuk-body"> Learners may experience exceptional and adverse circumstances during their placement, which means they are unable to complete the minimum placement hours before the end of the second year.</p>
            <p class="govuk-body"> You have the discretion to apply special consideration in some exceptional circumstances. These are where learners have demonstrated sufficient progress towards their learning goals and worked directly with an external employer, but have not completed the minimum placement hours.</p>
            <p class="govuk-body"> We will ask you for the total number of hours completed and the reason for granting special consideration. You should hold supporting documentation in your own files.</p>
            <p class="govuk-body">Find out more about <a class="govuk-link" href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance/t-level-industry-placements-delivery-guidance#section5">industry placement completion exceptions and special consideration</a>.</p>
        </section>
    
        <section id="requesting-statements-of-achievement">
            <h2 class="govuk-heading-l">Requesting statements of achievement</h2>
            <p class="govuk-body">Statements of achievement are used to show which T Level components a learner has completed.</p>
            <p class="govuk-body">Learners are entitled to a statement of achievement if they have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>not achieved all their T Level components</li>
                <li>withdrawn from their T Level course</li>
            </ul>
            <p class="govuk-body">Find out more about <a href="https://support.tlevels.gov.uk/hc/en-gb/articles/4403394599698-Request-a-statement-of-achievement" class="govuk-link">requesting a statement of achievement</a>.</p>
        </section>

        <section id="downloading-tlevel-results">
            <h2 class="govuk-heading-l">Downloading T Level results</h2>
            <p class="govuk-body">The Department for Education publishes T Level results in CSV format to coincide with the publication of A level results.</p>
        </section>

    </div>
    </div>
{% endblock %}
