
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row eoi-form-journey">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
        T Levels Connect: Prototype
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Student campaign site</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/students">Homepage</a>
        </li>
        <li>
          <a class="govuk-link" href="/students/subjects">Subjects</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Employer EOI</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/eoi/results">Results</a>
        </li>
        <li>
          <a class="govuk-link" href="/eoi/start">Register an interest</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Provider EOI</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/provider-eoi-post-mvs/start">Start page</a>
        </li>
        <li>
          <a class="govuk-link" href="/provider-eoi-post-mvs/employer-details">Organisation details</a>
        </li>
        <li>
          <a class="govuk-link" href="/provider-eoi-post-mvs/notifications">Notifications</a>
        </li>
        <li>
          <a class="govuk-link" href="/provider-eoi-post-mvs/filters">Search filters</a>
        </li>
        <li>
          <a class="govuk-link" href="/provider-eoi-post-mvs/campuses">Campuses</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Provider EOI (legacy)</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/provider-eoi/start">Start page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Large employers exploration</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/large-employer-dash/eoi-list">EOI list</a>
        </li>
      </ul>
 
    </div>
  </div>

{% endblock %}
