
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype
      </h1>
 
      <p>Use the buttons below to navigate to different <br>sections of the prototype:</p>
      <a class="campaign-button" style="display:block; float:left; clear:both; margin-bottom:20px;" href="/students">Student campaign site</a>
      <a class="campaign-button" style="display:block; float:left; clear:both; margin-bottom:20px;" href="/eoi/results">Employer EOI</a>
      <a class="campaign-button" style="display:block; float:left; clear:both; margin-bottom:20px;" href="/provider-eoi/start">Provider EOI</a>
    </div>
  </div>

{% endblock %}
