
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row gov-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Results and Certification design history
    </h1>
    <p class="govuk-body-l">
      A history of the designs for the T Levels Results and Certification (R&C) service
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

<section id="Documentation">


<h2 class="govuk-heading-m gov-uk-!-margin-bottom-9">Documentation</h2>
<!-- Row 1 -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-card">
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="design-history/Prototype.html">Prototype</a></h3>
            <p class="govuk-body">Link to the prototype, ULNs and version history.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-card">
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="design-history/TLevelOverview.html">T Levels Overview</a></h3>
            <p class="govuk-body">Summary and key information relating to the T Levels service and specifically the Results and Certification side to the service.
            </p>
          </div>
        </div>
      </div>
  </div>

  <!-- Row 2 -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="design-history/designhistory.html">Design History</a></h3>
          <p class="govuk-body">Documented and shared design decisions. Creating a permanent record of how our service has developed over time.
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="design-history/UserJourneysServiceMap.html">User Journeys and Service Design</a></h3>
          <p class="govuk-body">A collection of the user journeys within both the AO and Provider services as well as service design related documentation.
          </p>
        </div>
      </div>
    </div>
</div>

  <!-- Row 3 -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="design-history/userbusinessneeds.html">User and Business Needs</a></h3>
          <p class="govuk-body">A collection of user needs and business needs across the T Levels R&C service.
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="design-history/componentlibrary.html">Component Library</a></h3>
          <p class="govuk-body">Components are reusable parts of the user interface that have been used in the design of the R&C service
          </p>
        </div>
      </div>
    </div>
</div>

</section>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

<section id="References">

<h2 class="govuk-heading-m">References</h2>
  <!-- Row 4 -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="design-history/atozglossary.html">A to Z Glossary</a></h3>
          <p class="govuk-body">A collection of terms commonly used across the T Levels service lines.
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="#">Other T Level Services</a></h3>
          <p class="govuk-body">A collection of the other T Level services and related content.
          </p>
        </div>
      </div>
    </div>
</div>

</section>


      <!-- <h2 class="govuk-heading-m">Version 1</h2>

      <p>Providers system - 
      <a href="V1-0/providers/tlevels-dashboard.html">Providers dashboard</a> </p>
      <p>Awarding Organisation system - 
        <a href="V1-0/AO/tlevels-dashboard.html">AO dashboard</a> 
      </p>
      
      <h2 class="govuk-heading-m">Version 2</h2>

      <p>Providers system - 
      <a href="V2-0/providers/tlevels-dashboard.html">Providers dashboard</a> </p>

      <p>Awarding Organisation system - 
        <a href="V2-0/AO/tlevels-dashboard.html">AO dashboard</a> 
      </p>

      <h2 class="govuk-heading-m">Version 3</h2>

      <p>Providers system - 
      <a href="V3-0/providers/tlevels-dashboard.html">Providers dashboard</a> </p>

      <p>Awarding Organisation system - 
        <a href="V3-0/AO/tlevels-dashboard.html">AO dashboard</a> 
      </p>


      <h2 class="govuk-heading-m">Version 4 - latest</h2>

      <p>Providers system - 
      <a href="V4-0/providers/tlevels-dashboard.html">Providers dashboard</a> </p>

      <p>Awarding Organisation system - 
        <a href="V4-0/AO/tlevels-dashboard.html">AO dashboard</a> 
      </p>

      
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="design-history/ULNs.html">Unique Learner Numbers to use</a>
        </li>
        <li>
          <a href="#">Miro user journeys</a>
        </li>
      </ul>
    </div>
  </div> -->

{% endblock %}
