{% extends "layout.html" %}

{% block pageTitle %}
Employer interest in offering T Levels
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner phase-feedback">
  <p class="govuk-phase-banner__content govuk-body">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Give feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - <a class="govuk-link" href="#">help us to improve it</a>
    </span>
  </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey employer-listing">
  <div class="govuk-grid-column-full support_home">
    <div class="govuk-grid-column-full">


      <div class="homepage_banner govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-l">A step-by-step guide to delivering T Levels</h1>
          <p class="govuk-body">From registration to results, find out how to deliver T Levels at your school or
            college, and what support you can get.</p>
          <a role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Find out more
          </a>
        </div>
        <div class="govuk-grid-column-one-half homeban_img"></div>
      </div>

      <!-- -->

      <div class="sup_featured_news govuk-!-margin-bottom-7">
        <div class="govuk-grid-row">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Featured news</h2>
          <span class="bl_divider"></span>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half homeban_img"></div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">February 7 2023</p>
            <a class="govuk-link govuk-link--no-visited-state thickerline">
              <h3 class="govuk-heading-m">T Level Thursday - 9th February 2023</h3>
            </a>
            <p class="govuk-body">Next Thursday marks T Level Thursday, for the first time we are allocating a specific
              day to solely focus on and celebrate T Levels. &nbsp;The aim is to share experiences of employers,
              training provider...</p>
            <div>
              <p><a class="govuk-link">All T Level news</a></p>
            </div>
          </div>
        </div>
      </div>

      <!-- -->

      <div class="sup_feat_news govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">T Level newsletter</h2>
            <span class="bl_divider"></span>
            <a class="govuk-link thickerline govuk-!-font-weight-bold">26 January 2023</a>
            <p class="govuk-body govuk-!-margin-top-3">
              The latest T Level updates from the Department for Education, the Institute, awarding organisations and
              more.
            </p>
            <div class="endlinkblock left">
              <a class="govuk-link">All newsletters</a>
            </div>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Key dates and deadlines</h2>
            <span class="bl_divider"></span>
            <div class="kdate-block govuk-!-padding-top-0">
              <p class="govuk-!-font-weight-bold govuk-!-margin-right-6" style="float:left;">16 Feb</p><a
                class="govuk-link thickline govuk-!-font-weight-bold">T Level in Onsite Construction - occupational
                specialism very late assessment entry period</a>
            </div>
            <div class="kdate-block">
              <p class="govuk-!-font-weight-bold govuk-!-margin-right-6" style="float:left;">16 Feb</p><a
                class="govuk-link thickline govuk-!-font-weight-bold">T Level in Building Services Engineering for
                Construction - occupational specialism very late assessment entry period</a>
            </div>
            <div class="kdate-block last">
              <p class="govuk-!-font-weight-bold govuk-!-margin-right-6" style="float:left;">16 Feb</p><a
                class="govuk-link thickline govuk-!-font-weight-bold">
                T Level in Digital Production, Design and Development - Summer series - core component assessment
                student entry close</a>
            </div>
            <div class="endlinkblock right">
              <a class="govuk-link">All key dates</a>
            </div>
          </div>
        </div>
      </div>

      <!-- -->

      <div class="sup-find-emp govuk-!-margin-bottom-7">

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Find employers and help them find you</h2>
          <span class="bl_divider"></span>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
              <img src="https://theme.zdassets.com/theme_assets/9268392/7d7d212b2e4ca10383ff25d70a92ce27476b7fba.png">
            </div>

            <div class="govuk-grid-column-one-quarter">
              <h4 class="govuk-heading-s">Connect with employers</h4>
              <p class="govuk-body-s">Use our new service to find employers who have expressed an interest in T Levels
                and industry placements.</p>
              <a class="govuk-link">Find employers near you</a>
            </div>

            <div class="govuk-grid-column-one-quarter">
              <img src="https://theme.zdassets.com/theme_assets/9268392/755c72d367ff52e4eb800cb69a1d659f57beb76c.png">
            </div>

            <div class="govuk-grid-column-one-quarter">
              <h4 class="govuk-heading-s">Are your T Level details up to date?</h4>
              <p class="govuk-body-s">Make sure your organisation and course details are up to date so students and
                employers can find your T Level courses.</p>
              <a class="govuk-link">Update your details</a>
            </div>

          </div>
        </div>
      </div>


      <!--- -->

      <div class="sup-find-inf govuk-!-margin-bottom-7">

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Information and guidance</h2>
          <span class="bl_divider"></span>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%;" class="govuk-!-margin-bottom-3" src="https://theme.zdassets.com/theme_assets/9268392/70f3610aa6c630dd729669eb7dbcde9facc81d18.jpg">
              <a class="govuk-link thickline govuk-!-font-weight-bold">Course information</a>
              <p class="govuk-body-s govuk-!-margin-top-3">Find specifications, course outlines and brief summaries for each T Level.</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%;" class="govuk-!-margin-bottom-3" src="https://theme.zdassets.com/theme_assets/9268392/8d9315375287f3ccc799db312c1366ff3eaf5867.jpg">
              <a class="govuk-link thickline govuk-!-font-weight-bold">Implementation</a>
              <p class="govuk-body-s govuk-!-margin-top-3">Implementation plans, funding guidance, answers to common delivery questions.</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%;" class="govuk-!-margin-bottom-3" src="https://theme.zdassets.com/theme_assets/9268392/6cc068346c332c56d43a83afcc7e761ebd319648.jpg">
              <a class="govuk-link thickline govuk-!-font-weight-bold">Industry placements</a>
              <p class="govuk-body-s govuk-!-margin-top-3">Guidance and templates for delivering and managing industry placements.</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%;" class="govuk-!-margin-bottom-3" src="https://theme.zdassets.com/theme_assets/9268392/94c027728eb3898dc491270e21ebbe4f6377d0dc.png">
              <a class="govuk-link thickline govuk-!-font-weight-bold">Assessments and results</a>
              <p class="govuk-body-s govuk-!-margin-top-3">Information on how T Levels are assessed and what you need to do as a T Level provider.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- -->

      <div class="sup-events govuk-!-margin-bottom-7">

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">T Level events</h2>
          <span class="bl_divider"></span>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-row" style="position:relative; padding-bottom:65px;">

            <div class="govuk-grid-column-one-third">
              <div style="padding:20px; height:195px; width:100%; background-color:#f3f2f1;" >
                <a class="govuk-link thickline govuk-!-font-weight-bold">T Levels: Group Industry Placement - Construction: A one day visit to Scolmore International</a>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div style="padding:20px; height:195px; width:100%; background-color:#f3f2f1;" >
                <a class="govuk-link thickline govuk-!-font-weight-bold">T Levels: Group Industry Placement - Catering: Get your MOJO rising</a>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div style="padding:20px; height:195px; width:100%; background-color:#f3f2f1;" >
                <a class="govuk-link thickline govuk-!-font-weight-bold">T Levels: Group Industry Placement - Digital, Construction and Engineering: Metal Roadshow at Lancaster University with CREATE Education</a>
              </div>
            </div>
            
            <div class="endlinkblock right" style="width:960px; left:15px;">
              <a class="govuk-link">All events</a>
            </div>

          </div>
        </div>
      </div>

      <!-- -->

      <div class="sup-more-abt govuk-!-margin-bottom-7">

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">More about T Levels</h2>
          <span class="bl_divider"></span>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%; height:160px;" src="https://theme.zdassets.com/theme_assets/9268392/56eba67930c6c4e3728c6305a5f70e8e81cf9362.png">
            </div>

            <div class="govuk-grid-column-one-quarter">
              <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Case studies</h4>
              <p class="govuk-body-s">Discover what other T Level providers have learned from delivering T Levels in schools and colleges across England.</p>
              <a class="govuk-link">See T Level case studies</a>
            </div>

            <div class="govuk-grid-column-one-quarter">
              <img style="width:100%; height:160px;" src="https://theme.zdassets.com/theme_assets/9268392/ae9957676b9b0865ca680f91eee5b8225e48f302.jpg">
            </div>

            <div class="govuk-grid-column-one-quarter">
              <h4 class="govuk-heading-s govuk-!-margin-bottom-1">T Level Transition Programme</h4>
              <p class="govuk-body-s">Find out more about the 1-year post-GCSE course that prepares students for T Levels.</p>
              <a class="govuk-link">Discover the programme</a>
            </div>

          </div>
        </div>
      </div>

      <!-- -->

      <div class="sup-more-abt govuk-!-margin-bottom-2">


        <div class="govuk-grid-row">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">
              <div class="sup-bottomcard">
                <h2 class="govuk-heading-m">Have a T Levels question?</h2>
                <p class="govuk-body">
                  Our T Levels support bot is here to help you find the answers.
                </p>
                <a class="govuk-link">Ask a question</a>
              </div>
            </div>

            <div class="govuk-grid-column-one-half">
              <div class="sup-bottomcard">
                <h2 class="govuk-heading-m">Contact us</h2>
                <p class="govuk-body">
                  If you'd like to speak to someone about T Levels, contact us and we'll get back to you within 2 days.
                </p>
                <a class="govuk-link">Send a message</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('.le-btn-condensed').click(function () {
      $('.employer-list-one, .le-btn-condensed').addClass("hidden-element");
      $('.employer-list-two, .le-btn-expanded').removeClass("hidden-element");
    });
  });
</script>
{% endblock %}