{% extends "layout.html" %}

{% block pageTitle %}
Did Danny Waldron use an industry placement model?.GOVUK
{% endblock %}

{% block beforeContent %}
<nav>
    <a class="govuk-back-link" tabindex="0" onclick="goBack()">Back</a>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="industry-placement" method="post" novalidate data-validate='industryModel-validation'>

          <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Industry placement: Model(s)</span>

                  <h1 class="govuk-fieldset__heading">
                Was an industry placement model used for {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}?
              </h1>
            </legend>

              <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="industryModel-yes" name="industryModel" type="radio" value="yes" {{ checked("industryModel", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="industryModel-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="industryModel-no" name="industryModel" type="radio" value="no" {{ checked("industryModel", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="industryModel-no">
                      No
                    </label>
                  </div>
                </div>
              </div>

          </fieldset>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% include "../../../views/includes/sidebar.html" %}
    </div>
  </div>

  <script type="application/json" id="industryModel-validation">
    {

        "industryModel": {

            "presence": {

                "message": "^Select yes if this learner used an industry placement model"

            }

        }

    }
</script>


{% endblock %}
