{% extends "layout.html" %}

{% block pageTitle %}
    Which industry placement models were used? - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
    <nav>
        <a class="govuk-back-link" tabindex="0" onclick="goBack()">Back</a>
    </nav>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="did-you-use-a-flexibility" id="industry-placement-model" method="post" novalidate
                  data-validate='industrial-placement-models-validation'>


                <span class="govuk-caption-l">Industry placement: Model(s)</span>

                <fieldset class="govuk-fieldset">
                    {% if data['multipleEmployerModel'] == 'yes' %}
                        {% include "../includes/industry-placement-model-1-h1.html" %}
                        <div class="govuk-form-group">
                            {% include "../includes/industry-placement-model-1-option.html" %}
                        </div>
                    {% else %}
                        {% include "../includes/industry-placement-model-2-h1.html" %}
                        <div class="govuk-form-group">
                            {% include "../includes/industry-placement-model-2-options.html" %}
                        </div>
                    {% endif %}
                </fieldset>


                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>

        </div>
        <div class="govuk-grid-column-one-third">
            {% include "../../../views/includes/sidebar.html" %}
        </div>
    </div>



{% endblock %}