{% extends "layout.html" %}

{% block pageTitle %}
    Manage T Level records - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<nav>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="tlevels-dashboard">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Learners</li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Registered Learners (11)</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="filter-border">
                <h2 class="govuk-heading-m govuk-!-padding-top-4">Filters</h2>

                <div id="selectedFiltersWrapper" class="govuk-visually-hidden govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Selected filters</h2>
                    <div id="selectedFilters"></div>
                </div>

                <button class="govuk-button" onclick="applyFilters()">Apply filters</button>
                <button class="govuk-button govuk-button--secondary govuk-visually-hidden " id="clearFilters"
                        onclick="clearFilters()">Clear filters
                </button>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Start year
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="start-year" name="start-year" type="checkbox"
                                       value="2020 to 2021">
                                <label class="govuk-label govuk-checkboxes__label" for="start-year">
                                    2020 to 2021
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="start-year-2" name="start-year"
                                       type="checkbox" value="2021 to 2022">
                                <label class="govuk-label govuk-checkboxes__label" for="start-year-2">
                                    2021 to 2022
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Incomplete
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="english-level" name="status" type="checkbox"
                                       value="incomplete">
                                <label class="govuk-label govuk-checkboxes__label" for="english-level">
                                    English level
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="maths-level" name="status" type="checkbox"
                                       value="incomplete">
                                <label class="govuk-label govuk-checkboxes__label" for="maths-level">
                                    Maths level
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="industry-placement" name="status" type="checkbox"
                                       value="incomplete">
                                <label class="govuk-label govuk-checkboxes__label" for="industry-placement">
                                    Industry placement
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="all-incomplete" name="status" type="checkbox"
                                       value="incomplete">
                                <label class="govuk-label govuk-checkboxes__label" for="all-incomplete">
                                    All incomplete records
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Awarding organisation
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="awarding-organisation"
                                       name="awarding-organisation" type="checkbox" value="ncfe">
                                <label class="govuk-label govuk-checkboxes__label" for="awarding-organisation">
                                    NCFE
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="awarding-organisation-2"
                                       name="awarding-organisation" type="checkbox" value="pearson">
                                <label class="govuk-label govuk-checkboxes__label" for="awarding-organisation-2">
                                    Pearson
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="awarding-organisation-3"
                                       name="awarding-organisation" type="checkbox" value="city and guilds">
                                <label class="govuk-label govuk-checkboxes__label" for="awarding-organisation-3">
                                    City and Guilds
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            T Level
                        </legend>
                        <div class="govuk-form-group govuk-!-margin-top-1">
                            <label class="govuk-label govuk-visually-hidden" for="tlevel-search">
                                T level search
                            </label>
                            <input onkeyup="tlevelsearch()" class="govuk-input govuk-input--width-10" id="tlevel-search"
                                   name="width-10" type="text">
                        </div>
                        <div class="govuk-checkboxes scroll" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="t-level" name="t-level" type="checkbox"
                                       value="design, surveying and planning">
                                <label class="govuk-label govuk-checkboxes__label" for="t-level">
                                    Design, surveying and planning
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="t-level-2" name="t-level" type="checkbox"
                                       value="business studies and administration">
                                <label class="govuk-label govuk-checkboxes__label" for="t-level-2">
                                    Business studies and administration
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="t-level-3" name="t-level" type="checkbox"
                                       value="business studies">
                                <label class="govuk-label govuk-checkboxes__label" for="t-level-3">
                                    Business studies
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <label class="govuk-label app-search__label govuk-label--m" for="keywords">
                    Search by learner name or ULN
                </label>
                <input class="govuk-input app-search__input govuk-input--width-20" id="keywords" name="keywords"
                       type="search">
                <button type="button"
                        class="govuk-button app-search__button govuk-!-margin-bottom-2 govuk-!-margin-right-1"
                        data-module="govuk-button" onclick="search()">
                    Search
                </button>
                <button id="clearSearch" class="govuk-button govuk-button--secondary govuk-visually-hidden"
                        onclick="clearSearch()">Clear search
                </button>
                </p>
            </div>


            <div class="moj-filter-layout__content" id="records-list">

                <div class="app-records-actions" id="sortAndExport">
                    <div class="app-records-actions__col">
                        <p class="govuk-body govuk-!-margin-bottom-6 app-float-right"><a
                                href="/public/downloads/tLevelsStudentDataV3.csv" download class="govuk-link">Export
                            these records</a></p>
                        <p class="govuk-visually-hidden">Records sorted by </p>
                        <p class="govuk-body govuk-!-margin-bottom-3">
                            <span class="govuk-!-font-weight-bold">Sort by:</span>
                            <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">
              <span class="">Date updated</span>
            </span>
                            <span>|</span>
                            <span class="govuk-!-margin-left-2 govuk-!-margin-right-1">
              <a href="#" class="govuk-link govuk-link--no-visited-state">Last name</a>
            </span>
                        </p>
                    </div>
                </div>

                <style>
                    div:nth-child(11) {
                        display: none !important;
                    }
                </style>
                <div id="results">
                    {% include "../includes/overall-results/overall-results-learner-data.html" %}
                    <div id="no-results" class="is-hidden">
                        {% include "../includes/overall-results/no-results.html" %}
                    </div>
                </div>

                <div class="pagination">
                    <ul class="pagination__list-items">
                        <li class="pagination__item">
                            <a class="pagination__link" href="?page=1">
                                1
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href=./manage-t-level-records-page2.html>
                                2
                            </a>
                        </li>
                        <li class="pagination__item" id="nextButton">
                            <a class="pagination__link" href="./manage-t-level-records-page2.html">
                                Next
                                <span aria-hidden="true" role="presentation">
                                    »
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        Viewing 1 - 10 of 11 learners
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/public/javascripts/overall-results.js"></script>

    <style>
        .is-hidden {
            display: none;
        }

    </style>

{% endblock %}

