{% extends "layout.html" %}

{% block pageTitle %}
Manage T Level records - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<nav>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="tlevels-dashboard">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Learners</li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Registered Learners (11)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-border">
            <h2 class="govuk-heading-m govuk-!-padding-top-4">Filters</h2>

            <div id="selectedFiltersWrapper" class="govuk-visually-hidden govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Selected filters</h2>
                <div id="selectedFilters"></div>
            </div>

            <button class="govuk-button" onclick="applyFilters()">Apply filters</button>
            <button class="govuk-button govuk-button--secondary govuk-visually-hidden " id="clearFilters"
                    onclick="clearFilters()">Clear filters
            </button>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Start year
                    </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="start-year" name="start-year" type="checkbox"
                                   value="2020 to 2021">
                            <label class="govuk-label govuk-checkboxes__label" for="start-year">
                                2020 to 2021
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="start-year-2" name="start-year"
                                   type="checkbox" value="2021 to 2022">
                            <label class="govuk-label govuk-checkboxes__label" for="start-year-2">
                                2021 to 2022
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Incomplete
                    </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="english-level" name="status" type="checkbox"
                                   value="incomplete">
                            <label class="govuk-label govuk-checkboxes__label" for="english-level">
                                English level
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="maths-level" name="status" type="checkbox"
                                   value="incomplete">
                            <label class="govuk-label govuk-checkboxes__label" for="maths-level">
                                Maths level
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="industry-placement" name="status" type="checkbox"
                                   value="incomplete">
                            <label class="govuk-label govuk-checkboxes__label" for="industry-placement">
                                Industry placement
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="all-incomplete" name="status" type="checkbox"
                                   value="incomplete">
                            <label class="govuk-label govuk-checkboxes__label" for="all-incomplete">
                                All incomplete records
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        T Level
                    </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="building-services-engineering" name="t-level" type="checkbox"
                                   value="design, surveying and planning">
                            <label class="govuk-label govuk-checkboxes__label" for="building-services-engineering">
                                Building Services Engineering
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="design-surveying-and-planning" name="t-level" type="checkbox"
                                   value="business studies and administration">
                            <label class="govuk-label govuk-checkboxes__label" for="design-surveying-and-planning">
                                Design, Surveying and Planning
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="digital-business-services" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="digital-business-services">
                                Digital Business Services
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="digital-production-design-and-development" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="digital-production-design-and-development">
                                Digital Production, Design and Development
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="digital-support-services" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="digital-support-services">
                                Digital Support Services
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="education-and-childcare" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="education-and-childcare">
                                Education and Childcare
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="health" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="health">
                                Health
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="healthcare-science" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="healthcare-science">
                                Healthcare Science
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="onsite-construction" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="onsite-construction">
                                Onsite Construction
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            <input class="govuk-checkboxes__input" id="science" name="t-level" type="checkbox"
                                   value="business studies">
                            <label class="govuk-label govuk-checkboxes__label" for="science">
                                Science
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label app-search__label govuk-label--m" for="keywords">
                Search by learner last name or ULN
            </label>
            <input class="govuk-input app-search__input govuk-input--width-20" id="keywords" name="keywords"
                   type="search">
            <a href="./manage-t-level-records.html">
                <button type="button"
                        class="govuk-button app-search__button govuk-!-margin-bottom-2 govuk-!-margin-right-1"
                        data-module="govuk-button" onclick="search()">
                    Search
                </button>
            </a>
            <a href="./manage-t-level-records.html">
                <button id="clearSearch" class="govuk-button govuk-button--secondary govuk-visually-hidden"
                        onclick="clearSearch()">Clear search
                </button>
            </a>
            </p>
        </div>


        <div class="moj-filter-layout__content" id="records-list">

            <div class="app-records-actions" id="sortAndExport">
                <div class="app-records-actions__col">
                    <p class="govuk-visually-hidden">Records sorted by </p>
                    <p class="govuk-body govuk-!-margin-bottom-3">
                        <span class="govuk-!-font-weight-bold">Sort by last name:</span>
                        <span class="govuk-!-margin-left-1 govuk-!-margin-right-1"></span>
                        <span>
                            <a href="#" class="govuk-link govuk-link--no-visited-state">a - z</a>
                        </span>
                        <span>|</span>
                        <span>
                            <a href="#" class="govuk-link govuk-link--no-visited-state">z - a</a>
                        </span>
                    </p>
                </div>
            </div>

            <div id="no-results">
                {% include "../includes/overall-results/no-results.html" %}
            </div>
        </div>

        <div class="pagination govuk-body">
            <ul class="pagination__list-items govuk-!-padding-left-0">
                <li class="pagination__item" id="previousButton">
                    <a class="pagination__link" href="./manage-t-level-records-page3.html">
                        «
                        <span aria-hidden="true" role="presentation">
               Previous page
              </span>
                    </a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href=./manage-t-level-records-page2.html>
                        2
                    </a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href=./manage-t-level-records-page3.html>
                        3
                    </a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link govuk-!-font-weight-bold" href=./manage-t-level-records-page4.html>
                        4
                    </a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href=./manage-t-level-records-page5.html>
                        5
                    </a>
                </li>
                <li class="pagination__item" id="nextButton">
                    <a class="pagination__link" href="./manage-t-level-records-page5.html">
                        Next page
                        <span aria-hidden="true" role="presentation">»</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<script src="/public/javascripts/overall-results.js"></script>

<style>
    .is-hidden {
        display: none;
    }

    #nextButton {
        float: right;
    }

    #previousButton {
        float: left;
    }

    .pagination .pagination__list-items {
        text-align: center;
    }

    .app-filter__tag:after {
        content: none;
    }

</style>

{% endblock %}

