{% extends "layout.html" %}

{% block pageTitle %}
Did Danny Waldron use an industry placement model?.GOVUK
{% endblock %}

{% block beforeContent %}
<nav>
    <a class="govuk-back-link" tabindex="0" onclick="goBack()">Back</a>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="industry-placement-model-selection" method="post" novalidate data-validate='multipleEmployerModel-validation'>

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Industry placement: Model(s)</span>

                <h1 class="govuk-fieldset__heading">
                Was a multiple employer model used for {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}? 
              </h1>
            </legend>
            <div id="special-consideration-hint" class="govuk-hint">Select Yes if a multiple employer model was used for this learner's industry placement.</div>
              <div class="govuk-form-group">
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="multipleEmployerModel-yes" name="multipleEmployerModel" type="radio" value="yes" {{ checked("multipleEmployerModel", "yes") }}>
                        <label class="govuk-label govuk-radios__label" for="multipleEmployerModel-yes">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="multipleEmployerModel-no" name="multipleEmployerModel" type="radio" value="no" {{ checked("multipleEmployerModel", "no") }}>
                        <label class="govuk-label govuk-radios__label" for="multipleEmployerModel-no">
                          No
                        </label>
                      </div>
                  </div>
            </div>

          </fieldset>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% include "../../../views/includes/sidebar.html" %}
    </div>
  </div>

{#  <script type="application/json" id="multipleEmployerModel-validation">
    {

        "multipleEmployerModel": {

            "presence": {

                "message": "^Select yes if this learner used the multiple employer model"

            }

        }

    }
</script>#}


{% endblock %}
