{% extends "layout.html" %}

{% block pageTitle %}
Which temporary flexibilities were used? - Manage T Level results - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="special-consideration-check-answers" method="post" novalidate
      data-validate='temporary-flexibilities-validation'>
      <div class="govuk-form-group">

        {% if data['blended-placement'] == 'yes' %}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Industry placement: Temporary flexibilities</span>

              <h1 class="govuk-heading-l govuk-fieldset__heading">
              Were any other temporary flexibilities were granted to {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="temporary-flexibilities-1" name="temporary-flexibilities"
                type="radio" value="Employer led activities/projects" {{
                checked("temporary-flexibilities", "Employer led activities/projects" ) }}>
              <label class="govuk-label govuk-radios__label" for="temporary-flexibilities-2">
                Employer led activities/projects
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="temporary-flexibilities-2" name="temporary-flexibilities"
                type="radio" value="No other temporary flexibilities were used" {{
                checked("temporary-flexibilities", "No other temporary flexibilities were used" ) }}>
              <label class="govuk-label govuk-radios__label" for="temporary-flexibilities-2">
                No other temporary flexibilities were used
              </label>
            </div>
          </div>
        </fieldset>

        {% elseif data['uln'] == '1234567890' %}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-fieldset__heading">
              Which temporary flexibilities were granted to {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}?
            </h1>
            <div id="flexibilities-hint" class="govuk-hint">
              Select all that apply
            </div>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-1" name="temporary-flexibilities"
                type="checkbox" value="100% remote" {{ checked("temporary-flexibilities", "100% remote" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-1">
                Up to 100% remote
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-2" name="temporary-flexibilities"
                type="checkbox" value="Employer led activities/projects" {{
                checked("temporary-flexibilities", "Employer led activities/projects" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-2">
                Employer-led activities/projects
              </label>
            </div>
          </div>
        </fieldset>


        {% else %}
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-fieldset__heading">
              Which temporary flexibilities were granted to {{ data['tLevelsStudentData'][data.uln]['learnerName'] }}?
            </h1>
            <div id="flexibilities-hint" class="govuk-hint">
              Select all that apply
            </div>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-1" name="temporary-flexibilities"
                type="checkbox" value="100% remote" {{ checked("temporary-flexibilities", "100% remote" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-1">
                Up to 100% remote
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="temporary-flexibilities-2" name="temporary-flexibilities"
                type="checkbox" value="Employer led activities/projects" {{
                checked("temporary-flexibilities", "Employer led activities/projects" ) }}>
              <label class="govuk-label govuk-checkboxes__label" for="temporary-flexibilities-2">
                Employer led activities/projects
              </label>
            </div>
          </div>
        </fieldset>
        {% endif %}

      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
    <div class="govuk-grid-column-one-third">
        {% include "../../../views/includes/sidebar.html" %}
    </div>
</div>


<script type="application/json" id="temporary-flexibilities-validation">
    {

        "temporary-flexibilities": {

            "presence": {

                "message": "^Select one or more temporary flexibilities"

            }

        }

    }
</script>

{% endblock %}