{% extends "layout.html" %}

{% block pageTitle %}
  Home page - Manage T Level results - GOV.UK
{% endblock %}

{% block content %}

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Manage T Level results
            </h1>
        <p class="govuk-body">
            This service provides T Level results, certificates and statements of achievement for your learners.</p> <p>You must give us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>industry placement details for each learner</li>
                <li>missing English and maths details</li> 
            </ul>
                <p> <a class="govuk-link" href="/check-data">Check what data you need to provide and when you need to provide it</a>.</p>
                 <p><a class="govuk-link" target="_blank" href="https://support.tlevels.gov.uk/hc/en-gb/articles/6001929826066">View an example T Level results file (opens in a new tab)</a>.</p>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-4">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="search-learner-records.html">
                        Manage learner records
                    </a>
                </h2>
            <p class="govuk-body">
                Add or change your learners' English and maths achievements and industry placement status.
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-5">
            <h2 class="govuk-heading-m">
                <a class="govuk-link--no-visited-state" href="download-learner-results.html">
                    Download learner results
                </a>
            </h2>
            <p class="govuk-body">Download results for active learners in the final year of their T Level.</p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-2">
            <h2 class="govuk-heading-m">
                <a class="govuk-link--no-visited-state" href="request-statement-of-achievement">
                    Request statement of achievement
                </a>
            </h2>
            <p class="govuk-body">
                You must request a statement of achievement for learners who withdraw early from their T Level course.
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-2">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" href="org-address-present.html">
                        Manage your organisation's postal address
                    </a>
                </h2>
            <p class="govuk-body">
                Add or update the address you want certificates and statements of achievement sent to.
            </p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
        <div class="govuk-form-group card" name="hub-choice-5">
            <h2 class="govuk-heading-m">
                <a class="govuk-link--no-visited-state" href="">
                    Manage your account
                </a>
            </h2>
            <p class="govuk-body">View your account profile and permissions.</p>
        </div>
    </div>
</div>




    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-l">News, guidance and events</h2>

            <ul class="govuk-list govuk-list--spaced">
                
                
                <li><a class="govuk-link" href="/guidance">Find out about Manage T Level results</a></li>
                <li><a class="govuk-link" href="/check-data">Check what data you need to provide and when you need to provide it</a></li>
                <li><a class="govuk-link" href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance" target="_blank">Industry placements delivery guidance (opens in a new tab)</a></li>
                <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/categories/360002675019-T-Level-news" target="_blank">View news and updates (opens in a new tab)</a></li>
                <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/sections/4517469957522-T-Level-events" target="_blank">Events (opens in a new tab)</a></li>
                <!-- <li><a class="govuk-link" href="#">Give feedback to help us improve Manage T Level results</a></li> -->
            </ul>
        </div>
    </div>



{% endblock %}
