{% extends "layout.html" %}

{% block pageTitle %}
Learner's T Level record
{% endblock %}


{% block beforeContent %}
<nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./tlevels-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./manage-t-level-records.html">Registered learners</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if data['showBanner'] === 'maths' or data['showBanner'] === 'english'%}
    {% include "../includes/provider-notification-messages/maths-english-success-messages.html" %}
    {% endif %}
    {% if data['showBanner'] === 'ip' and data['newindustryPlacement'] == 'Completed'
    or data['newindustryPlacement'] == 'Completed with special consideration' %}
    {% include "../includes/provider-notification-messages/industry-placement-success-messages.html" %}
    {% elif data['showBanner'] === 'ip' %}
    {% include "../includes/provider-notification-messages/industry-placement-success-message-no-yet-achieved.html" %}
    {% endif %}
    {% if data['showBanner'] === 'certificate' %}
    {% include "../includes/provider-notification-messages/sent-certificate-message.html" %}
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if data['uln'] === '1122334455' or data['uln'] === '5647382910' or data['uln'] === '8642135790' or data['uln'] === '1231231231' or data['uln'] === '1169334253'%}
    {% elif data['newplacementResult'] === 'yes' and data['updatedmathsStatus'] === 'yes' and data['updatedenglishStatus'] === 'yes' %}
    {% elif data['newplacementResult'] === 'yes' and data['uln'] === '9876543210' %}
    {% elif data['newplacementResult'] === 'yes' and data['uln'] === '1169334253' %}
    {% else %}
    {% include "../includes/provider-notification-messages/record-notification.html" %}
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="record-header">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        {{ data['tLevelsStudentDataV3'][data['uln']]['learnerName'] }}
      </h1>

      <span class="govuk-caption-l">ULN: {{ [data['uln']] }}
      </span>
      {% if data['showBanner'] === 'certificate' %}
      <span class="govuk-body govuk-!-font-weight-bold">Replacement document requested on <span id="currentDate"></span>. Your document may take up to 3 weeks to arrive.</span>
      {% endif %}
    </div>


    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerDOB'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerProvider'] }}
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKPRN
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{data['tLevelsStudentDataV3'][data.uln]['UKPRN'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          T Level
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelTitle'] | safe }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerAwardingOrg'] }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Level 2 maths and English</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Maths
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedmathsStatus'] === 'yes'%}
          {{ data['newmathsStatus'] }}
          {% else %}
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerMaths'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newmathsStatus'] == 'Achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerMaths']  === 'Achieved (LRS)' or data['tLevelsStudentDataV3'][data['uln']]['learnerMaths']  === 'Not achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved (LRS)' %}
          {% else %}
          <a class="govuk-link" href="add-maths-status">
            Add <span class="govuk-visually-hidden"> maths status</span>
          </a>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          English
        </dd>
        <dd class="govuk-summary-list__value">
          {% if data['updatedenglishStatus'] == 'yes'%}
          {{ data['newenglishStatus'] }}
          {% else %}
          {{ data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newenglishStatus'] == 'Achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Achieved (LRS)' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved' or data['tLevelsStudentDataV3'][data['uln']]['learnerEnglish']  === 'Not achieved (LRS)' %}
          {% else %}
          <a class="govuk-link" href="add-english-status">
            Add <span class="govuk-visually-hidden"> english status</span>
          </a>
          {% endif %}
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Industry placement</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          Status
        </dd>
        <dd class="govuk-summary-list__value">
          <p>
            {% if data['newplacementResult'] === 'yes'%}

            {{ data['newindustryPlacement'] }}

            {% else %}
            {{ data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement']}}
            {% endif %}
          </p>

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['newindustryPlacement'] == 'Completed'
          or data['newindustryPlacement'] == 'Completed with special consideration'
          or data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement'] == 'Completed'
          or  data['tLevelsStudentDataV3'][data['uln']]['learnerIndustryPlacement'] == 'Completed with special consideration'%}
          {% else %}
          <a class="govuk-link" href="change-ip-result">
            Add <span class="govuk-visually-hidden"> industry placement information</span>
          </a>
          {% endif %}
        </dd>
      </div>
    </dl>

    {% if data['tLevelsStudentDataV3'][data['uln']]['learnerCoreResult'] %}
    <h2 class="govuk-heading-m">Core component</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          <p class="govuk-!-font-weight-bold">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelCore'] | safe}}</p>
        </dd>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerCoreResult'] }}
            {% if data['uln'] === "1234567890" %}
            <strong class="govuk-tag govuk-tag--purple">
              ROMM
            </strong></p>
          {% else %}
          {% endif %}
      </dd>
      </div>
    </dl>
    {% else %}
    {% endif %}

    {% if data['tLevelsStudentDataV3'][data['uln']]['learnerSpecialismResult'] %}
    <h2 class="govuk-heading-m">Occupational specialism</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          <p class="govuk-!-font-weight-bold">{{ data['tLevelsStudentDataV3'][data['uln']]['learnerTLevelSpecialism'] }}</p>
        </dd>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerSpecialismResult'] }}</p>
        </dd>
      </div>
    </dl>
    {% else %}
    {% endif %}


    <h2 class="govuk-heading-m">Overall T Level result</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key">
          {% if data['tLevelsStudentDataV3'][data['uln']]['learnerOverallGrade'] and data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] != '2021 to 2022' %}
          <p class="govuk-!-font-weight-bold">Result</p>
        <dd class="govuk-summary-list__value">
          <p>{{ data['tLevelsStudentDataV3'][data['uln']]['learnerOverallGrade'] }}</p>
        </dd>
          {% else %}
          {{ "Results will be displayed from the day before results day and will only be available for active final year learners." }}
          {% endif %}
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="govuk-button-group">
  <a id="searchAgainButton" class="govuk-button" role="button" href="./manage-t-level-records.html">
    Back to list of learners
  </a>
  {% if data['tLevelsStudentDataV3'][data['uln']]['Document'] != 'Not available' and data['showBanner'] != 'certificate' and data['tLevelsStudentDataV3'][data['uln']]['learnerStartYear'] != '2021 to 2022' %}
  <a id="requestReplacementDocument" class="govuk-button" role="button" href="./request-replacement-document.html">
    Request replacement document
  </a>
  {% endif %}
</div>
<a id="backToHomeButton" class="govuk-link govuk-link--no-visited-state" role="link" data-module="govuk-button" href="./tlevels-dashboard.html">< Back to home</a>


<script>
  const urlParams = new URLSearchParams(window.location.search);
  const uln = urlParams.get('uln');
  sessionStorage.setItem('uln', uln)
</script>

<script>
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  let today = new Date()
  const dd = String(today.getDate()).padStart(2, '0')
  const m = monthNames[today.getMonth()]
  const yyyy = today.getFullYear()
  today = dd + ' ' + m + ' ' + yyyy
  console.log(today)
  document.getElementById('currentDate').innerText = today
</script>

{% endblock %}