{% extends "layout.html" %}

{% block pageTitle %}
  Search for a learner page
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
    <a href="/V2-0/AO/tlevels-dashboard.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="learner-results" method="post" novalidate data-validate="search-for-learner-validation">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                      <span class="govuk-caption-xl">Download data</span>
                    </legend>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h1 class="govuk-fieldset__heading">
                            Select assessment period(s)
                          </h1>
                        </legend>
                        <div id="waste-hint" class="govuk-hint">
                          Which assessment period(s) would you like in the download file?
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              All 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                              Summer 2021
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                              Autumn 2021
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                              Summer 2022
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                              Autumn 2022
                            </label>
                          </div>
                        </div>
                    
                      </fieldset>
                    </div>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<script type="application/json" id="search-for-learner-validation">
  {

    "uln": {
      "presence": {
        "message": "^Enter a ULN with 10 digits"
      },
      "numericality": {
        "onlyInteger": true,
        "message": "^Enter a valid 10-digit ULN"
      },
      "length": {
        "is": 10,
        "message": "^Enter a valid 10-digit ULN"
      }
    }

  }
</script>


{% endblock %}
