{% extends "layout.html" %}

{% block pageTitle %}
  Search for a learner page
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
<a href="/V2-0/AO/tlevels-dashboard" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V2-0/AO/download-data/select-optional-columns" method="post" novalidate data-validate="data-validate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-xl">Download data</span>
            <!-- <input name="name"> -->
            <label class="govuk-label govuk-label--l" for="periods" value="Assessment period(s)" name="name" id="name">
              Select Assessment period(s)
            </label>
            <input name="assessment-name" value="Assessment period(s)" name="assessment-name" hidden="true">
            <input name="change-assessment" value="Change" name="change-assessment" hidden="true">

          </h1>
          <div class="govuk-form-group">

            <span class="govuk-hint" for="periods">
              Which assessment period(s) would you like in the download file?
            </span>
      
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input onclick="toggle(this);" class="govuk-checkboxes__input" id="logistics" name="periods"                 
                                  type="checkbox" value="All" {{ checked("periods", "All", "Summer 2021", "Autumn 2021", "Summer 2022", "Autumn 2022") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    All 
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="support-2" name="periods" type="checkbox" value="Summer 2021" {{ checked("periods", "Summer 2021") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Summer 2021
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="support-3" name="periods" type="checkbox" value="Autumn 2021" {{ checked("periods", "Summer 2021") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Autumn 2021
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="support-3" name="periods" type="checkbox" value="Summer 2022" {{ checked("periods", "Summer 2022") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Summer 2022
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="support-3" name="periods" type="checkbox" value="Autumn 2022" {{ checked("periods", "Autumn 2022") }}>
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Autumn 2022
                                  </label>
                                </div>
          </div>
      
                  </div>

            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

<script>

  function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
  }
  </script>
  


<script type="application/json" id="data-validate">
  {

    "periods": {
      "presence": {
        "message": "^Select which assessment period(s) you would like in the download file "
      }
    }

  }
</script>


{% endblock %}
