{% extends "layout.html" %}

{% block pageTitle %}
  Your data is ready
{% endblock %}

<link rel="stylesheet" href="/stylesheets/development.css">

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/tlevels-dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/V2-0/AO/download-data/download-data">Download data</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" style="text-decoration: none;">Your data is ready</a> 
    </li>
  </ol>
</div>{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/V2-0/AO/download-data/download-data" method="post" novalidate data-validate="search-for-learner-validation">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    {# <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                      <span class="govuk-caption-xl">Download data</span>
                    </legend> #}

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h1 class="govuk-fieldset__heading">
                            Your data is ready
                          </h1>
                        </legend>

                      </fieldset>
                    </div>

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/document-image.png" alt="Document-image">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                        <h1 class="govuk-heading-s">Download
                        
                        <a href="data:text/csv;charset=utf-8,ULN,First Name,Last Name,Date of Birth,UKPRN,Academic year,Core code,Specialism code(s),Status
                          1111111111,First1,Last1,10012006,10000536,2021/22,60369115,ZTLOS028,Active,1111111112,First2,Last2e,7102003,10000536,2021/22,60369115,ZTLOS028,Active" download="2111021302registrations.csv">2111021302registrations.CSV, 270 bytes</a>
                      </h1>
                       </div>
                    </div>


            </div>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Download more data
            </button>
        </form>
    </div>
</div>


{% endblock %}
