{% extends "layout.html" %}

{% block pageTitle %}
Your details have been saved | T Levels and industry placement support for employersx
{% endblock %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row eoi-form-journey">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l govuk-!-margin-bottom-6">Step 3 of 3</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check your answers before sending your details</h1>

      <h2 class="govuk-heading-m">About you</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-one">
              Change
              <span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-one">
              Change
              <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['telephone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-one">
              Change
              <span class="govuk-visually-hidden"> telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact preference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contact-preference'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-one">
              Change
              <span class="govuk-visually-hidden"> contact preference</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">About your organisation</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['org-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> about your organisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Website
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['org-website'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> website</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary industry
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['organisation-industry'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> primary industry</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Industry placement skill areas
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['skill-area'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> industry placement skill areas</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> postcode</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['spec-req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="form-two">
              Change
              <span class="govuk-visually-hidden"> additional information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your details</h2>

      <p>By submitting this form you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">


          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0" for="waste">
                <p class="govuk-!-font-size-19">By selecting this box you confirm that you consent to the Department for Education processing and storing your data for the purposes described in the <a href="https://www.gov.uk/government/publications/privacy-notice-for-key-stage-5-and-adult-education" class="govuk-link" style="border:none;">privacy notice</a>.</p>
                <p class="govuk-!-font-size-19 govuk-!-margin-bottom-0">In doing so, we will comply with the General Data Protection Regulation (GDPR) and ensure that any personal data (as defined by GDPR) is protected, used only for the purposes for which it was obtained and disposed of accordingly.</p>
              </label>
            </div>
          </div>

          <div class="govuk-checkboxes govuk-!-margin-top-6" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0" for="waste">
                <p class="govuk-!-font-size-19 govuk-!-margin-bottom-2">Select this box if you’re happy for the Department for Education’s T Levels team to use your contact information to ask you if you would like to take part in research or surveys for our services. </p>
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>
      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>


      </form>

    </div>
  </div>
{% endblock %}
