{% extends "layout.html" %}

{% block pageTitle %}
Your details have been saved | T Levels and industry placement support for employersx
{% endblock %}


{% block content %}
<div class="govuk-grid-row eoi-form-journey">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation" style="margin:-45px 0px 50px">
            <h1 class="govuk-panel__title">
              Your details have been saved
            </h1>
          </div>
  
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">The information you have provided will be shared with T Level schools and colleges near you for the next 12 weeks.</p>
          <p class="govuk-body">If a school or college would like to speak to you about hosting an industry placement or another T Level opportunity, they’ll get in touch using the contact details you have provided.</p>
          <p class="govuk-body">We have also sent you a confirmation email. </p>
          <p class="govuk-body">In the meantime, if you’d like to learn more about T Levels and industry placements, you can go back to <a class="govuk-link" style="border-bottom:none;" href="https://employers.tlevels.gov.uk/hc/en-gb">T Levels and industry placement support for employers</a>.
          </p>
        </div>
      </div>
    </main>
  </div>

</div>
{% endblock %}
