{% extends "layout.html" %}

{% block pageTitle %}
Organisation details | T Levels and industry placement support for employers
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row eoi-form-journey" style="margin-top:-20px;">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l govuk-!-margin-bottom-6">Step 2 of 3</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">About your organisation</h1>

      
      <form class="form" action="check-answers" method="post">

      {{ govukInput({
        label: {
          text: "Organisation name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "org-name",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
        name: "org-name",
        autocomplete: "email",
        spellcheck: false,
        value: data['org-name']
      }) }}

      <!-- -- -- -->

      {{ govukInput({
        label: {
          text: "Website (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "org-website",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
        name: "org-website",
        spellcheck: false,
        value: data['org-website']
      }) }}

      <!-- -- -- -->

      {% set otherHtml %}
      {{ govukInput({
        id: "org-other-entry",
        classes: "govuk-input--width-30 govuk-!-margin-bottom-2",
        name: "org-other-entry",
        spellcheck: false,
        value: data['org-other-entry']
      }) }}
      {% endset -%}

      {{ govukRadios({
        
        idPrefix: "organisation-industry",
        name: "organisation-industry",
        fieldset: {
          legend: {
            text: "What is your organisation's primary industry?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        classes: "govuk-!-margin-bottom-4",
        items: [
          {
            value: "Admin and business support",
            text: "Admin and business support",
            checked: checked("organisation-industry", "Admin and business support")
          },
          {
            value: "Agriculture",
            text: "Agriculture",
            checked: checked("organisation-industry", "Agriculture")
          },
          {
            value: "Arts, entertainment, and recreation",
            text: "Arts, entertainment, and recreation",
            checked: checked("organisation-industry", "Arts, entertainment, and recreation")
          },
          {
            value: "Construction",
            text: "Construction",
            checked: checked("organisation-industry", "Construction")
          },
          {
            value: "Education and childcare",
            text: "Education and childcare",
            checked: checked("organisation-industry", "Education and childcare")
          },
          {
            value: "Financial services",
            text: "Financial services",
            checked: checked("organisation-industry", "Financial services")
          },
          {
            value: "Health and social care",
            text: "Health and social care",
            checked: checked("organisation-industry", "Health and social care")
          },
          {
            value: "Hospitality",
            text: "Hospitality",
            checked: checked("organisation-industry", "Hospitality")
          },
          {
            value: "IT and communications",
            text: "IT and communications",
            checked: checked("organisation-industry", "IT and communications")
          },
          {
            value: "Manufacturing and engineering",
            text: "Manufacturing and engineering",
            checked: checked("organisation-industry", "Manufacturing and engineering")
          },
          {
            value: "Public sector",
            text: "Public sector",
            checked: checked("organisation-industry", "Public sector")
          },
          {
            value: "Retail and wholesale",
            text: "Retail and wholesale",
            checked: checked("organisation-industry", "Retail and wholesale")
          },
          {
            value: "Transport",
            text: "Transport",
            checked: checked("organisation-industry", "Transport")
          },
          {
            value: "Utilities",
            text: "Utilities",
            checked: checked("organisation-industry", "Utilities")
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("organisation-industry", "Other"),
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

      <!-- -- -- -->

      {{ govukCheckboxes({
        
        idPrefix: "skill-area",
        name: "skill-area",
        fieldset: {
          legend: {
            text: "What skill area would you be interested in hosting an industry placement in?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        classes: "govuk-!-margin-bottom-4",
        items: [
        {
          value: "Agriculture, Environment and Animal Care",
          text: "Agriculture, Environment and Animal Care",
          checked: checked("skill-area", "Agriculture, Environment and Animal Care")
        },
        {
          value: "Business and Administration",
          text: "Business and Administration",
          checked: checked("skill-area", "Business and Administration")
        },
        {
          value: "Arts, entertainment, and recreation",
          text: "Arts, entertainment, and recreation",
          checked: checked("skill-area", "Arts, entertainment, and recreation")
        },
        {
          value: "Catering",
          text: "Catering",
          checked: checked("skill-area", "Catering")
        },
        {
          value: "Construction and the Built Environment",
          text: "Construction and the Built Environment",
          checked: checked("skill-area", "Construction and the Built Environment")
        },
        {
          value: "Creative and Design",
          text: "Creative and Design",
          checked: checked("skill-area", "Creative and Design")
        },
        {
          value: "Digital and IT",
          text: "Digital and IT",
          checked: checked("skill-area", "Digital and IT")
        },
        {
          value: "Education and Childcare",
          text: "Education and Childcare",
          checked: checked("skill-area", "Education and Childcare")
        },
        {
          value: "Engineering and Manufacturing",
          text: "Engineering and Manufacturing",
          checked: checked("skill-area", "Engineering and Manufacturing")
        },
        {
          value: "Hair and Beauty",
          text: "Hair and Beauty",
          checked: checked("skill-area", "Hair and Beauty")
        },
        {
          value: "Health and Science",
          text: "Health and Science",
          checked: checked("skill-area", "Health and Science")
        },
        {
          value: "Legal, Finance and Accounting",
          text: "Legal, Finance and Accounting",
          checked: checked("skill-area", "Legal, Finance and Accounting")
        }
        ]
      }) }}

      <!-- -- -- -->


      <div class="govuk-form-group" style="display:flex; flex-direction:column; justify-content: left;">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            Enter the postcode of your organisation’s location
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint govuk-!-margin-bottom-5">
          This should be the location where any industry placements might take place. You can add up to 6. 
        </div>


        <div class="location-block-wrap govuk-!-margin-bottom-5"
          style="padding:20px 0px 20px 40px; border-left:5px solid #eaeaea;">


          <table class="govuk-table postcode-add-table govuk-!-margin-bottom-8 hidden-element">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Southampton office</th>
                <td class="govuk-table__cell">SO53 4SY</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link">Remove</a></td>
              </tr>
              <tr class="govuk-table__row postcode-add-table-row hidden-element">
                <th scope="row" class="govuk-table__header">Portsmouth office</th>
                <td class="govuk-table__cell">PO22 9AJ</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a
                    class="govuk-link postcode-table-remove">Remove</a></td>
              </tr>
              <tr class="govuk-table__row postcode-add-table-row-two hidden-element">
                <th scope="row" class="govuk-table__header">London office</th>
                <td class="govuk-table__cell">SW19 7QR</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a
                    class="govuk-link postcode-table-remove">Remove</a></td>
              </tr>
              <tr class="govuk-table__row postcode-add-table-row-three hidden-element">
                <th scope="row" class="govuk-table__header">Hapley office</th>
                <td class="govuk-table__cell">HP2 5BX</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a
                    class="govuk-link postcode-table-remove">Remove</a></td>
              </tr>
              <tr class="govuk-table__row postcode-add-table-row-four hidden-element">
                <th scope="row" class="govuk-table__header">Bredbury office</th>
                <td class="govuk-table__cell">SK6 2EG</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a
                    class="govuk-link postcode-table-remove">Remove</a></td>
              </tr>
              <tr class="govuk-table__row postcode-add-table-row-five hidden-element">
                <th scope="row" class="govuk-table__header">Milnrow office</th>
                <td class="govuk-table__cell">OL16 4JB</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a
                    class="govuk-link postcode-table-remove-six">Remove</a></td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-form-group le-loc-name" style="margin-right:30px; float:left;">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                Location name
              </label>
            </h2>
            <input class="govuk-input--width-20 govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <div class="govuk-form-group le-loc-postcode govuk-!-margin-bottom-0">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                Postcode
              </label>
            </h2>
            <input class="govuk-input--width-10 govuk-input" id="address-postcode" name="address-postcode" type="text"
              aria-describedby="event-name-hint" autocomplete="postal-code">
          </div>

          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-one"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-two hidden-element"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-three hidden-element"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-four hidden-element"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-five hidden-element"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-six hidden-element"
            data-module="govuk-button">
            Add
          </a>
          <a role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-0 postcode-add-btn-seven hidden-element"
            data-module="govuk-button">
            Add
          </a>

          <div class="postcode-max-prompt hidden-element">
            <p class="govuk-body govuk-!-margin-bottom-0">You have reached the maximum number of locations. If you are interested in offering placements at more than 6 locations, please <a href="" class="govuk-link">contact us</a>.</p>
          </div>

        </div>
      </div>

      <!-- -- -- -->

      {{ govukTextarea({
        name: "spec-req",
        id: "spec-req",
        label: {
          text: "Enter any additional information (optional)",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-margin-bottom-6",
        value: data['spec-req']
      }) }}

      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

  <script type="text/javascript">
    $(".postcode-add-btn-one").click(function () {
      $('.postcode-add-table, .postcode-add-btn-two').removeClass("hidden-element");
      $('.postcode-add-btn-one').addClass("hidden-element");
    });
  
    $(".postcode-add-btn-two").click(function () {
      $('.postcode-add-table-row, .postcode-add-btn-three').removeClass("hidden-element");
      $('.postcode-add-btn-two').addClass("hidden-element");
    });

    $(".postcode-add-btn-three").click(function () {
      $('.postcode-add-table-row-two, .postcode-add-btn-four').removeClass("hidden-element");
      $('.postcode-add-btn-three').addClass("hidden-element");
    });

    $(".postcode-add-btn-four").click(function () {
      $('.postcode-add-table-row-three, .postcode-add-btn-five').removeClass("hidden-element");
      $('.postcode-add-btn-four').addClass("hidden-element");
    });

    $(".postcode-add-btn-five").click(function () {
      $('.postcode-add-table-row-four, .postcode-add-btn-six').removeClass("hidden-element");
      $('.postcode-add-btn-five').addClass("hidden-element");
    });

    $(".postcode-add-btn-six").click(function () {
      $('.postcode-add-table-row-five, .postcode-max-prompt').removeClass("hidden-element");
      $('.postcode-add-btn-six, .le-loc-name, .le-loc-postcode').addClass("hidden-element");
    });

    

    $(".postcode-table-remove-six").click(function () {
      $('.postcode-add-table-row-five, .postcode-max-prompt').addClass("hidden-element");
      $('.postcode-add-btn-six, .le-loc-name, .le-loc-postcode').removeClass("hidden-element");
    });


    
  
    $(".postcode-table-remove").click(function () {
      $('.postcode-add-table-row').addClass("hidden-element");
    });
  </script>

{% endblock %}
