{% extends "layout.html" %}

{% block pageTitle %}
Organisation details | T Levels and industry placement support for employers
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row eoi-form-journey" style="margin-top:-20px;">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l govuk-!-margin-bottom-6">Step 2 of 3</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">About your organisation</h1>

      
      <form class="form" action="check-answers" method="post">

      {{ govukInput({
        label: {
          text: "Organisation name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "org-name",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
        name: "org-name",
        autocomplete: "email",
        spellcheck: false,
        value: data['org-name']
      }) }}

      <!-- -- -- -->

      {{ govukInput({
        label: {
          text: "Website (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "org-website",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
        name: "org-website",
        spellcheck: false,
        value: data['org-website']
      }) }}

      <!-- -- -- -->

      {% set otherHtml %}
      {{ govukInput({
        id: "org-other-entry",
        classes: "govuk-input--width-30 govuk-!-margin-bottom-2",
        name: "org-other-entry",
        spellcheck: false,
        value: data['org-other-entry']
      }) }}
      {% endset -%}

      {{ govukRadios({
        
        idPrefix: "organisation-industry",
        name: "organisation-industry",
        fieldset: {
          legend: {
            text: "What is your organisation's primary industry?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        classes: "govuk-!-margin-bottom-4",
        items: [
          {
            value: "Admin and business support",
            text: "Admin and business support",
            checked: checked("organisation-industry", "Admin and business support")
          },
          {
            value: "Agriculture",
            text: "Agriculture",
            checked: checked("organisation-industry", "Agriculture")
          },
          {
            value: "Arts, entertainment, and recreation",
            text: "Arts, entertainment, and recreation",
            checked: checked("organisation-industry", "Arts, entertainment, and recreation")
          },
          {
            value: "Construction",
            text: "Construction",
            checked: checked("organisation-industry", "Construction")
          },
          {
            value: "Education and childcare",
            text: "Education and childcare",
            checked: checked("organisation-industry", "Education and childcare")
          },
          {
            value: "Financial services",
            text: "Financial services",
            checked: checked("organisation-industry", "Financial services")
          },
          {
            value: "Health and social care",
            text: "Health and social care",
            checked: checked("organisation-industry", "Health and social care")
          },
          {
            value: "Hospitality",
            text: "Hospitality",
            checked: checked("organisation-industry", "Hospitality")
          },
          {
            value: "IT and communications",
            text: "IT and communications",
            checked: checked("organisation-industry", "IT and communications")
          },
          {
            value: "Manufacturing and engineering",
            text: "Manufacturing and engineering",
            checked: checked("organisation-industry", "Manufacturing and engineering")
          },
          {
            value: "Public sector",
            text: "Public sector",
            checked: checked("organisation-industry", "Public sector")
          },
          {
            value: "Retail and wholesale",
            text: "Retail and wholesale",
            checked: checked("organisation-industry", "Retail and wholesale")
          },
          {
            value: "Transport",
            text: "Transport",
            checked: checked("organisation-industry", "Transport")
          },
          {
            value: "Utilities",
            text: "Utilities",
            checked: checked("organisation-industry", "Utilities")
          },
          {
            value: "Other",
            text: "Other",
            checked: checked("organisation-industry", "Other"),
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

      <!-- -- -- -->

      {{ govukCheckboxes({
        
        idPrefix: "skill-area",
        name: "skill-area",
        fieldset: {
          legend: {
            text: "What skill area would you be interested in hosting an industry placement in?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        classes: "govuk-!-margin-bottom-4",
        items: [
        {
          value: "Agriculture, Environment and Animal Care",
          text: "Agriculture, Environment and Animal Care",
          checked: checked("skill-area", "Agriculture, Environment and Animal Care")
        },
        {
          value: "Business and Administration",
          text: "Business and Administration",
          checked: checked("skill-area", "Business and Administration")
        },
        {
          value: "Arts, entertainment, and recreation",
          text: "Arts, entertainment, and recreation",
          checked: checked("skill-area", "Arts, entertainment, and recreation")
        },
        {
          value: "Catering",
          text: "Catering",
          checked: checked("skill-area", "Catering")
        },
        {
          value: "Construction and the Built Environment",
          text: "Construction and the Built Environment",
          checked: checked("skill-area", "Construction and the Built Environment")
        },
        {
          value: "Creative and Design",
          text: "Creative and Design",
          checked: checked("skill-area", "Creative and Design")
        },
        {
          value: "Digital and IT",
          text: "Digital and IT",
          checked: checked("skill-area", "Digital and IT")
        },
        {
          value: "Education and Childcare",
          text: "Education and Childcare",
          checked: checked("skill-area", "Education and Childcare")
        },
        {
          value: "Engineering and Manufacturing",
          text: "Engineering and Manufacturing",
          checked: checked("skill-area", "Engineering and Manufacturing")
        },
        {
          value: "Hair and Beauty",
          text: "Hair and Beauty",
          checked: checked("skill-area", "Hair and Beauty")
        },
        {
          value: "Health and Science",
          text: "Health and Science",
          checked: checked("skill-area", "Health and Science")
        },
        {
          value: "Legal, Finance and Accounting",
          text: "Legal, Finance and Accounting",
          checked: checked("skill-area", "Legal, Finance and Accounting")
        }
        ]
      }) }}


      <!-- -- -- -->

      {{ govukInput({
        label: {
          text: "Enter the postcode of your organisation's location",
          classes: "govuk-label--m"
        },
        hint: {
          text: "This should be the location where any industry placements might take place."
        },
        classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
        id: "address-postcode",
        name: "address-postcode",
        autocomplete: "postal-code",
        value: data['address-postcode']
      }) }}

      <!-- -- -- -->

      {{ govukTextarea({
        name: "spec-req",
        id: "spec-req",
        label: {
          text: "Enter any additional information (optional)",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-margin-bottom-6",
        value: data['spec-req']
      }) }}

      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
